<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.asiainfo.biapp.pec.plan.jx.cep.dao.EventManageDao">


    <resultMap id="TreeNodeResultMap" type="com.asiainfo.biapp.pec.plan.jx.cep.model.TreeNodeDTO">
        <result column="ID" property="id" />
        <result column="PARENT_ID" property="parentId" />
        <result column="NAME" property="label" />
    </resultMap>

    <resultMap id="CepEventVoResultMap" type="com.asiainfo.biapp.pec.plan.jx.cep.model.CepEventVo">
        <result column="ID" property="eventId" />
        <result column="NAME" property="eventName" />
        <result column="FIRST_CLASS_NAME" property="firstClassName" />
        <result column="SECOND_CLASS_NAME" property="secondClassName" />
        <result column="USER_NAME" property="createUserName" />
        <result column="CREATE_TIME" property="createTime" />
    </resultMap>

    <select id="queryCepEventTypeList" resultMap="TreeNodeResultMap">
        SELECT T.ID ,T.PARENT_ID,T.NAME FROM CEP_DIM_EVENT_CLASS T
        WHERE 1=1
        <if test="keyWords != null and keyWords != '' ">
            AND ( T.NAME LIKE CONCAT('%',#{keyWords},'%')
                OR T.ID LIKE CONCAT('%',#{keyWords},'%')
                )
        </if>
    </select>
    <select id="queryEvents" resultMap="CepEventVoResultMap">
        SELECT T.ID, T.NAME,
                T.CREATE_TIME ,
                T.FIRST_CLASS as FIRST_CLASS_ID ,
                T1.NAME AS FIRST_CLASS_NAME,
                T.SECOND_CLASS AS SECOND_CLASS_ID,
                T2.NAME AS SECOND_CLASS_NAME,
                T3.USER_NAME
        FROM CEP_RULE T
                 LEFT JOIN CEP_DIM_EVENT_CLASS T1 ON T.FIRST_CLASS = T1.ID
                 LEFT JOIN CEP_DIM_EVENT_CLASS T2 ON T.SECOND_CLASS = T2.ID
                 LEFT JOIN MCD_SYS_USER T3 ON T.CREATE_USER = T3.USER_ID
        <where>

            <choose>
                <when test="param.keyWords != null and param.keyWords != ''">
                    ( T.ID like concat('%', #{param.keyWords}, '%') or T.NAME like concat('%', #{param.keyWords}, '%') )
                </when>
                <otherwise>
                    1 = 1
                </otherwise>
            </choose>
            <if test="param.classifyId != null and param.classifyId != ''">
                and ( T.FIRST_CLASS =  #{param.classifyId} OR T.SECOND_CLASS = #{param.classifyId} )
            </if>
            <if test="param.userId != null and param.userId != ''">
            and (
                 t.CREATE_USER = #{param.userId}
                or ( exists(select 1 from cep_rule_share crs where event_id = t.id and share_id = '-1')
                      or exists(select a.*
                                from (select event_id, share_id as USER_ID
                                        from cep_rule_share crs1
                                        where crs1.share_type = 2
                                        union
                                        select event_id, t1.USER_ID
                                        from cep_rule_share crs2
                                        join mcd_sys_user_role_relation t1 on crs2.share_id = t1.ROLE_ID
                                        where crs2.share_type = 1) a
                            where a.event_id = t.id
                            and a.USER_ID = #{param.userId})
                      )
                )
            </if>
            order by T.CREATE_TIME desc
        </where>
    </select>
    <select id="queryEventsByUserId" resultMap="CepEventVoResultMap">
        SELECT T.ID, T.NAME,  T.CREATE_TIME ,T1.NAME AS FIRST_CLASS_NAME,T2.NAME AS SECOND_CLASS_NAME, T3.USER_NAME
        FROM CEP_RULE T
                 LEFT JOIN CEP_DIM_EVENT_CLASS T1 ON T.FIRST_CLASS = T1.ID
                 LEFT JOIN CEP_DIM_EVENT_CLASS T2 ON T.SECOND_CLASS = T2.ID
                 LEFT JOIN MCD_SYS_USER T3 ON T.CREATE_USER = T3.USER_ID
        <where>

            <choose>
                <when test="param.keyWords != null and param.keyWords != ''">
                    ( T.ID like concat('%', #{param.keyWords}, '%') or T.NAME like concat('%', #{param.keyWords}, '%') )
                </when>
                <otherwise>
                    1 = 1
                </otherwise>
            </choose>
            <if test="param.classifyId != null and param.classifyId != ''">
                and ( T.FIRST_CLASS =  #{param.classifyId} OR T.SECOND_CLASS = #{param.classifyId} )
            </if>
            <if test="param.userId != null and param.userId != ''">
                and t.CREATE_USER = #{param.userId}
            </if>
            order by T.CREATE_TIME desc
        </where>
    </select>

</mapper>
