<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.asiainfo.biapp.pec.plan.jx.camp.dao.IopActivityInfoJxDao">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.asiainfo.biapp.pec.plan.model.IopActivityInfo">
        <id column="ACTIVITY_ID" property="activityId"/>
        <result column="ACTIVITY_TEMPLATEID" property="activityTemplateid"/>
        <result column="ACTIVITY_NAME" property="activityName"/>
        <result column="ACTIVITY_STATUS" property="activityStatus"/>
        <result column="ACTIVITY_STARTTIME" property="activityStarttime"/>
        <result column="ACTIVITY_ENDTIME" property="activityEndtime"/>
        <result column="ACTIVITY_TYPE" property="activityType"/>
        <result column="ACTIVITY_OBJECTIVE" property="activityObjective"/>
        <result column="ACTIVITY_DESCRIBE" property="activityDescribe"/>
        <result column="TWICEPLAN_REQUEST_ACCTIME" property="twiceplanRequestAcctime"/>
        <result column="PRO_ID" property="proId"/>
        <result column="ACTATTR_EXTMAP" property="actattrExtmap"/>
        <result column="COMMON_KPILIST" property="commonKpilist"/>
        <result column="PCC_KPILIST" property="pccKpilist"/>
        <result column="OTHER_KPILIST" property="otherKpilist"/>
        <result column="CYCLE" property="cycle"/>
        <result column="FLOW" property="flow"/>
        <result column="CAMPSEG_PID" property="campsegPid"/>
        <result column="STATUS" property="status"/>
        <result column="activity_topic_id" property="activityTopicId"/>
        <result column="activity_topic_name" property="activityTopicName"/>
        <result column="BATCH_ID" property="batchId"/>
    </resultMap>


    <select id="queryActivityInfo" resultType="com.asiainfo.biapp.pec.plan.vo.ActivityVO">
         select distinct ACTIVITY_TEMPLATE_ID ,ACTIVITY_ID,ACTIVITY_NAME,ACTIVITY_STATUS,ACTIVITY_START_TIME ,ACTIVITY_END_TIME
         ,ACTIVITY_TYPE,ACTIVITY_OBJECTIVE,CYCLE,TEMPLATE_STATE ,DISTRIBUTE_PERSON,activityStatusName,activityTypeName,FLOW
          from (
           SELECT ac.FLOW,ac.ACTIVITY_TEMPLATEID ACTIVITY_TEMPLATE_ID,ac.ACTIVITY_ID ,ac.ACTIVITY_NAME,ac.ACTIVITY_STATUS,actStatus.ENUMVALUE activityStatusName,
           date_format(ac.ACTIVITY_STARTTIME,'%Y-%m-%d') ACTIVITY_START_TIME,date_format(ac.ACTIVITY_ENDTIME,'%Y-%m-%d') ACTIVITY_END_TIME,actType.ENUMVALUE activityTypeName,
           ac.ACTIVITY_TYPE,ac.ACTIVITY_OBJECTIVE,ac.CYCLE,template.ACTIVITY_TEMPLATE_ID TEMPLATE_STATE,relation.USER_ID  DISTRIBUTE_PERSON
           FROM IOP_ACTIVITY_INFO ac  LEFT JOIN mcd_camp_def template ON  ac.ACTIVITY_TEMPLATEID = template.ACTIVITY_TEMPLATE_ID
           LEFT JOIN  IOP_USER_TEMPLATE_RELATION relation ON ac.ACTIVITY_TEMPLATEID = relation.ACTIVITY_TEMPLATE_ID
           LEFT JOIN (select ENUM_VALUE ENUMVALUE,ENUM_KEY ENUMKEY from mcd_sys_enum  where ENUM_TYPE='iop_activity_status' ) actStatus
           on actStatus.ENUMKEY = ac.ACTIVITY_STATUS
           LEFT JOIN (select ENUM_VALUE ENUMVALUE,ENUM_KEY ENUMKEY from mcd_sys_enum  where ENUM_TYPE='iop_activity_type' ) actType
           on actType.ENUMKEY = ac.ACTIVITY_TYPE
           where 1=1
           <if test="param.activityTemplateId != null and param.activityTemplateId != '' ">
               and ac.ACTIVITY_TEMPLATEID like concat('%',#{param.activityTemplateId},'%')
           </if>
           <if test="param.activityId != null and param.activityId != '' ">
               and (ac.ACTIVITY_ID like concat('%',#{param.activityId},'%')  or ac.ACTIVITY_NAME like concat('%',#{param.activityId},'%')  )
           </if>
           <if test="param.activityType != null and param.activityType != '' ">
               and ac.ACTIVITY_TYPE = #{param.activityType}
           </if>

           <if test="param.activityStatus != null and param.activityStatus != '' ">
               and ac.ACTIVITY_STATUS = #{param.activityStatus}
           </if>
        <if test="param.flow != null and param.flow != '' ">
            and ac.FLOW = #{param.flow}
        </if>
           <if test="param.activityStartTime != null and param.activityStartTime != '' ">
               <![CDATA[  AND DATE_FORMAT(ac.ACTIVITY_STARTTIME,'%Y-%m-%d') >= #{param.activityStartTime} ]]>
           </if>
           <if test="param.activityEndTime != null and param.activityEndTime != '' ">
               <![CDATA[  AND DATE_FORMAT(ac.ACTIVITY_ENDTIME,'%Y-%m-%d') <= #{param.activityEndTime} ]]>
           </if>
            <if test="param.userId != null and param.userId != '' ">
                and relation.USER_ID = #{param.userId}
            </if>

          ) a ORDER BY  ACTIVITY_START_TIME DESC,ACTIVITY_TEMPLATE_ID asc
    </select>

    <update id="updateActivityStatus">
         update IOP_ACTIVITY_INFO ac set ac.status = #{status} where ac.ACTIVITY_TEMPLATEID = #{activityTemplateId}   and ac.ACTIVITY_ID= #{activityId}
    </update>

</mapper>
