<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.asiainfo.biapp.pec.plan.jx.coordination.dao.McdCoordinatePlanDao">

    <select id="qryPlanConfList" resultType="com.asiainfo.biapp.pec.plan.jx.coordination.model.McdCoordinatePlanModel">
        select mcp.PLAN_NAME planName, mcp.PLAN_ID planId, mcpt.TYPE_ID typeId, mcpt.TYPE_NAME typeName, mpd.PLAN_START_DATE startDate, mpd.PLAN_END_DATE endDate,
              mcp.operator operator, mcp.PRIORITY priority, mcp.update_time updateTime
        from mcd_coordinate_plan mcp
        left join mcd_coordinate_plan_type mcpt
        on mcp.TYPE_ID = mcpt.TYPE_ID
        inner join mcd_plan_def mpd
        on mcp.PLAN_ID = mpd.PLAN_ID
        where mcp.status = 1 and mcpt.status = 1
        <if test="query.keyWords != null and query.keyWords != ''">
            AND (mcp.PLAN_ID like concat('%',#{query.keyWords},'%') or mcp.PLAN_NAME like concat('%',#{query.keyWords},'%'))
        </if>
        <if test="query.planType != null and query.planType != ''">
            AND mcpt.TYPE_ID = #{query.planType}
        </if>
        <if test="isUpdate == true">
            order by mcpt.TYPE_ID, mcp.PRIORITY, mcp.create_time desc
        </if>
        <if test="isUpdate == false">
            AND mcp.PRIORITY is not null
            order by mcp.PRIORITY asc, mcp.create_time desc
        </if>
    </select>

    <select id="qryPlanConfListByPlanTypeOnSave" resultType="com.asiainfo.biapp.pec.plan.jx.coordination.model.McdCoordinatePlanModel">
        select mcp.PLAN_NAME planName, mcp.PLAN_ID planId, mcpt.TYPE_ID typeId, mcpt.TYPE_NAME typeName, mpd.PLAN_START_DATE startDate, mpd.PLAN_END_DATE endDate,
        mcp.operator operator, mcp.PRIORITY priority, mcp.update_time updateTime
        from mcd_coordinate_plan mcp
        left join mcd_coordinate_plan_type mcpt
        on mcp.TYPE_ID = mcpt.TYPE_ID
        inner join mcd_plan_def mpd
        on mcp.PLAN_ID = mpd.PLAN_ID
        where mcp.status = 1 and mcpt.status = 1
        <if test="query.keyWords != null and query.keyWords != ''">
            AND (mcp.PLAN_ID like concat('%',#{query.keyWords},'%') or mcp.PLAN_NAME like concat('%',#{query.keyWords},'%'))
        </if>
        AND mcpt.TYPE_ID = #{query.planType}
        AND mcp.PRIORITY is not null
        order by mcp.PRIORITY asc, mcp.create_time desc
    </select>

    <select id="qryNotCfgPlanTypeAndPri" resultType="com.asiainfo.biapp.pec.plan.jx.camp.model.McdPlanDef">
        select mpd.PLAN_NAME planName, mpd.PLAN_ID planId, mpd.PROD_CLASS_BUSI prodClassBusi, mpd.PLAN_START_DATE planStartDate, mpd.PLAN_END_DATE planEndDate
         from mcd_plan_def mpd
        left join mcd_coordinate_plan mcp
        on mpd.PLAN_ID = mcp.PLAN_ID
        where mcp.TYPE_ID is null and mcp.PRIORITY is null
        <if test="query.prodClassBusi != null and query.prodClassBusi != ''">
            and mpd.PROD_CLASS_BUSI = #{query.prodClassBusi}
        </if>
        <if test="query.keyWords != null and query.keyWords != ''">
            AND (mpd.PLAN_ID like concat('%',#{query.keyWords},'%') or mpd.PLAN_NAME like concat('%',#{query.keyWords},'%'))
        </if>
    </select>

    <select id="qryPlanTypeList" resultType="com.asiainfo.biapp.pec.plan.jx.coordination.vo.McdCoordinatePlanTypeVo">
        select TYPE_ID typeId, TYPE_NAME typeName, order_by orderBy, status status
        from mcd_coordinate_plan_type where status = 1
    </select>

</mapper>
