<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.asiainfo.biapp.pec.plan.jx.custgroup.dao.McdCustgroupDefJxDao">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.asiainfo.biapp.pec.plan.jx.custgroup.model.McdCustgroupDefJx">
        <id column="CUSTOM_GROUP_ID" property="customGroupId"/>
        <result column="CUSTOM_GROUP_NAME" property="customGroupName"/>
        <result column="CUSTOM_GROUP_DESC" property="customGroupDesc"/>
        <result column="CUSTOM_NUM" property="customNum"/>
        <result column="ACTUAL_CUSTOM_NUM" property="actualCustomNum"/>
        <result column="CUSTOM_STATUS_ID" property="customStatusId"/>
        <result column="CUSTOM_SOURCE_ID" property="customSourceId"/>
        <result column="CREATE_USER_ID" property="createUserId"/>
        <result column="PUSH_TARGET_USER" property="pushTargetUser"/>
        <result column="CREATE_TIME" property="createTime"/>
        <result column="UPDATE_TIME" property="updateTime"/>
        <result column="EFFECTIVE_TIME" property="effectiveTime"/>
        <result column="FAIL_TIME" property="failTime"/>
        <result column="UPDATE_CYCLE" property="updateCycle"/>
        <result column="LIST_TABLE_NAME" property="listTableName"/>
        <result column="DATA_DATE" property="dataDate"/>
        <result column="RULE_DESC" property="ruleDesc"/>
        <result column="SYNC_TIMES" property="syncTimes"/>
        <result column="CUST_TYPE" property="custType"/>
        <result column="IS_PUSH_OTHER" property="isPushOther"/>
        <result column="FILE_NAME" property="fileName"/>
        <result column="UPDATE_STATUS" property="updateStatus"/>
    </resultMap>
    <select id="moreMyCustom" resultMap="detailMap">
        select cust.*,msu.user_name CREATE_USER_NAME, '' ATTR_COL_NAME, '' HAS_CUSTOM_ATTRS
        from MCD_CUSTGROUP_DEF cust
        left join mcd_sys_user msu
        on cust.CREATE_USER_ID = msu.USER_ID
        <where>
            (cust.PUSH_TARGET_USER = 'ALL' or cust.PUSH_TARGET_USER like concat('%',#{userId,jdbcType=VARCHAR},'%') or cust.CREATE_USER_ID = #{userId,jdbcType=VARCHAR} )
            and cust.CUSTOM_STATUS_ID = 1
            and cust.CUST_TYPE in
            <foreach collection="custType" item="item" open="(" close=")" separator=",">
                #{item}
            </foreach>
            and cust.CUSTOM_SOURCE_ID = 1
            and cust.EFFECTIVE_TIME <![CDATA[ <= ]]> NOW()
            and (cust.FAIL_TIME >= NOW() or cust.FAIL_TIME is null)
            <if test="isQryNotLimitCust != null and 0 == isQryNotLimitCust">
                and cust.CUSTOM_GROUP_ID != 'JX0000000001'
            </if>
            <if test="aIIntellRec != null and 1 == aIIntellRec">
                and cust.COLUMN_NUM is not null
            </if>
        </where>
        order by cust.update_time desc
    </select>

    <resultMap id="detailMap" type="com.asiainfo.biapp.pec.plan.jx.custgroup.vo.CustgroupDetailJxVO">
        <id column="CUSTOM_GROUP_ID" property="customGroupId"/>
        <result column="CUSTOM_GROUP_NAME" property="customGroupName"/>
        <result column="CUSTOM_GROUP_DESC" property="customGroupDesc"/>
        <result column="CUSTOM_NUM" property="customNum"/>
        <result column="ACTUAL_CUSTOM_NUM" property="actualCustomNum"/>
        <result column="CUSTOM_STATUS_ID" property="customStatusId"/>
        <result column="CUSTOM_SOURCE_ID" property="customSourceId"/>
        <result column="CREATE_USER_ID" property="createUserId"/>
        <result column="CREATE_USER_NAME" property="createUserName"/>
        <result column="PUSH_TARGET_USER" property="pushTargetUser"/>
        <result column="CREATE_TIME" property="createTime"/>
        <result column="EFFECTIVE_TIME" property="effectiveTime"/>
        <result column="FAIL_TIME" property="failTime"/>
        <result column="UPDATE_CYCLE" property="updateCycle"/>
        <result column="LIST_TABLE_NAME" property="listTableName"/>
        <result column="DATA_DATE" property="dataDate"/>
        <result column="RULE_DESC" property="ruleDesc"/>
        <result column="SYNC_TIMES" property="syncTimes"/>
        <result column="CUST_TYPE" property="custType"/>
        <result column="IS_PUSH_OTHER" property="isPushOther"/>
        <result column="FILE_NAME" property="fileName"/>
        <result column="HAS_CUSTOM_ATTRS" property="hasCustomAttrs"/>
        <result column="UPDATE_STATUS" property="updateStatus"/>
        <collection property="customAttrs" ofType="string">
            <result column="ATTR_COL_NAME" />
        </collection>


    </resultMap>
    <select id="detailCustgroup" resultMap="detailMap">
        select cust.*,msu.user_name CREATE_USER_NAME,
               case when attr.ATTR_COL_NAME is not null then '有' else '无' end HAS_CUSTOM_ATTRS,
               attr.ATTR_COL_NAME
        from MCD_CUSTGROUP_DEF cust left join
             mcd_custgroup_attr_list attr
        on cust.CUSTOM_GROUP_ID = attr.custom_group_id and attr.ATTR_COL != 'product_no'
        left join mcd_sys_user msu
                  on cust.CREATE_USER_ID = msu.USER_ID
        where cust.CUSTOM_GROUP_ID = #{custgroupId,jdbcType=VARCHAR}
    </select>

</mapper>
