<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.asiainfo.biapp.pec.plan.jx.system.dao.ISystemUsageDao">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.asiainfo.biapp.pec.plan.jx.system.model.SystemUsage">
        <result column="accessNum" property="accessNum" />
        <result column="createCustNum" property="createCustNum" />
        <result column="createCampNum" property="createCampNum" />
        <result column="dataDate" property="dataDate" />

    </resultMap>


    <resultMap id="queryCityListMap" type="com.asiainfo.biapp.pec.plan.jx.system.model.SystemUsageCityDTO" extends="BaseResultMap">
        <result column="city_id" property="cityId" />
        <result column="city_name" property="cityName" />
    </resultMap>


    <select id="querySystemUsageCityList"  parameterType="String"  resultMap="queryCityListMap">

        select city.city_id, city.city_name, a.accessNum, b.createCustNum, c.createCampNum, concat(#{beginTime},'~',#{endTime}) dataDate
        from (select distinct du.city_id, ct.city_name
        from MCD_SYS_LOG msl
        left join mcd_sys_user du on msl.USER_ID = du.USER_ID
        left join mcd_sys_city ct on du.CITY_ID = ct.CITY_ID
        where du.CITY_ID is not null  and msl.log_type = 0
        and (date_format(msl.log_time, '%Y-%m-%d') >= #{beginTime}
        and date_format(msl.log_time, '%Y-%m-%d') &lt;= #{endTime})
        union select distinct du.city_id, ct.city_name
        from mcd_custgroup_def mcd
        left join mcd_sys_user du on mcd.CREATE_USER_ID = du.USER_ID
        left join mcd_sys_city ct on du.CITY_ID = ct.CITY_ID
        where du.CITY_ID is not null
        and (date_format(mcd.create_time, '%Y-%m-%d') >= #{beginTime}
        and date_format(mcd.create_time, '%Y-%m-%d') &lt;= #{endTime})
        union select distinct mcad.city_id, ct.city_name
        from mcd_camp_def mcad
        left join mcd_sys_city ct on mcad.CITY_ID = ct.CITY_ID
        where mcad.city_id is not null
        and  (date_format(mcad.create_time, '%Y-%m-%d') >= #{beginTime}
        and date_format(mcad.create_time, '%Y-%m-%d') &lt;= #{endTime})) city
        left join (select du.city_id, ct.city_name, count(1) accessNum
        from MCD_SYS_LOG msl
        left join mcd_sys_user du on msl.USER_ID = du.USER_ID
        left join mcd_sys_city ct on du.CITY_ID = ct.CITY_ID
        where du.CITY_ID is not null
         and msl.log_type = 0
         and  (date_format(msl.log_time, '%Y-%m-%d') >= #{beginTime}
        and date_format(msl.log_time, '%Y-%m-%d') &lt;= #{endTime})

        group by du.city_id, ct.city_name) a on city.city_id = a.city_id
        left join (select du.city_id, ct.city_name, count(1) createCustNum
        from mcd_custgroup_def mcd
        left join mcd_sys_user du on mcd.CREATE_USER_ID = du.USER_ID
        left join mcd_sys_city ct on du.CITY_ID = ct.CITY_ID
        where du.CITY_ID is not null
        and  (date_format(mcd.create_time, '%Y-%m-%d') >= #{beginTime}
        and date_format(mcd.create_time, '%Y-%m-%d') &lt;= #{endTime})

        group by du.city_id, ct.city_name) b on city.city_id = b.city_id
        left join (select mcad.city_id, ct.city_name, count(1) createCampNum
        from mcd_camp_def mcad
        left join mcd_sys_city ct on mcad.CITY_ID = ct.CITY_ID
        where  mcad.city_id is not null
        and (date_format(mcad.create_time, '%Y-%m-%d') >= #{beginTime}
        and date_format(mcad.create_time, '%Y-%m-%d') &lt;= #{endTime})

        and mcad.CAMPSEG_ROOT_ID !=  0
        group by mcad.city_id, ct.city_name) c on city.city_id = c.city_id

    </select>


    <resultMap id="queryDeptListMap" type="com.asiainfo.biapp.pec.plan.jx.system.model.SystemUsageDeptDTO" extends="BaseResultMap">
        <result column="DEPARTMENT_ID" property="deptId" />
        <result column="TITLE" property="deptName" />
    </resultMap>

    <select id="querySystemUsageDeptList"  parameterType="String"  resultMap="queryDeptListMap">

        select dept.DEPARTMENT_ID, dept.TITLE, a.accessNum, b.createCustNum, c.createCampNum, concat(#{beginTime},'~',#{endTime}) dataDate
        from (select distinct  du.DEPARTMENT_ID  , dt.TITLE
        from MCD_SYS_LOG msl
        left join mcd_sys_user du on du.USER_ID = msl.USER_ID
        left join mcd_sys_department dt on dt.DEPT_ID = du.DEPARTMENT_ID
        where dt.DEPT_ID is not null
          and msl.log_type = 0
         and (date_format(msl.log_time, '%Y-%m-%d') >= #{beginTime}
        and date_format(msl.log_time, '%Y-%m-%d') &lt;= #{endTime} )
        union select distinct du.DEPARTMENT_ID  , dt.TITLE
        from mcd_custgroup_def mcd
        left join mcd_sys_user du on du.USER_ID = mcd.CREATE_USER_ID
        left join mcd_sys_department dt on dt.DEPT_ID = du.DEPARTMENT_ID
        where dt.DEPT_ID is not null
        and  (date_format(mcd.create_time, '%Y-%m-%d') >= #{beginTime}
        and date_format(mcd.create_time, '%Y-%m-%d') &lt;= #{endTime})
        union select distinct du.DEPARTMENT_ID  , dt.TITLE
        from mcd_camp_def mcad
        left join mcd_sys_user du on du.USER_ID = mcad.CREATE_USER_ID
        left join mcd_sys_department dt on dt.DEPT_ID = du.DEPARTMENT_ID
        where dt.DEPT_ID is not null
         and (date_format(mcad.create_time, '%Y-%m-%d') >= #{beginTime}
        and date_format(mcad.create_time, '%Y-%m-%d') &lt;= #{endTime})) dept
        left join (select  du.DEPARTMENT_ID, dt.TITLE, count(1) accessNum
        from MCD_SYS_LOG msl
        left join mcd_sys_user du on du.USER_ID = msl.USER_ID
        left join mcd_sys_department dt on dt.DEPT_ID = du.DEPARTMENT_ID
        where dt.DEPT_ID is not null
         and msl.log_type = 0
        and (date_format(msl.log_time, '%Y-%m-%d') >= #{beginTime}
        and date_format(msl.log_time, '%Y-%m-%d') &lt;= #{endTime} )

        group by  du.DEPARTMENT_ID, dt.TITLE) a on dept.DEPARTMENT_ID = a.DEPARTMENT_ID
        left join (select du.DEPARTMENT_ID, dt.TITLE, count(1) createCustNum
        from mcd_custgroup_def mcd
        left join mcd_sys_user du on du.USER_ID = mcd.CREATE_USER_ID
        left join mcd_sys_department dt on dt.DEPT_ID = du.DEPARTMENT_ID
        where dt.DEPT_ID is not null
        and  (date_format(mcd.create_time, '%Y-%m-%d') >= #{beginTime}
        and date_format(mcd.create_time, '%Y-%m-%d') &lt;= #{endTime} )

        group by du.DEPARTMENT_ID, dt.TITLE) b on dept.DEPARTMENT_ID = b.DEPARTMENT_ID
        left join (select du.DEPARTMENT_ID, dt.TITLE, count(1) createCampNum
        from mcd_camp_def mcad
        left join mcd_sys_user du on du.USER_ID = mcad.CREATE_USER_ID
        left join mcd_sys_department dt on dt.DEPT_ID = du.DEPARTMENT_ID
        where dt.DEPT_ID is not null
        and  (date_format(mcad.create_time, '%Y-%m-%d') >= #{beginTime}
        and date_format(mcad.create_time, '%Y-%m-%d') &lt;= #{endTime})
        and mcad.CAMPSEG_ROOT_ID != 0
        group by du.DEPARTMENT_ID, dt.TITLE) c on dept.DEPARTMENT_ID = c.DEPARTMENT_ID

    </select>



    <resultMap id="queryPersonageListMap" type="com.asiainfo.biapp.pec.plan.jx.system.model.SystemUsagePersonageDTO" extends="BaseResultMap">
        <result column="user_id" property="userId" />
        <result column="user_name" property="userName" />
    </resultMap>


    <select id="querySystemUsagePersonageList"  parameterType="String"  resultMap="queryPersonageListMap">

        select users.user_id, u.user_name, a.accessNum, b.createCustNum, c.createCampNum, concat(#{beginTime},'~',#{endTime}) dataDate
        from (select distinct msl.user_id
        from MCD_SYS_LOG msl
        where msl.user_id is not null
        and msl.log_type = 0
        and ( date_format(msl.log_time, '%Y-%m-%d') >= #{beginTime}
        and date_format(msl.log_time, '%Y-%m-%d') &lt;= #{endTime} )
        union select distinct mcd.create_user_id user_id
        from mcd_custgroup_def mcd
        where mcd.create_user_id is not null
        and (date_format(mcd.create_time, '%Y-%m-%d') >= #{beginTime}
        and date_format(mcd.create_time, '%Y-%m-%d') &lt;= #{endTime})
        union select distinct mcad.CREATE_USER_ID user_id
        from mcd_camp_def mcad
        where mcad.CREATE_USER_ID is not null
        and (date_format(mcad.create_time, '%Y-%m-%d') >= #{beginTime}
        and date_format(mcad.create_time, '%Y-%m-%d') &lt;= #{endTime})) users
        left join mcd_sys_user u on u.USER_ID = users.USER_ID
        left join (select msl.user_id,  count(1) accessNum
        from MCD_SYS_LOG msl
        where  msl.user_id is not null
        and msl.log_type = 0
        and (date_format(msl.log_time, '%Y-%m-%d') >= #{beginTime}
        and date_format(msl.log_time, '%Y-%m-%d') &lt;= #{endTime})

        group by msl.user_id ) a on users.user_id = a.user_id
        left join (select mcd.create_user_id , count(1) createCustNum
        from mcd_custgroup_def mcd
        where mcd.create_user_id is not null
        and  (date_format(mcd.create_time, '%Y-%m-%d') >= #{beginTime}
        and date_format(mcd.create_time, '%Y-%m-%d') &lt;= #{endTime})

        group by mcd.create_user_id ) b on users.user_id = b.create_user_id
        left join (select mcad.CREATE_USER_ID , count(1) createCampNum
        from mcd_camp_def mcad
        where   mcad.CREATE_USER_ID is not null
        and  (date_format(mcad.create_time, '%Y-%m-%d') >= #{beginTime}
        and date_format(mcad.create_time, '%Y-%m-%d') &lt;= #{endTime})

        and mcad.CAMPSEG_ROOT_ID  !=  0
        group by mcad.CREATE_USER_ID ) c on users.user_id = c.CREATE_USER_ID

    </select>


    <resultMap id="BaseDetailResultMap" type="com.asiainfo.biapp.pec.plan.jx.system.model.SystemUsageDetail">
        <result column="USER_ID" property="userId" />
        <result column="CITY_NAME" property="cityName" />
        <result column="TITLE" property="deptName" />
        <result column="optTime" property="optTime" />
        <result column="optBehavior" property="optBehavior" />
        <result column="CAMPSEG_NAME" property="campsegName" />
        <result column="CUSTOM_GROUP_NAME" property="customGroupName" />

    </resultMap>

    <select id="getUsagePersonageDetailList"  resultMap="BaseDetailResultMap">


        <if test="param.flag != null and param.flag != '' and param.flag == '0'.toString()">
          select msl.user_id,ct.CITY_NAME  , dt.TITLE, date_format(msl.log_time, '%Y-%m-%d %H-%i-%S') optTime, '访问' optBehavior
          from MCD_SYS_LOG msl
          left join mcd_sys_user du on du.USER_ID = msl.USER_ID
          left join mcd_sys_city ct on ct.CITY_ID = du.CITY_ID
          left join mcd_sys_department dt on dt.DEPT_ID = du.DEPARTMENT_ID
          where msl.LOG_TYPE = 0 and msl.USER_ID is not null and
          (date_format(msl.log_time, '%Y-%m-%d') >= #{param.beginTime}
          and date_format(msl.log_time, '%Y-%m-%d') &lt;   #{param.endTime})
          <if test="param.userId != null and param.userId != ''">
              and msl.user_id = #{param.userId}
          </if>

          order by optTime desc
          </if>

            <if test="param.flag != null and param.flag != '' and param.flag == '1'.toString()">

                select mcd.create_user_id                                user_id,
                ct.CITY_NAME,
                dt.TITLE,
                date_format(mcd.create_time, '%Y-%m-%d %H-%i-%S') optTime,
                mcd.custom_group_name
                from mcd_custgroup_def mcd
                left join mcd_sys_user du on du.USER_ID = mcd.CREATE_USER_ID
                left join mcd_sys_city ct on ct.CITY_ID = du.CITY_ID
                left join mcd_sys_department dt on dt.DEPT_ID = du.DEPARTMENT_ID
                where mcd.create_user_id is not null and  (date_format(mcd.create_time, '%Y-%m-%d') >= #{param.beginTime}
                and date_format(mcd.create_time, '%Y-%m-%d') &lt;   #{param.endTime})

                <if test="param.userId != null and param.userId != ''">
                    and mcd.create_user_id = #{param.userId}
                </if>

                order by optTime desc

            </if>
            <if test="param.flag != null and param.flag != '' and param.flag == '2'.toString()">

                select mcad.CREATE_USER_ID                                 user_id,
                ct.CITY_NAME,
                dt.TITLE,
                date_format(mcad.create_time, '%Y-%m-%d %H-%i-%S') optTime,
                mcad.campseg_name
                from mcd_camp_def mcad
                left join mcd_sys_user du on du.USER_ID = mcad.CREATE_USER_ID
                left join mcd_sys_city ct on ct.CITY_ID = mcad.CITY_ID
                left join mcd_sys_department dt on dt.DEPT_ID = du.DEPARTMENT_ID
                where (date_format(mcad.create_time, '%Y-%m-%d') >= #{param.beginTime}
                and date_format(mcad.create_time, '%Y-%m-%d') &lt;   #{param.endTime})
                and mcad.CREATE_USER_ID is not null

                and mcad.CAMPSEG_ROOT_ID != 0
                <if test="param.userId != null and param.userId != ''">
                    and mcad.CREATE_USER_ID =  #{param.userId}
                </if>
                order by optTime desc
            </if>


    </select>



    <select id="getUsageDeptDetailList"   resultMap="BaseDetailResultMap">


        <if test="param.flag != null and param.flag != '' and param.flag == '0'.toString()">
            select msl.user_id, ct.CITY_NAME  , dt.TITLE, date_format(msl.log_time, '%Y-%m-%d %H-%i-%S') optTime, '访问' optBehavior
            from MCD_SYS_LOG msl
            left join mcd_sys_user du on du.USER_ID = msl.USER_ID
            left join mcd_sys_city ct on ct.CITY_ID = du.CITY_ID
            left join mcd_sys_department dt on dt.DEPT_ID = du.DEPARTMENT_ID
            where msl.log_type = 0   and dt.DEPT_ID is not null
            and (date_format(msl.log_time, '%Y-%m-%d') >= #{param.beginTime}
            and date_format(msl.log_time, '%Y-%m-%d') &lt;   #{param.endTime})

        </if>

        <if test="param.flag != null and param.flag != '' and param.flag == '1'.toString()">

            select mcd.create_user_id                                user_id,
            ct.CITY_NAME,
            dt.TITLE,
            date_format(mcd.create_time, '%Y-%m-%d %H-%i-%S') optTime,
            mcd.custom_group_name
            from mcd_custgroup_def mcd
            left join mcd_sys_user du on du.USER_ID = mcd.CREATE_USER_ID
            left join mcd_sys_city ct on ct.CITY_ID = du.CITY_ID
            left join mcd_sys_department dt on dt.DEPT_ID = du.DEPARTMENT_ID
            where   dt.DEPT_ID is not null
            and (date_format(mcd.create_time, '%Y-%m-%d') >= #{param.beginTime}
            and date_format(mcd.create_time, '%Y-%m-%d') &lt;   #{param.endTime})


        </if>

        <if test="param.flag != null and param.flag != '' and param.flag == '2'.toString()">
            select mcad.CREATE_USER_ID                                 user_id,
            ct.CITY_NAME,
            dt.TITLE,
            date_format(mcad.create_time, '%Y-%m-%d %H-%i-%S') optTime,
            mcad.campseg_name
            from mcd_camp_def mcad
            left join mcd_sys_user du on du.USER_ID = mcad.CREATE_USER_ID
            left join mcd_sys_city ct on ct.CITY_ID = mcad.CITY_ID
            left join mcd_sys_department dt on dt.DEPT_ID = du.DEPARTMENT_ID
            where (date_format(mcad.create_time, '%Y-%m-%d') >= #{param.beginTime}
            and date_format(mcad.create_time, '%Y-%m-%d') &lt;   #{param.endTime})
            and dt.DEPT_ID is not null
            and mcad.CAMPSEG_ROOT_ID != 0

        </if>

        <if test="param.deptId != null and param.deptId != ''">
            and dt.DEPT_ID = #{param.deptId}     order by optTime desc

        </if>


    </select>



    <select id="getUsageCityDetailList"  resultMap="BaseDetailResultMap">


        <if test="param.flag != null and param.flag != '' and param.flag == '0'.toString()">
            select msl.user_id, ct.CITY_NAME  , dt.TITLE, date_format(msl.log_time, '%Y-%m-%d %H-%i-%S') optTime, '访问' optBehavior
            from MCD_SYS_LOG msl
            left join mcd_sys_user du on du.USER_ID = msl.USER_ID
            left join mcd_sys_city ct on ct.CITY_ID = du.CITY_ID
            left join mcd_sys_department dt on dt.DEPT_ID = du.DEPARTMENT_ID
            where msl.log_type = 0
            and (date_format(msl.log_time, '%Y-%m-%d') >= #{param.beginTime}
            and date_format(msl.log_time, '%Y-%m-%d') &lt;   #{param.endTime})
            and ct.CITY_ID is not null

        </if>

        <if test="param.flag != null and param.flag != '' and param.flag == '1'.toString()">

            select mcd.create_user_id                                user_id,
            ct.CITY_NAME,
            dt.TITLE,
            date_format(mcd.create_time, '%Y-%m-%d %H-%i-%S') optTime,
            mcd.custom_group_name
            from mcd_custgroup_def mcd
            left join mcd_sys_user du on du.USER_ID = mcd.CREATE_USER_ID
            left join mcd_sys_city ct on ct.CITY_ID = du.CITY_ID
            left join mcd_sys_department dt on dt.DEPT_ID = du.DEPARTMENT_ID
            where  ct.CITY_ID is not null
            and (date_format(mcd.create_time, '%Y-%m-%d') >= #{param.beginTime}
            and date_format(mcd.create_time, '%Y-%m-%d') &lt;   #{param.endTime})

        </if>

        <if test="param.flag != null and param.flag != '' and param.flag == '2'.toString()">

            select mcad.CREATE_USER_ID                                 user_id,
            ct.CITY_NAME,
            dt.TITLE,
            date_format(mcad.create_time, '%Y-%m-%d %H-%i-%S') optTime,
            mcad.campseg_name
            from mcd_camp_def mcad
            left join mcd_sys_user du on du.USER_ID = mcad.CREATE_USER_ID
            left join mcd_sys_city ct on ct.CITY_ID = mcad.CITY_ID
            left join mcd_sys_department dt on dt.DEPT_ID = du.DEPARTMENT_ID
            where (date_format(mcad.create_time, '%Y-%m-%d') >= #{param.beginTime}
            and date_format(mcad.create_time, '%Y-%m-%d') &lt;   #{param.endTime})
            and mcad.city_id is not null
            and mcad.CAMPSEG_ROOT_ID != 0

        </if>

        <if test="param.cityId != null and param.cityId != ''">
            and ct.CITY_ID=  #{param.cityId}     order by optTime desc

        </if>


    </select>
</mapper>
