<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.asiainfo.biapp.pec.plan.jx.coordination.dao.TagConfigMapper">

    <!-- 标签配置分页查询 -->
    <select id="queryTag" resultType="com.asiainfo.biapp.pec.plan.jx.coordination.model.McdCoordinateTagModel">
        select a.tag_id tagId,a.tag_name tagName,a.order_by orderBy,
        a.create_time createTime,a.operator operator,
        b.cust_type_name custTypeName
        from mcd_coordinate_tag a
        left join mcd_coordinate_cust_type b
        on a.cust_type_id = b.cust_type_id
        where 1=1
        <if test="req.keyWords != null and req.keyWords !=''">
            and (a.tag_id like concat('%',#{req.keyWords},'%') or a.tag_name like concat('%',#{req.keyWords},'%'))
        </if>
        <if test="req.custTypeId != null and req.custTypeId !=''">
            and b.cust_type_id = #{req.custTypeId}
        </if>
        and a.status = 1
        order by a.order_by asc
    </select>

    <select id="queryCustType" resultType="com.asiainfo.biapp.pec.plan.jx.coordination.model.McdCoordinateCustType">
        select cust_type_id custTypeId, cust_type_name custTypeName, order_by orderBy, status status
        from mcd_coordinate_cust_type
        where status = 1
    </select>

    <select id="queryAllTag" resultType="com.asiainfo.biapp.pec.plan.jx.coordination.model.McdCoordinateTagModel">
        select a.tag_id tagId, a.tag_name tagName, a.cust_type_id custTypeId,
               a.order_by orderBy, a.create_time createTime, a.update_time updateTime,
               a.status status, a.operator operator,
               b.cust_type_name custTypeName
        from mcd_coordinate_tag a
        left join mcd_coordinate_cust_type b
        on a.cust_type_id = b.cust_type_id
        where a.status = 1
        order by a.order_by asc
    </select>
    <select id="queryAccessLabel" resultType="com.asiainfo.biapp.pec.plan.jx.coordination.model.McdCoordinateTagModel">
        select a.tag_id tagId, a.tag_name tagName, a.cust_type_id custTypeId,
        a.order_by orderBy, a.create_time createTime, a.update_time updateTime,
        a.status status, a.operator operator,
        b.cust_type_name custTypeName
        from mcd_coordinate_tag a
        left join mcd_coordinate_cust_type b
        on a.cust_type_id = b.cust_type_id
        where 1=1
        <if test="req.keyWords != null and req.keyWords !=''">
            and (a.tag_id like concat('%',#{req.keyWords},'%') or a.tag_name like concat('%',#{req.keyWords},'%'))
        </if>
        <if test="req.custTypeId != null and req.custTypeId !=''">
            and b.cust_type_id = #{req.custTypeId}
        </if>
        and a.status = 0
        order by a.order_by asc
    </select>
</mapper>
