/target/
.settings/
*.class
/.idea/
.classpath
/overlays/
*.iml
.project
/src/main/webapp/WEB-INF/classes/
/src/main/webapp/WEB-INF/classes/lib/
/.project
.settings
/.classpath
/bin/
.idea
/logs/
src/main/resources/application.properties
*.kotlin_module
*.log
/classes/
*.gz
*/target/*
*/src/test/*
