<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.asiainfo.biapp.pec.plan.jx.hmh5.transplant.mcdAppAlarmInfo.mapper.McdAppAlarmInfoMapper">
    <select id="selectAlarmByPage"
            resultType="com.asiainfo.biapp.pec.plan.jx.hmh5.transplant.mcdAppAlarmInfo.service.impl.resultInfo.SelectAlarmResultInfo">
            SELECT
                M.ALARM_ID, M.ALARM_NAME, M.SOURCE_TABLE, M.START_TIME, M.END_TIME,
                case M.APPROVE_STATUS
                when 0 then '草稿'
                when 1 then '审批完成'
                when 2 then '审批中'
                when 3 then '终止'
                when 4 then '审批驳回' end APPROVE_STATUS,
                M.CREATE_TIME,
                U.USERNAME, U.CITYID, m.CREATE_USER CREATE_USER_ID, mc.DIC_DISPLAY_VALUE TYPE_NAME,
               (case when to_date(M.END_TIME||' 23:59:59','YYYY-MM-DD HH24:MI:SS') &lt; sysdate then 1 else 0 end) IS_OVERDUE
                FROM
                MCD_APP_ALARM_INFO M LEFT JOIN USER_USER U ON M.CREATE_USER = U.USERID
                LEFT JOIN mcd_sys_dic mc on M.ALARM_TYPE=mc.DIC_DATA_VALUE
                WHERE M.DATA_STATUS=1 and mc.dic_profile='jx' and mc.DIC_KEY like 'YJLX%'
                 <if test="keywords != null">
                    and (M.ALARM_ID like '%' || #{keywords} || '%' or M.ALARM_NAME like '%' || #{keywords} || '%')
                 </if>
            ORDER BY ALARM_ID DESC

<!--        SELECT maai.ALARM_ID,-->
<!--        maai.ALARM_NAME,-->
<!--        msd.DIC_NAME TYPE_NAME,-->
<!--        maai.SOURCE_TABLE,-->
<!--        maai.START_TIME,-->
<!--        maai.END_TIME,-->
<!--        case maai.APPROVE_STATUS-->
<!--        when 0 then '草稿'-->
<!--        when 1 then '审批完成'-->
<!--        when 2 then '审批中'-->
<!--        when 3 then '终止'-->
<!--        when 4 then '审批驳回' end APPROVE_STATUS,-->
<!--        msu.USER_NAME,-->
<!--        maai.CREATE_TIME-->
<!--        FROM mcd_app_alarm_info maai-->
<!--        LEFT JOIN mcd_sys_user msu ON maai.CREATE_USER = msu.USER_ID-->
<!--        LEFT JOIN mcd_sys_dic msd on maai.ALARM_TYPE = msd.DIC_VALUE-->
<!--        WHERE maai.DATA_STATUS = 1-->
<!--        and msd.dic_profile = 'jx'-->
<!--        and msd.DIC_KEY like 'YJLX%'-->
<!--        <if test="keywords != null">-->
<!--            and (maai.ALARM_ID like concat('%',#{keywords},'%') or maai.ALARM_NAME like concat('%',#{keywords},'%'))-->
<!--        </if>-->
    </select>

    <select id="queryApprovingAlarm" resultType="com.asiainfo.biapp.pec.plan.jx.hmh5.transplant.mcdAppAlarmInfo.service.impl.resultInfo.SelectAlarmResultInfo">
        SELECT
                M.ALARM_ID, M.ALARM_NAME, M.SOURCE_TABLE, M.START_TIME, M.END_TIME,
                M.CREATE_TIME, M.CREATE_USER CREATE_USER_ID, mc.DIC_DISPLAY_VALUE  TYPE,
                U.USERNAME, mc.DIC_DISPLAY_VALUE TYPE_NAME
                FROM
                MCD_APP_ALARM_INFO M LEFT JOIN USER_USER U ON M.CREATE_USER = U.USERID
                LEFT JOIN mcd_sys_dic mc on M.ALARM_TYPE=mc.DIC_DATA_VALUE
                WHERE M.DATA_STATUS=1 and mc.dic_profile='jx' and mc.DIC_KEY like 'YJLX%'
                 <if test="query.campsegName != null and query.campsegName != '' ">
                    and (M.ALARM_ID like '%' || #{query.campsegName} || '%' or M.ALARM_NAME like '%' || #{query.campsegName} || '%')
                 </if>
                 <if test="query.creator != null and query.creator != ''">
                    and m.CREATE_USER = #{query.creator}
                 </if>
                 and M.APPROVE_STATUS = 2
            ORDER BY ALARM_ID DESC
    </select>

    <select id="countAlarm" resultType="integer">
        select count(*) from(
            SELECT M.*, U.USERNAME, DECODE(m.CREATE_USER,'" + userId + "',1,0) IS_CREATOR, mc.DIC_DISPLAY_VALUE TYPE_NAME,
           (case when to_date(M.END_TIME||' 23:59:59','YYYY-MM-DD HH24:MI:SS') &lt; sysdate then 1 else 0 end) IS_OVERDUE
            FROM
            MCD_APP_ALARM_INFO M LEFT JOIN USER_USER U ON M.CREATE_USER = U.USERID
            LEFT JOIN mcd_sys_dic mc on M.ALARM_TYPE=mc.DIC_DATA_VALUE
            WHERE M.DATA_STATUS=1 and mc.dic_profile='jx' and mc.DIC_KEY like 'YJLX%'
             <if test="keywords != null">
                and (M.ALARM_ID like '%' || #{keywords} || '%' or M.ALARM_NAME like '%' || #{keywords} || '%')
             </if>
            ORDER BY ALARM_ID DESC
        )
    </select>

    <select id="selectAlarmDetailById"
            resultType="com.asiainfo.biapp.pec.plan.jx.hmh5.transplant.mcdAppAlarmInfo.service.impl.resultInfo.SelectAlarmDetailResultInfo">
        SELECT maai.ALARM_ID,
               maai.ALARM_NAME,
               msd.DIC_DATA_VALUE alarmType,
               maai.SOURCE_DB,
               maai.SOURCE_TABLE,
               maai.ALARM_INFO,
               maai.ALARM_MESSAGE,
               maai.EXECUTE_CONDITION,
               maai.EXECUTE_CONDITION_VAL,
               maai.ALARM_EXEC_DEALTIME,
               maai.ALARM_EXEC_DEALTIME_UNIT,
               maai.IS_DEFINE_TIME,
               maai.ALARM_ATTR,
               maai.START_TIME,
               maai.END_TIME,
               maai.ALARM_CYCLE,
               maai.ALARM_CYCLE_TIME,
               maai.IS_PREVIEW_FILTER,
               maai.AUTO_CLEAR_ALARM_STATUS
        FROM mcd_app_alarm_info maai
                 LEFT JOIN mcd_sys_dic msd on maai.ALARM_TYPE = msd.DIC_DATA_VALUE
        WHERE maai.DATA_STATUS = 1
          and msd.dic_profile = 'jx'
          and msd.DIC_KEY like 'YJLX%'
          and maai.ALARM_ID = #{alarmId}
    </select>

    <select id="selectAlarmType"
            resultType="com.asiainfo.biapp.pec.plan.jx.hmh5.transplant.mcdAppAlarmInfo.service.impl.resultInfo.SelectAlarmTypeResult">
        select DIC_DISPLAY_VALUE typeName,DIC_DATA_VALUE typeId
        from mcd_sys_dic where dic_profile='jx' and DIC_KEY like 'YJLX%'
    </select>

    <!--此处需要用${}将sql语句连成一句，否则会报错-->
    <select id="queryStructure" resultType="java.util.LinkedHashMap">
        select *
        from ${tableName}
        where rownum = 1
    </select>

    <!--只查询含有phoneFieldNames参数中包含的字段的表，not like 'BIN$%' 表示不查询被删除的表-->
    <select id="queryDataTableList" resultType="java.util.LinkedHashMap">
        select utcom.TABLE_NAME, utcom.COMMENTS
        from (select distinct DTC.TABLE_NAME
        from USER_TAB_COLUMNS DTC
        where DTC.TABLE_NAME NOT LIKE 'BIN$%'
        AND DTC.COLUMN_NAME in
        <foreach collection="phoneFieldNames" item="phoneFieldName" separator="," open="(" close=")">
            #{phoneFieldName}
        </foreach>
        ) utcol
        left join USER_TAB_COMMENTS utcom
        on utcol.TABLE_NAME = utcom.TABLE_NAME
        order by utcom.TABLE_NAME
    </select>

    <select id="queryCocSourceTableAttr" resultType="map">
        select list_table_name USER_TABLE, ATTR_COL ATTR_NAME
            from MCD_CUSTGROUP_ATTR_LIST
            where custom_group_id = #{sourceTabName}
            and list_table_name = (select list_table_name
         from MCD_CUSTGROUP_TAB_LIST T1
                  JOIN(select CUSTOM_GROUP_ID, MAX(DATA_DATE) DATA_DATE
                       FROM MCD_CUSTGROUP_TAB_LIST
                       WHERE DATA_STATUS = 0
                       GROUP BY CUSTOM_GROUP_ID) T2
                      ON T1.CUSTOM_GROUP_ID = T2.CUSTOM_GROUP_ID AND T1.DATA_DATE = T2.DATA_DATE
         where T1.CUSTOM_GROUP_ID = #{sourceTabName})
    </select>

    <select id="querySourceTableAttr" resultType="map">
        select distinct COLUMN_NAME ATTR_NAME from all_col_comments
        where 1=1
        <if test="owner != null">
            and OWNER = upper(#{owner})
        </if>
        and table_name = upper(#{dataSourceName})
        order by COLUMN_NAME
    </select>

    <select id="querySourceTable" resultType="map">
        select t.*
        from ${sourceTabName} t
        where rownum = 1
    </select>

    <select id="querySeqValue" resultType="integer">
        select SEQ_ALARM_INFO.nextval from dual
    </select>

    <select id="getUserRoleList" resultType="String">
        SELECT ROLE_ID FROM  USER_USER_ROLE_RELATION WHERE USER_ID = #{userId}
    </select>

    <delete id="truncateData">
        truncate table MCD_AUTO_CLEAR_ALARM_PLAN
    </delete>

    <insert id="batchInsertAlarmPlanTab" parameterType="com.asiainfo.biapp.pec.plan.jx.hmh5.transplant.mcdAppAlarmInfo.model.McdAutoClearAlarmPlan">
<!--        <foreach collection ="set" item="item" separator =";" open="begin" close = ";end;">-->
<!--            insert into MCD_AUTO_CLEAR_ALARM_PLAN(PLAN_ID, PLAN_NAME, PLAN_TYPE_NAME, CREATE_USERID, CREATE_CITYID) VALUES-->
<!--            (-->
<!--                #{item.planId,jdbcType=VARCHAR},-->
<!--                #{item.planName,jdbcType=VARCHAR},-->
<!--                #{item.planTypeName,jdbcType=VARCHAR},-->
<!--                #{item.createUser,jdbcType=VARCHAR},-->
<!--                #{item.createCity,jdbcType=VARCHAR}-->
<!--            )-->
<!--        </foreach>-->
        insert all
         <foreach collection ="set" item="item" index="index">
            into MCD_AUTO_CLEAR_ALARM_PLAN(PLAN_ID, PLAN_NAME, PLAN_TYPE_NAME, CREATE_USERID, CREATE_CITYID) VALUES
            (
                #{item.planId,jdbcType=VARCHAR},
                #{item.planName,jdbcType=VARCHAR},
                #{item.planTypeName,jdbcType=VARCHAR},
                #{item.createUser,jdbcType=VARCHAR},
                #{item.createCity,jdbcType=VARCHAR}
            )
        </foreach>
        select 1 from dual
    </insert>

    <select id="queryAlarmNameAndCreator" resultType="java.util.Map">
        SELECT
               maai.ALARM_NAME name,
               U.*
        FROM mcd_app_alarm_info maai
                 LEFT JOIN mcd_sys_dic msd on maai.ALARM_TYPE = msd.DIC_DATA_VALUE
                 LEFT JOIN USER_USER U ON maai.CREATE_USER = U.USERID
        WHERE maai.DATA_STATUS = 1
          and msd.dic_profile = 'jx'
          and msd.DIC_KEY like 'YJLX%'
          and maai.ALARM_ID = #{alarmId}
    </select>

    <!-- 查询自定义预警-预警阈值信息   -->
    <select id="selectAlarmCityThrasResult"
            resultType="map">
        select CITY_799, CITY_798, CITY_797, CITY_796, CITY_795, CITY_794, CITY_793, CITY_792, CITY_791, CITY_790, CITY_701 FROM ALARM_THRESHOLD_CONFIG where ALARM_ID = #{alarmId}
    </select>

    <!--  获取地市信息  -->
    <select id="queryAllCityCode" resultType="com.asiainfo.biapp.pec.plan.jx.hmh5.transplant.mcdAppAlarmInfo.model.McdDimCity">
        SELECT CITY_ID cityId,CITY_NAME cityName FROM mcd_dim_city where CITY_ID != '999' ORDER BY CITY_ID DESC
    </select>

    <!--  预警下发预警阈值  -->
    <insert id="insertAlarmThraCity">
        insert into ALARM_THRESHOLD_CONFIG (ALARM_ID, CITY_799, CITY_798, CITY_797, CITY_796, CITY_795, CITY_794, CITY_793, CITY_792, CITY_791, CITY_790, CITY_701 )  values
            (#{alarmId},#{item.city799},#{item.city798},#{item.city797},#{item.city796},#{item.city795},#{item.city794},#{item.city793},#{item.city792},#{item.city791},#{item.city790},#{item.city701})
    </insert>

    <insert id="insertAlarmThreLog" parameterType="com.asiainfo.biapp.pec.plan.jx.hmh5.transplant.mcdAppAlarmInfo.model.McdAlarmThresholdLog">
        insert all
        <foreach collection ="thresholdLog" item="item" index="index">
            into MCD_ALARM_THRESHOLD_LOG(ALARM_ID,USER_ID,CITY_ID,ALARM_CITY,NEW_ALARM_THRESHOLD,OLD_ALARM_THRESHOLD ) VALUES
            (
            #{item.alarmId,jdbcType=INTEGER},
            #{item.userId,jdbcType=VARCHAR},
            #{item.cityId,jdbcType=VARCHAR},
            #{item.alarmCity,jdbcType=VARCHAR},
            #{item.newAlarmThreshold,jdbcType=VARCHAR},
            #{item.oldAlarmThreshold,jdbcType=VARCHAR}
            )
        </foreach>
        select 1 from dual
    </insert>

    <update id="updateAlarmThraCity">
        update ALARM_THRESHOLD_CONFIG set CITY_799=#{item.city799},CITY_798=#{item.city798},CITY_797=#{item.city797},CITY_796=#{item.city796},CITY_795=#{item.city795},CITY_794=#{item.city794},CITY_793=#{item.city793},CITY_792=#{item.city792},CITY_791=#{item.city791},CITY_790=#{item.city790},CITY_701=#{item.city701}  where ALARM_ID = #{alarmId}
    </update>

    <!-- 查询字段名是否存在且是否有null数据 -->
    <select id="columnCheck" resultType="java.lang.Integer">
        select count(*) from ${tableName} where ${column} is null
    </select>
</mapper>
