<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.asiainfo.biapp.cmn.jx.dao.UserJxDao">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.asiainfo.biapp.cmn.model.User">
        <id column="ID" property="id"/>
        <result column="USER_ID" property="userId"/>
        <result column="PWD" property="pwd"/>
        <result column="STATUS" property="status"/>
        <result column="CITY_ID" property="cityId"/>
        <result column="ACTUAL_CITY_ID" property="actualCityId"/>
        <result column="DEPARTMENT_ID" property="departmentId"/>
        <result column="OFFICE_ID" property="officeId"/>
        <result column="USER_NAME" property="userName"/>
        <result column="STAFF_NO" property="staffNo"/>
        <result column="MOBILE_PHONE" property="mobilePhone"/>
        <result column="EMAIL" property="email"/>
        <result column="CREATE_TIME" property="createTime"/>
        <result column="CREATE_BY" property="createBy"/>
        <result column="UPDATE_BY" property="updateBy"/>
        <result column="UPDATE_DATE" property="updateDate"/>
        <result column="DELETE_TIME" property="deleteTime"/>
        <result column="DEL_FLAG" property="delFlag"/>
        <result column="LOGIN_IP" property="loginIp"/>
        <result column="LOGIN_DATE" property="loginDate"/>
        <result column="USER_TYPE" property="userType"/>
        <result column="BIRTHDAY" property="birthday"/>
        <result column="NOTES" property="notes"/>
        <result column="PHOTO" property="photo"/>
        <result column="OA_USER_ID" property="oaUserId"/>
        <result column="BOSS_USER_ID" property="bossUserId"/>
        <result column="PROVINCE" property="province"/>
    </resultMap>



    <select id="pageListUserVo" resultType="com.asiainfo.biapp.cmn.jx.vo.UserJxVO" parameterType="com.asiainfo.biapp.cmn.jx.query.UserPageQueryJx">
        SELECT DISTINCT
        ANY_VALUE(u.ID) as id,
        u.USER_ID,
        ANY_VALUE(u.STATUS) as status,
        ANY_VALUE(u.CITY_ID) as cityId,
        ANY_VALUE(c.CITY_NAME) as cityName,
        ANY_VALUE(u.COUNTY_ID) as countyId,
        ANY_VALUE(y.COUNTY_NAME) as countyName,
        ANY_VALUE(u.GRID_ID) as gridId,
        ANY_VALUE(grid.GRID_NAME) as gridName,
        ANY_VALUE(u.ACTUAL_CITY_ID) as actualCityId,
        ANY_VALUE(u.DEPARTMENT_ID) as departmentId,
        GROUP_CONCAT(DISTINCT r.`ROLE_NAME` SEPARATOR',') as roleNames,
        GROUP_CONCAT(DISTINCT d.TITLE SEPARATOR',') as title,
        ANY_VALUE(u.OFFICE_ID) as officeId,
        ANY_VALUE(u.USER_NAME) as userName,
        ANY_VALUE(u.STAFF_NO) as staffNo,
        ANY_VALUE(u.MOBILE_PHONE) mobilePhone,
        ANY_VALUE(u.PWD) pwd,
        ANY_VALUE(u.EMAIL) as email,
        ANY_VALUE(u.CREATE_TIME) as createTime,
        ANY_VALUE(u.CREATE_BY) as createBy,
        ANY_VALUE(u.UPDATE_DATE) as updateDate,
        ANY_VALUE(u.UPDATE_BY) as updateBy,
        ANY_VALUE(u.DELETE_TIME) as deleteTime,
        ANY_VALUE(u.DEL_FLAG) as delFlag,
        ANY_VALUE(u.LOGIN_IP) as loginIp,
        ANY_VALUE(u.LOGIN_DATE) as loginDate,
        ANY_VALUE(u.USER_TYPE) as userType,
        ANY_VALUE(u.BIRTHDAY) as birthday,
        ANY_VALUE(u.NOTES) as notes,
        ANY_VALUE(u.PHOTO) as photo,
        ANY_VALUE(u.OA_USER_ID) as oaUserId,
        ANY_VALUE(u.BOSS_USER_ID) as bossUserId,
        ANY_VALUE(u.PROVINCE) as province
        FROM
        mcd_sys_user u
        LEFT JOIN mcd_sys_user_role_relation ur ON
        u.USER_ID = ur.USER_ID
        LEFT JOIN mcd_sys_role r ON
        ur.ROLE_ID = r.ROLE_ID
        LEFT JOIN `mcd_sys_department` d ON
        u.DEPARTMENT_ID = d.DEPT_ID
        LEFT JOIN `mcd_sys_city` c ON
        u.CITY_ID = c.CITY_ID
        LEFT JOIN `dim_pub_county` y ON u.COUNTY_ID = y.COUNTY_ID and y.CITY_ID = c.CITY_ID
        LEFT JOIN `dim_pub_grid` grid ON u.GRID_ID = grid.GRID_ID
        where u.DEL_FLAG = 0
        <if test="query.keyWords != null and query.keyWords!= ''">
            and (r.ROLE_NAME LIKE  concat('%',#{query.keyWords},'%') OR r.ROLE_ID LIKE  concat('%',#{query.keyWords},'%') )
        </if>
        <if test="query.userName != null and query.userName!= '' ">
            and ( u.USER_ID LIKE concat('%',#{query.userName},'%')  or  u.USER_NAME LIKE concat('%',#{query.userName},'%') )
        </if>
        <if test="query.departmentId != null and query.departmentId != '' and query.departmentId != '-1'">
            and u.DEPARTMENT_ID = #{query.departmentId}
        </if>
        <if test="query.cityId != null and query.cityId != '' and query.cityId != '-1' ">
            and u.CITY_ID = #{query.cityId}
        </if>
        <if test="query.startTime != null and query.startTime!= ''">
            <![CDATA[ and DATE_FORMAT(u.CREATE_TIME,'%Y-%m-%d') >= #{query.startTime}   ]]>
        </if>
        <if test="query.endTime != null and query.endTime!= ''">
            <![CDATA[ and DATE_FORMAT(u.CREATE_TIME,'%Y-%m-%d') <= #{query.endTime}   ]]>
        </if>

        GROUP BY u.`USER_ID`
        ORDER BY u.CREATE_TIME DESC
    </select>

    <select id="getUserById" resultType="com.asiainfo.biapp.cmn.jx.vo.UserJxVO" >
        SELECT DISTINCT
        ANY_VALUE(u.ID) as id,
        u.USER_ID,
        ANY_VALUE(u.STATUS) as status,
        ANY_VALUE(u.CITY_ID) as cityId,
        ANY_VALUE(c.CITY_NAME) as cityName,
        ANY_VALUE(u.COUNTY_ID) as countyId,
        ANY_VALUE(y.COUNTY_NAME) as countyName,
        ANY_VALUE(u.GRID_ID) as gridId,
        ANY_VALUE(grid.GRID_NAME) as gridName,
        ANY_VALUE(u.ACTUAL_CITY_ID) as actualCityId,
        ANY_VALUE(u.DEPARTMENT_ID) as departmentId,
        GROUP_CONCAT(DISTINCT r.`ROLE_NAME` SEPARATOR',') as roleNames,
        GROUP_CONCAT(DISTINCT d.TITLE SEPARATOR',') as title,
        ANY_VALUE(u.OFFICE_ID) as officeId,
        ANY_VALUE(u.USER_NAME) as userName,
        ANY_VALUE(u.STAFF_NO) as staffNo,
--         to_base64(ANY_VALUE(u.MOBILE_PHONE)) mobilePhone,
        ANY_VALUE(u.MOBILE_PHONE) mobilePhone,
        ANY_VALUE(u.PWD) pwd,
        ANY_VALUE(u.EMAIL) as email,
        ANY_VALUE(u.CREATE_TIME) as createTime,
        ANY_VALUE(u.CREATE_BY) as createBy,
        ANY_VALUE(u.UPDATE_DATE) as updateDate,
        ANY_VALUE(u.UPDATE_BY) as updateBy,
        ANY_VALUE(u.DELETE_TIME) as deleteTime,
        ANY_VALUE(u.DEL_FLAG) as delFlag,
        ANY_VALUE(u.LOGIN_IP) as loginIp,
        ANY_VALUE(u.LOGIN_DATE) as loginDate,
        ANY_VALUE(u.USER_TYPE) as userType,
        ANY_VALUE(u.BIRTHDAY) as birthday,
        ANY_VALUE(u.NOTES) as notes,
        ANY_VALUE(u.PHOTO) as photo,
        ANY_VALUE(u.OA_USER_ID) as oaUserId,
        ANY_VALUE(u.BOSS_USER_ID) as bossUserId,
        ANY_VALUE(u.PROVINCE) as province
        FROM
        mcd_sys_user u
        LEFT JOIN mcd_sys_user_role_relation ur ON
        u.USER_ID = ur.USER_ID
        LEFT JOIN mcd_sys_role r ON
        ur.ROLE_ID = r.ROLE_ID
        LEFT JOIN `mcd_sys_department` d ON
        u.DEPARTMENT_ID = d.DEPT_ID
        LEFT JOIN `mcd_sys_city` c ON
        u.CITY_ID = c.CITY_ID
        LEFT JOIN `dim_pub_county` y ON u.COUNTY_ID = y.COUNTY_ID and y.CITY_ID = c.CITY_ID
        LEFT JOIN `dim_pub_grid` grid ON u.GRID_ID = grid.GRID_ID
        where u.DEL_FLAG = 0
        <if test="id != null and id!= ''">
            and u.ID = #{id}
        </if>
        GROUP BY u.`USER_ID`
        ORDER BY u.CREATE_TIME DESC
    </select>

    <select id="countMonthSurveyLog"  resultType="int" >
        select count(*) from mcd_dayin_survey_log where date_format(now(),'%Y-%m') = date_format(log_time,'%Y-%m') and user_id = #{userId};
    </select>

    <insert id="insertSurveyLog"   >
        insert into mcd_dayin_survey_log (user_id) values (#{userId})
    </insert>
</mapper>
