<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.asiainfo.biapp.pec.plan.jx.enterprise.mapper.ICocCustGroupSyncMapper">


    <select id="queryCustGroupHis" resultType="java.lang.Integer">
        select count(1)
        from MCD_CUSTGROUP_PUSH_LOG
        where CUSTOM_GROUP_ID = #{customGroupId}
          and DATA_DATE = #{customGroupDataDate}
            in (0, 1)
    </select>

    <insert id="saveCustPushLog" keyProperty="id">
        INSERT INTO MCD_CUSTGROUP_PUSH_LOG
        (CUSTOM_GROUP_ID, CUSTOM_GROUP_NAME, UPDATE_CYCLE, DATA_DATE, EFFECTIVE_TIME, FAIL_TIME, CREATE_USER_ID,
         CUST_TYPE, FILE_NAME)
        VALUES (#{customGroupId}, #{custtomGroupName}, #{updateCycle}, #{dataDate}, #{effectiveTime}, #{failTime},
                #{createUserId}, #{custType}, #{fileName})
    </insert>

    <select id="selectCustPushLogById" resultType="map">
        select *
        from #{table} t
        where t.CUSTOM_GROUP_ID = #{custGroupId}
        ORDER BY T.CREATE_TIME DESC
    </select>
</mapper>