<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.asiainfo.biapp.pec.approve.jx.dao.ApproveConfigDao">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.asiainfo.biapp.pec.approve.jx.model.ApproveConfig">
        <id column="ID" property="id" />
        <result column="DEPT_ID" property="deptId" />
        <result column="CITY_ID" property="cityId" />
        <result column="COUNTY_ID" property="countyId" />
        <result column="GRID_ID" property="gridId" />
        <result column="SYSTEM_ID" property="systemId" />
        <result column="PROCESS_ID" property="processId" />
    </resultMap>
    <resultMap id="queryApproveConfigPageListMap" type="com.asiainfo.biapp.pec.approve.jx.dto.ApproveConfigDTO">
        <id column="ID" property="id" />
        <result column="DEPT_ID" property="deptId" />
        <result column="CITY_ID" property="cityId" />
        <result column="COUNTY_ID" property="countyId" />
        <result column="GRID_ID" property="gridId" />
        <result column="SYSTEM_ID" property="systemId" />
        <result column="PROCESS_ID" property="processId" />
        <result column="DEPT_NAME" property="deptName" />
        <result column="CITY_NAME" property="cityName" />
        <result column="PROCESS_NAME" property="processName" />
        <result column="PROCESS_TYPE" property="processType" />
    </resultMap>
    <select id="queryApproveConfigPageList" resultMap="queryApproveConfigPageListMap">
        SELECT
        CONF.*,
        DEPT.TITLE AS DEPT_NAME,
        CITY.CITY_NAME AS CITY_NAME,
        COUNTY.COUNTY_NAME AS COUNTY_NAME,
        GRID.GRID_NAME AS GRID_NAME,
        PROCESS.PROCESS_NAME AS PROCESS_NAME,
        PROCESS.PROCESS_TYPE AS PROCESS_TYPE
        FROM
        CMP_APPROVAL_PROCESS_CONF CONF
        LEFT JOIN MCD_SYS_DEPARTMENT DEPT ON DEPT.DEPT_ID = CONF.DEPT_ID
        LEFT JOIN MCD_SYS_CITY CITY ON CITY.CITY_ID = CONF.CITY_ID
        LEFT JOIN DIM_PUB_COUNTY COUNTY ON COUNTY.CITY_ID = CONF.CITY_ID AND COUNTY.COUNTY_ID = CONF.COUNTY_ID
        LEFT JOIN DIM_PUB_GRID GRID ON GRID.CITY_ID = CONF.CITY_ID AND GRID.COUNTY_ID = CONF.COUNTY_ID AND GRID.GRID_ID = CONF.GRID_ID
        LEFT JOIN CMP_APPROVAL_PROCESS PROCESS ON PROCESS.PROCESS_ID = CONF.PROCESS_ID
        <where>
            <if test="approveConfigDTO.systemId != null and approveConfigDTO.systemId != ''">
                AND CONF.SYSTEM_ID = #{approveConfigDTO.systemId}
            </if>
            <if test="approveConfigDTO.cityId != null and approveConfigDTO.cityId != '' and  approveConfigDTO.cityId != '-1'.toString() ">
                AND CONF.CITY_ID = #{approveConfigDTO.cityId}
            </if>
            <if test="approveConfigDTO.countyId != null and approveConfigDTO.countyId != '' and approveConfigDTO.countyId != '-1'.toString() ">
                AND CONF.COUNTY_ID = #{approveConfigDTO.countyId}
            </if>
            <if test="approveConfigDTO.gridId != null and approveConfigDTO.gridId != '' and approveConfigDTO.gridId != '-1'.toString() ">
                AND CONF.GRID_ID = #{approveConfigDTO.gridId}
            </if>
            <if test="approveConfigDTO.deptId != null and approveConfigDTO.deptId != '' and approveConfigDTO.deptId != '-1'.toString() ">
                AND CONF.DEPT_ID = #{approveConfigDTO.deptId}
            </if>
            <if test="approveConfigDTO.keyWords != null and approveConfigDTO.keyWords != ''">
                AND PROCESS.PROCESS_NAME LIKE CONCAT('%',#{approveConfigDTO.keyWords},'%')
            </if>
        </where>
        ${ew.customSqlSegment}
    </select>





    <resultMap id="queryAppTypeMap" type="com.asiainfo.biapp.pec.approve.jx.vo.McdAppTypeVo">

        <result column="ENUM_KEY" property="enumKey" />
        <result column="ENUM_VALUE" property="enumValue" />
        <result column="ENUM_ORDER" property="enumOrder" />

    </resultMap>

    <select id="getAppTypeList" resultMap="queryAppTypeMap">

        select ENUM_KEY,ENUM_VALUE,ENUM_ORDER from mcd_sys_enum where ENUM_TYPE ='iop_app_type'

    </select>

</mapper>
