<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.asiainfo.biapp.pec.approve.jx.dao.McdCampDefDao">

    <select id="getCampsegInfos" resultType="map">
        select t.CAMPSEG_ID, t.CAMPSEG_ROOT_ID, t.CAMPSEG_NAME, t.CREATE_USER_ID, t.CITY_ID,u.DEPARTMENT_ID as DEPTID
        from mcd_camp_def t
        left join mcd_sys_user u on u.USER_ID = t.CREATE_USER_ID
	     where 1= 1
	     <if test="cycleType != null and cycleType !='' and cycleType =='1'.toString() ">
             and t.START_DATE =  #{cycleStartDate}

         </if>

        <if test="cycleType != null and cycleType !='' and cycleType =='0'.toString() ">

            and mod(CAST(str_to_date(#{cycleEndDate},  '%Y-%m-%d') - str_to_date(t.START_DATE,  '%Y-%m-%d')  as SIGNED) , #{cycleDays}) = 0

        </if>
	     and t.CAMPSEG_ROOT_ID != '0'  and t.CAMPSEG_STAT_ID = 54

    </select>



    <select id="queryWarnInfoByTarget" resultType="map">

        SELECT RES.* FROM (
         select   CAMPSEG_PID,
         CASE WHEN IFNULL(contact_num ,0) = 0 THEN 0.0
         ELSE ROUND(success_num / contact_num,4)*100  END RATE,
         CASE WHEN IFNULL(SGMTNUM ,0) = 0 THEN 0.0
         ELSE ROUND(contact_num / SGMTNUM,4)*100  END SUCCCONTACTRATIO, SGMTNUM
         from ( select   t.CAMPSEG_PID,
         sum(t.JIECHU)    as contact_num, sum(t.CHENGGONG) as success_num,
         avg(t.SGMTNUM)   as SGMTNUM from MTL_CAMPSEG_EVAULATE t
         where t.CAMPSEG_PID = #{campsegPId}
         group by  t.CAMPSEG_PID
          ) a ) RES
          where 1=1
           <if test="compType != null and compType != '' and compType == '2'.toString()">
              and     RES.RATE &lt;=  #{rate}

           </if>

            <if test="compType != null and compType != '' and compType == '1'.toString()">
                and     RES.RATE >=  #{rate}

            </if>




    </select>

    <select id="chkHasCampUsedMaterial" resultType="map">
        select count(1) as count, mccl.CAMPSEG_ID campsegId, mcce.COLUMN_EXT2 materialId from mcd_camp_channel_list mccl
        left join mcd_camp_channel_ext mcce
        on mccl.CAMPSEG_ID = mcce.CAMPSEG_ID
        where mccl.CHANNEL_ID = 968
        and mccl.STATUS not in (20, 32)
        and mcce.COLUMN_EXT2 = #{materialId}
    </select>

    <select id="qryChannelIdByCampsegRootId" resultType="map">
        select mccl.CAMPSEG_ID, mccl.CHANNEL_ID, mccl.CHANNEL_ADIV_ID, mcce.COLUMN_EXT2, mcce.COLUMN_EXT3, mcce.COLUMN_EXT4, mcce.COLUMN_EXT5, mcce.COLUMN_EXT6, mcd.START_DATE, mcd.END_DATE
        from mcd_camp_channel_list mccl
        left join mcd_camp_def mcd on mccl.CAMPSEG_ROOT_ID = mcd.CAMPSEG_ROOT_ID
        left join mcd_camp_channel_ext mcce on mccl.CAMPSEG_ID = mcce.CAMPSEG_ID
        where mccl.CAMPSEG_ROOT_ID = #{campsegRootId}
    </select>

    <select id="queryCampExtByCampId" resultType="map">
        select * from mcd_camp_channel_ext t where t.CAMPSEG_ID = #{campsegId}
    </select>
    <select id="queryPlanByCampsegId" resultType="com.asiainfo.biapp.client.pec.plan.model.McdPlanDef">
        select mpd.*
        from mcd_plan_def mpd
                 join mcd_camp_channel_list mccl on mpd.PLAN_ID = mccl.PLAN_ID
        where mccl.CAMPSEG_PID = #{campsegId}
    </select>

    <select id="queryCustByCampsegId" resultType="com.asiainfo.biapp.pec.approve.jx.model.McdCustgroupDef">
        select mcd.*
        from mcd_custgroup_def mcd
         join mcd_camp_channel_list mccl on mcd.CUSTOM_GROUP_ID = mccl.CUSTGROUP_ID
        where mccl.CAMPSEG_PID = #{campsegId}
    </select>

    <select id="getMtlChannelDefs" resultType="map">
        select dmc.channel_name,ifnull(mcor.pri_order_num ,-1) pri_order_num, mcd.campseg_id, mcd.channel_id,
               case task.exec_status when 55 then 51 else task.exec_status end exec_status
        from mcd_camp_channel_list mcd
                 left join mcd_dim_channel dmc on mcd.channel_id = dmc.channel_id
                 left join mcd_camp_order mcor on  mcd.channel_id = mcor.channel_id and mcor.campseg_id = mcd.campseg_id
                 left join mcd_camp_task task on mcd.campseg_id = task.campseg_id and mcd.channel_id = task.channel_id
        where mcd.CAMPSEG_PID = #{campsegId}
    </select>

    <select id="queryCampInfoByRootId" resultType="com.asiainfo.biapp.pec.approve.jx.vo.ApprovalProcessCampDef">
        select t.CAMPSEG_ID, t.CHANNEL_ID, t.CUSTGROUP_ID, t.CHANNEL_ADIV_ID, t.PLAN_ID, t.CEP_EVENT_ID, mcd.START_DATE, mcd.END_DATE
         from mcd_camp_channel_list t left join mcd_camp_def mcd on t.CAMPSEG_PID = mcd.CAMPSEG_ID
         where mcd.CAMPSEG_ROOT_ID = #{campsegRootId} and t.CAMP_CLASS = 1
    </select>

    <select id="queryCustgroupSourceByRootId" resultType="map">
        select CAMPSEG_ROOT_ID, CUSTGROUP_SOURCE
         from mcd_camp_channel_list
         where CAMPSEG_ROOT_ID = #{campsegRootId} and CAMP_CLASS = 1
    </select>

    <select id="queryAllCampByThemeId" resultType="map">
        select mpsc.CAMPSEG_ROOT_ID from MCD_PRISM_CAMP_THEME mpct
            left join MCD_PRISM_DIM_SCENE mpds
            on mpct.THEME_ID = mpds.THEME_ID and mpct.STATUS = 1 and mpds.STATUS = 1
            inner join MCD_PRISM_SCENE_CAMP mpsc on mpds.SCENE_ID = mpsc.SCENE_ID
            where mpct.THEME_ID = #{themeId}
    </select>

</mapper>
