<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.asiainfo.biapp.pec.approve.jx.dao.McdCampWarnEmisTaskMapper">

    <select id="queryWarnDetailList" resultType="com.asiainfo.biapp.pec.approve.jx.model.McdCampWarnEmisTaskExt">

        select t1.*,
            t2.USER_NAME,
            t2.CITY_ID,
            t2.DEPARTMENT_ID,
            t3.city_name,
            t4.TITLE as DEPT_NAME
        from MCD_CAMP_WARN_EMIS_TASK t1
        left join mcd_sys_user t2 on t1.CREATER = t2.USER_ID
        left join mcd_sys_city t3 on t2.CITY_ID = t3.CITY_ID
        left join mcd_sys_department t4 on t2.DEPARTMENT_ID = t4.DEPT_ID
        where 1 = 1
        <if test="param.campsegKey != null and param.campsegKey != '' ">
            and (t1.CAMPSEG_ID like concat('%',#{param.campsegKey},'%') or t1.CAMPSEG_NAME LIKE concat('%',#{param.campsegKey},'%') )
        </if>
        <if test="param.cityId != null and param.cityId != '' ">
            AND t2.CITY_ID = #{param.cityId}
        </if>

        <if test="param.deptId != null and param.deptId != '' ">
            and t4.DEPT_ID = #{param.deptId}
        </if>

        <if test="param.createUser != null and param.createUser != '' ">
            and (t2.USER_ID like concat('%',#{param.createUser},'%') or t2.USER_NAME LIKE concat('%',#{param.createUser},'%') )
        </if>
        <if test="param.startDate != null and param.startDate != '' ">
            and DATE_FORMAT(t1.WARNING_TIME, '%Y-%m-%d')<![CDATA[>=]]> #{param.startDate}
        </if>
        <if test="param.endDate != null and param.endDate != '' ">
            and DATE_FORMAT(t1.WARNING_TIME, '%Y-%m-%d')<![CDATA[<=]]> #{param.endDate}
        </if>

    </select>

    <select id="queryWarnSumList" resultType="com.asiainfo.biapp.pec.approve.jx.model.McdCampWarnEmisTaskExt">
        select MAIN.*,
               (MAIN.STATUS_0 + MAIN.STATUS_1 + MAIN.STATUS_2 + MAIN.STATUS_3) as TOTAL,
               (MAIN.STATUS_0 + MAIN.STATUS_2 + MAIN.STATUS_3)                 as UNFINISHED,
               MAIN.STATUS_1                                                   as FINISHED
        FROM (SELECT WARNING_TIME,
                     USER_ID,
                     USER_NAME,
                     CITY_ID,
                     city_name,
                     DEPARTMENT_ID,
                     TITLE                               AS DEPT_NAME,
                        sum(if(STATUS = 0,warn_num,0)) as STATUS_0,
                        sum(if(STATUS = 1,warn_num,0)) as STATUS_1,
                        sum(if(STATUS = 2,warn_num,0)) as STATUS_2,
                        sum(if(STATUS = 3,warn_num,0)) as STATUS_3
              from (SELECT WARNING_TIME,
                           STATUS,
                           USER_ID,
                           USER_NAME,
                           CITY_ID,
                           city_name,
                           DEPARTMENT_ID,
                           TITLE,
                           count(*) warn_num
                    FROM (select t1.STATUS,
                                 t2.USER_ID,
                                 t2.USER_NAME,
                                 t2.CITY_ID,
                                 t2.DEPARTMENT_ID,
                                 t3.CITY_NAME,
                                 t4.TITLE,
                                 DATE_FORMAT(t1.WARNING_TIME, '%Y-%m-%d') as WARNING_TIME
                          from mcd_CAMP_WARN_EMIS_TASK t1
                                   left join mcd_sys_user t2 on t1.CREATER = t2.USER_ID
                                   left join mcd_sys_city t3 on t2.CITY_ID = t3.CITY_ID
                                   left join mcd_sys_department t4 on t2.DEPARTMENT_ID = t4.DEPT_ID
                          where 1 = 1
                            <if test="param.campsegKey != null and param.campsegKey != '' ">
                                and (t1.CAMPSEG_ID like concat('%',#{param.campsegKey},'%') or t1.CAMPSEG_NAME LIKE concat('%',#{param.campsegKey},'%') )
                            </if>
                            <if test="param.cityId != null and param.cityId != '' ">
                                AND t2.CITY_ID = #{param.cityId}
                            </if>

                            <if test="param.deptId != null and param.deptId != '' ">
                                and t4.DEPT_ID = #{param.deptId}
                            </if>

                            <if test="param.createUser != null and param.createUser != '' ">
                                and (t2.USER_ID like concat('%',#{param.createUser},'%') or t2.USER_NAME LIKE concat('%',#{param.createUser},'%') )
                            </if>
                            <if test="param.startDate != null and param.startDate != '' ">
                                and DATE_FORMAT(t1.WARNING_TIME, '%Y-%m-%d')<![CDATA[>=]]> #{param.startDate}
                            </if>
                            <if test="param.endDate != null and param.endDate != '' ">
                                and DATE_FORMAT(t1.WARNING_TIME, '%Y-%m-%d')<![CDATA[<=]]> #{param.endDate}
                            </if>
                         ) t0
                    group by WARNING_TIME, STATUS, USER_ID, USER_NAME, CITY_ID, city_name, DEPARTMENT_ID, TITLE
                    order by WARNING_TIME, CITY_ID, DEPARTMENT_ID, USER_NAME
                   ) t00
              group by WARNING_TIME, USER_ID, USER_NAME, CITY_ID, city_name, DEPARTMENT_ID, TITLE) MAIN
    </select>
</mapper>
