<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.asiainfo.biapp.pec.approve.jx.dao.McdEmisReadTaskMapper">
    <select id="queryReadList" resultType="com.asiainfo.biapp.pec.approve.jx.model.McdEmisReadTask">
        SELECT mert.ID,
               mert.NAME,
               mert.BUSINESS_ID,
               mert.BUSINESS_TYPE,
               mert.SUBMIT_USER,
               mert.NODE_ID,
               mert.STATUS,
               mert.CREATE_TIME,
               mert.DEAL_TIME,
               mert.READ_USER,
               mert.ADVICE,
               msu.USER_NAME as SUBMIT_USER_NAME
        FROM MCD_EMIS_READ_TASK mert
                 left join mcd_sys_user msu on mert.SUBMIT_USER = msu.USER_ID
        where 1=1
        <if test="param.submitter != null and param.submitter !=''">
            and ( mert.SUBMIT_USER like concat('%',#{param.submitter},'%')  or msu.USER_NAME like concat('%',#{param.submitter},'%'))
        </if>
        <if test="param.businessKey != null and param.businessKey !=''">
            and( mert.NAME like concat('%',#{param.businessKey},'%') or mert.BUSINESS_ID like concat('%',#{param.businessKey},'%'))
        </if>
        <if test="param.loginUserId != null and param.loginUserId !=''">
            and mert.READ_USER  =  #{param.loginUserId}
        </if>
          and mert.STATUS = 0
        order by mert.CREATE_TIME desc
    </select>

</mapper>
