<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.asiainfo.biapp.pec.approve.jx.dao.SysUserDao">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.asiainfo.biapp.pec.approve.jx.model.SysUser">
        <id column="ID" property="id" />
        <result column="USER_ID" property="userId" />
        <result column="PWD" property="pwd" />
        <result column="STATUS" property="status" />
        <result column="CITY_ID" property="cityId" />
        <result column="ACTUAL_CITY_ID" property="actualCityId" />
        <result column="DEPARTMENT_ID" property="departmentId" />
        <result column="OFFICE_ID" property="officeId" />
        <result column="USER_NAME" property="userName" />
        <result column="STAFF_NO" property="staffNo" />
        <result column="MOBILE_PHONE" property="mobilePhone" />
        <result column="EMAIL" property="email" />
        <result column="CREATE_TIME" property="createTime" />
        <result column="CREATE_BY" property="createBy" />
        <result column="UPDATE_BY" property="updateBy" />
        <result column="UPDATE_DATE" property="updateDate" />
        <result column="DELETE_TIME" property="deleteTime" />
        <result column="DEL_FLAG" property="delFlag" />
        <result column="LOGIN_IP" property="loginIp" />
        <result column="LOGIN_DATE" property="loginDate" />
        <result column="USER_TYPE" property="userType" />
        <result column="BIRTHDAY" property="birthday" />
        <result column="NOTES" property="notes" />
        <result column="PHOTO" property="photo" />
        <result column="OA_USER_ID" property="oaUserId" />
        <result column="BOSS_USER_ID" property="bossUserId" />
        <result column="PROVINCE" property="province" />
        <result column="COUNTY_ID" property="countyId" />
        <result column="GRID_ID" property="gridId" />
    </resultMap>

    <!-- 根据角色id查询用户数据 -->
    <select id="queryUserByRoleId" resultType="com.asiainfo.biapp.pec.approve.jx.model.SysUser">
        select
            U.ID,U.USER_ID,U.STATUS,U.CITY_ID,U.ACTUAL_CITY_ID,U.DEPARTMENT_ID,U.OFFICE_ID,U.USER_NAME,U.STAFF_NO,U.MOBILE_PHONE,
            U.EMAIL,U.CREATE_TIME,U.CREATE_BY,U.UPDATE_BY,U.UPDATE_DATE,U.DELETE_TIME,U.DEL_FLAG,U.LOGIN_IP,U.LOGIN_DATE,U.USER_TYPE,
            U.BIRTHDAY,U.NOTES,U.PHOTO,U.OA_USER_ID,U.BOSS_USER_ID,U.PROVINCE,U.COUNTY_ID,U.GRID_ID
        from
            MCD_SYS_USER U
        left join MCD_SYS_USER_ROLE_RELATION UR on U.USER_ID = UR.USER_ID
        where UR.ROLE_ID = #{roleId}
    </select>

    <resultMap id="channelRoleMap" type="com.asiainfo.biapp.pec.approve.jx.vo.McdChannelRoleListVo">
        <result column="ROLE_ID" property="roleId" />
        <result column="CHANNEL_ID" property="channelId" />
        <result column="CAMPSEG_ROOT_ID" property="campsegId" />
        <result column="CAMPSEG_NAME" property="campsegName" />

    </resultMap>

    <select id="queryChannelRoleByCampsegId"  resultMap="channelRoleMap">

        select macrr.ROLE_ID, a.*
        from MCD_APPROVE_CHANNEL_ROLE_RELATION macrr
       inner join (select mccl.CHANNEL_ID, def.CAMPSEG_ROOT_ID, def.CAMPSEG_NAME
                   from MCD_CAMP_CHANNEL_LIST mccl
                          left join mcd_camp_def def on mccl.CAMPSEG_PID = def.CAMPSEG_ID
                   where def.CAMPSEG_ROOT_ID = #{campsegId} group by mccl.CHANNEL_ID
                   ) a on macrr.CHANNEL_ID = a.CHANNEL_ID

    </select>

    <select id="getUserAndCampInfoCampsegId" resultType="map">
        select msu.*,
            def.CAMPSEG_NAME NAME from
            mcd_camp_def def
            left join mcd_sys_user msu
            on def.CREATE_USER_ID = msu.USER_ID
            where def.CAMPSEG_ROOT_ID = #{campsegRootId}
<!--        <if test="type != null and type == 'alarm'">-->
<!--            alarm.ALARM_NAME name from-->
<!--            mcd_app_alarm_info alarm-->
<!--            left join mcd_sys_user msu-->
<!--            on alarm.CREATE_USER = msu.USER_ID-->
<!--            where alarm.ALARM_ID = #{campsegRootId}-->
<!--        </if>-->

    </select>

</mapper>
