<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.asiainfo.biapp.pec.plan.jx.hmh5.transplant.feedback.mapper.McdFeedbackQaMapper">
    <select id="getRecentlyReplyFeedback"
            resultType="com.asiainfo.biapp.pec.plan.jx.hmh5.transplant.feedback.service.impl.resultInfo.McdManagerFeedbackRecentlyReply">
        SELECT MG.STAFF_NAME,
        MG.MANAGER_PRODUCT_NO,
        MF.MANAGER_ID,
        MF.BUSINESS_ID,
        MF.CREATE_TIME,
        MF.FEEDBACK_DESCRIPTION,
        MF.FEEDBACK_TYPE,
        FQAU.QA_CONTENT,
        FQAU.CREATE_TIME ANSWER_TIME,
        FQAU.CREATE_BY QA_CREATE_BY,
        FQAU.STATE READ_STATE,
        SE.ENUM_VALUE FEEDBACK_TYPE_NAME
        FROM MCD_MANAGER_FEEDBACK MF
        LEFT JOIN MCD_FRONT_LINE_MANAGER MG ON MG.STAFF_ID = MF.MANAGER_ID
        LEFT JOIN (SELECT FQA.*
        FROM MCD_FEEDBACK_QA FQA
        INNER JOIN (SELECT QAA.BUSINESS_ID, MAX(QAA.CREATE_TIME) MAX_CREATE_TIME
        FROM MCD_FEEDBACK_QA QAA
        GROUP BY QAA.BUSINESS_ID) FQAB
        ON FQAB.BUSINESS_ID = FQA.BUSINESS_ID AND
        FQAB.MAX_CREATE_TIME = FQA.CREATE_TIME) FQAU
        ON FQAU.BUSINESS_ID = MF.BUSINESS_ID
        LEFT JOIN MCD_SYS_ENUM SE
        ON SE.ENUM_KEY = MF.FEEDBACK_TYPE AND SE.ENUM_TYPE = 'feedback_type'
        <where>
            <if test="feedbackVO.staffName != null and feedbackVO.staffName != ''">
                AND MG.STAFF_NAME LIKE '%'||#{feedbackVO.staffName}||'%'
            </if>
            <if test="feedbackVO.managerProductNo != null and feedbackVO.managerProductNo != ''">
                AND MG.MANAGER_PRODUCT_NO LIKE '%'||#{feedbackVO.managerProductNo}||'%'
            </if>
            <if test="feedbackVO.managerId != null and feedbackVO.managerId != ''">
                AND MF.MANAGER_ID LIKE '%'||#{feedbackVO.managerId}||'%'
            </if>
            <if test="feedbackVO.businessId != null and feedbackVO.businessId != ''">
                AND MF.BUSINESS_ID LIKE '%'||#{feedbackVO.businessId}||'%'
            </if>
            <if test="feedbackVO.feedbackType != null and feedbackVO.feedbackType != ''">
                AND MF.FEEDBACK_TYPE LIKE '%'||#{feedbackVO.feedbackType}||'%'
            </if>
            <if test="feedbackVO.createTimeStart != null and feedbackVO.createTimeStart != ''">
                AND MF.CREATE_TIME &gt;= #{feedbackVO.createTimeStart}
            </if>
            <if test="feedbackVO.createTimeEnd != null and feedbackVO.createTimeEnd != ''">
                AND MF.CREATE_TIME&lt;= #{feedbackVO.createTimeEnd}
            </if>
            <if test="feedbackVO.answerTimeStart != null and feedbackVO.answerTimeStart != ''">
                AND FQAU.CREATE_TIME &gt;= #{feedbackVO.answerTimeStart}
            </if>
            <if test="feedbackVO.answerTimeEnd != null and feedbackVO.answerTimeEnd !=''">
                AND FQAU.CREATE_TIME &lt;= #{feedbackVO.answerTimeEnd}
            </if>
        </where>
        ORDER BY FQAU.CREATE_TIME DESC
    </select>
</mapper>
