<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.asiainfo.biapp.pec.plan.jx.hisdata.dao.CmpApproveProcessRecordHisMapper">
    <select id="selectCreateRecord" resultType="com.asiainfo.biapp.pec.plan.jx.hisdata.model.CmpApproveProcessRecordHis">
        select t.APPROVE_FLOW_ID as INSTANCE_ID,
               t.CAMPSEG_ID      as BUSINESS_ID,
               'node_0'          as NODE_ID,
               '开始'              as NODE_NAME,
               t.CREATE_USER_ID      APPROVER,
               t3.USER_NAME as APPROVER_NAME,
               '提交策划'               DEAL_OPINION,
               t.CAMPSEG_STAT_ID         SUBMIT_STATUS,
               t3.CITY_ID            CITY_ID,
               t4.CITY_NAME         APPROVAL_USER_CITY,
               t3.DEPARTMENT_ID      DEPT_ID,
               t5.TITLE             APPROVAL_USER_DEPT,
               t.CREATE_TIME     as CREATE_DATE
        from MCD_CAMP_DEF t
                 left join mcd_sys_user t3 on t.CREATE_USER_ID = t3.USER_ID
                 left join mcd_sys_city t4 on t3.CITY_ID = t4.CITY_ID
                 left join mcd_sys_department t5 on t3.DEPARTMENT_ID = t5.DEPT_ID
        where t.CAMPSEG_ID = #{campsegRootId}
    </select>

</mapper>
