<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.asiainfo.biapp.pec.plan.jx.hmh5.dao.IMcdAlarmEnergyMapper">

    <!-- 预警能效查询 -->
    <select id="queryAlarmEnergyList" resultType="com.asiainfo.biapp.pec.plan.jx.hmh5.vo.McdAlarmEfficacyVo">
        select ryer.*, dcity.CITY_NAME, dcounty.COUNTY_NAME,grid.GRID_NAME  from REPORT_YJ_ENERGY_RECORDING ryer
        left join DIM_PUB_CITY dcity on ryer.CITY_ID = dcity.CITY_ID
        left join DIM_PUB_COUNTY dcounty on ryer.COUNTY_ID = dcounty.COUNTY_ID
        left join dim_pub_grid grid on ryer.GRID_ID = grid.GRID_ID
        <where>
            <if test = "query.city != null and query.city !=''">
                and ryer.CITY_ID = #{query.city}
            </if>

            <if test = "query.county != null and query.county !='' and query.county !='9999'">
                and ryer.COUNTY_ID = #{query.county}
            </if>


            <if test = "query.grid != null and query.grid !='' and query.grid !='9999'">
                and ryer.GRID_NAME LIKE  '%'||#{query.grid}||'%'
            </if>

            <if test = "query.alarmType != null and query.alarmType !=''">
                and ryer.ALARM_TYPE = #{query.alarmType}
            </if>


            <if test = "query.alarmName != null and query.alarmName !=''">
                and ryer.ALARM_ID = #{query.alarmName}
            </if>

            <if test="query.startTime != null and query.startTime !='' ">
                and ryer.CREATE_TIME <![CDATA[ >= ]]> to_date(#{query.startTime},'yyyy-mm-dd hh24:mi:ss')
            </if>

            <if test="query.endTime != null and query.endTime !='' ">
                and ryer.CREATE_TIME <![CDATA[ <= ]]> to_date( #{query.endTime},'yyyy-mm-dd hh24:mi:ss')
            </if>
        </where>
        ORDER BY ryer.CITY_ID DESC
    </select>
</mapper>