<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.asiainfo.biapp.pec.plan.jx.specialuser.dao.JxSpecialUseDao">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.asiainfo.biapp.pec.plan.jx.specialuser.model.JxMcdSpecialUse">
        <id column="channel_id" property="channelId"/>
        <result column="cust_type" property="custType"/>
        <result column="product_no" property="productNo"/>
        <result column="desc" property="desc"/>
        <result column="enter_time" property="enterTime"/>
        <result column="create_user_id" property="createUserId"/>
        <result column="data_source" property="dataSource"/>
        <result column="start_time" property="startTime"/>
        <result column="end_time" property="endTime"/>
        <result column="USER_NAME" property="userName"/>
        <result column="CHANNEL_NAME" property="channelName"/>
    </resultMap>
    <insert id="saveBatchSpecialUser">
        replace into mcd_special_use
        (
        channel_id,cust_type,product_no,start_time,`desc`,enter_time,create_user_id,data_source,end_time,USER_NAME,CHANNEL_NAME
        ) values
        <foreach collection="list" index="index" item="item" separator=",">
            (
            #{item.channelId,jdbcType=VARCHAR},#{item.custType,jdbcType=INTEGER},#{item.productNo,jdbcType=VARCHAR},
            #{item.startTime,jdbcType=TIMESTAMP},#{item.desc,jdbcType=VARCHAR},#{item.enterTime,jdbcType=TIMESTAMP},
            #{item.createUserId,jdbcType=VARCHAR},#{item.dataSource,jdbcType=INTEGER},#{item.endTime,jdbcType=TIMESTAMP},
            #{item.userName,jdbcType=VARCHAR},#{item.channelName,jdbcType=VARCHAR}
            )
        </foreach>
    </insert>

    <select id="pageSpecialUse" resultType="com.asiainfo.biapp.pec.plan.vo.SpecialUser">
        SELECT list.channel_Id,
        list.cust_type,
        to_base64(list.product_no) product_no,
        list.desc,
        list.enter_time,
        list.create_user_id,
        list.data_source,
        list.start_time,
        list.end_time,
        case when list.channel_Id = '-1' then '全渠道' else list.channel_name end channel_name
        FROM mcd_special_use list
        <where>
            <if test="query.channelId != null and query.channelId != ''">
                and list.channel_id = #{query.channelId,jdbcType=VARCHAR}
            </if>
            <if test="query.userType != null">
                and list.cust_type = #{query.userType,jdbcType=VARCHAR}
            </if>
            <if test="query.phoneNo != null and query.phoneNo != ''">
                and list.product_no = #{query.phoneNo,jdbcType=VARCHAR}
            </if>
        </where>
        ORDER BY list.ENTER_TIME DESC,list.channel_Id DESC,list.cust_type DESC,list.product_no DESC
    </select>

    <select id="pageSpecialUseCount" parameterType="com.asiainfo.biapp.pec.plan.vo.req.SpecialUseQuery" resultType="java.lang.Long">
        SELECT count(1)
        FROM mcd_special_use list
        <where>
            <if test="query.channelId != null and query.channelId != ''">
                and list.channel_id = #{query.channelId,jdbcType=VARCHAR}
            </if>
            <if test="query.userType != null">
                and list.cust_type = #{query.userType,jdbcType=VARCHAR}
            </if>
            <if test="query.phoneNo != null and query.phoneNo != ''">
                and list.product_no = #{query.phoneNo,jdbcType=VARCHAR}
            </if>
        </where>
    </select>

</mapper>
