<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.asiainfo.biapp.pec.plan.jx.hmh5.dao.McdFrontMainOfferInfoDao">

    <select id="selectMainOffers"
            resultType="com.asiainfo.biapp.pec.plan.jx.hmh5.model.McdFrontMainOfferInfoModel">
        select info.*,u.USERID as createUserId, u.USERNAME as createUserName ,c.CITY_NAME from MCD_MAIN_OFFER_INFO info
        LEFT JOIN USER_USER u ON info.CREATE_BY = u.USERID
        LEFT JOIN DIM_PUB_CITY c ON info.CITY_ID = c.CITY_ID
        <where>
            <if test="mainOfferQuery.offerIdOrName != null and mainOfferQuery.offerIdOrName != ''">
                AND info.OFFER_ID LIKE '%'||#{mainOfferQuery.offerIdOrName}||'%'
                OR info.OFFER_NAME LIKE '%'||#{mainOfferQuery.offerIdOrName}||'%'
            </if>
            <if test="mainOfferQuery.getCityId != null and mainOfferQuery.getCityId != ''">
                AND info.CITY_ID = #{mainOfferQuery.cityId}
            </if>
            <if test="mainOfferQuery.getState != null and mainOfferQuery.getState != ''">
                AND info.STATE = #{mainOfferQuery.state}
            </if>
            <if test="mainOfferQuery.startDate != null and mainOfferQuery.startDate != ''">
                AND info.CREATE_TIME &gt;= to_date(#{mainOfferQuery.startDate}, 'YYYY-MM-DD')
            </if>
            <if test="mainOfferQuery.endDate != null and mainOfferQuery.endDate != ''">
                AND info.CREATE_TIME &lt;= to_date(#{mainOfferQuery.endDate}, 'YYYY-MM-DD')
            </if>
        </where>
        AND info.IS_DELETED = 0
        ORDER BY info.CREATE_TIME DESC
    </select>

    <select id="selectMainOffer"
            resultType="com.asiainfo.biapp.pec.plan.jx.hmh5.model.McdFrontMainOfferInfoModel">
        select info.*,u.USERID as createUserId, u.USERNAME as createUserName ,c.CITY_NAME from MCD_MAIN_OFFER_INFO info
        LEFT JOIN USER_USER u ON info.CREATE_BY = u.USERID
        LEFT JOIN DIM_PUB_CITY c ON info.CITY_ID = c.CITY_ID
        <where>
            <if test="offerId != null and offerId != ''">
                AND OFFER_ID = #{offerId}
            </if>
        </where>
    </select>

</mapper>

