<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.asiainfo.biapp.pec.plan.jx.camp.dao.McdCampSaleSituationDao">

    <resultMap id="excellentCampMap" type="com.asiainfo.biapp.pec.plan.jx.camp.vo.McdExcellentRecommendCamp">
        <result column="STAT_DATE" property="statDate" ></result>
        <result column="CAMPSEG_ID" property="campsegId" ></result>
        <result column="CAMPSEG_NAME" property="campsegName" ></result>
        <result column="CITY_ID" property="cityId" ></result>
        <result column="CAMP_USER_NUM_TOTAL" property="campUserNum" ></result>
        <result column="CAMP_SUCC_NUM_TOTAL" property="campSuccNum" ></result>
        <result column="CAMP_SUCC_RATE_TOTAL" property="campSuccRate" ></result>
        <result column="PV_CONVERT_RATE_TOTAL" property="pvConvertRate" ></result>
        <result column="ORDER_SCORE" property="orderScore" ></result>


    </resultMap>
    
    
    <select id="getRecommendCamp" resultMap="excellentCampMap" >

        SELECT  A.STAT_DATE,
        A.CAMPSEG_ID,
        B.CAMPSEG_NAME,
        A.CITY_ID,
        SUM(A.CAMP_USER_NUM_TOTAL)   CAMP_USER_NUM_TOTAL,
        SUM(A.CAMP_SUCC_NUM_TOTAL)   CAMP_SUCC_NUM_TOTAL,
        SUM(A.CAMP_SUCC_RATE_TOTAL)  CAMP_SUCC_RATE_TOTAL,
        SUM(A.PV_CONVERT_RATE_TOTAL) PV_CONVERT_RATE_TOTAL,
        SUM(A.ORDER_SCORE)           ORDER_SCORE
        FROM MTL_CAMPSEG_SORT A
        left join MCD_CAMP_DEF B ON A.CAMPSEG_ID = B.CAMPSEG_ID
        JOIN DIM_PLAN_RECM C ON A.CITY_ID = C.CITY_ID
        LEFT JOIN (SELECT MAX(STAT_DATE) STAT_DATE FROM MTL_CAMPSEG_SORT) D ON A.STAT_DATE = D.STAT_DATE
        WHERE   A.CAMPSEG_TYPE = 1
        AND B.CAMPSEG_ROOT_ID != '0'
        AND A.CAMP_SUCC_RATE_TOTAL > C.RATE
        AND A.CAMP_SUCC_NUM_TOTAL > C.USER_NUM

       <if test="cityId != null and cityId != '' and cityId != '999'.toString()">
           and  A.CITY_ID  = #{cityId}
       </if>

        GROUP BY A.STAT_DATE, A.CITY_ID, A.CAMPSEG_ID
        ORDER BY A.CAMP_SUCC_RATE_TOTAL  DESC
    </select>


    <resultMap id="channelMap" type="com.asiainfo.biapp.pec.plan.jx.camp.vo.CampChannel">
        <result column="CHANNEL_ID" property="channelId" ></result>
        <result column="CHANNEL_NAME" property="channelName" ></result>

    </resultMap>

    <select id="getCampChannel" resultMap="channelMap" >

        select A.CHANNEL_ID,B.CHANNEL_NAME
        from mcd_camp_channel_list A
        LEFT JOIN mcd_dim_channel B ON B.CHANNEL_ID = A.CHANNEL_ID
        WHERE A.CAMPSEG_PID = #{campsegId}

    </select>

</mapper>
