<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.asiainfo.biapp.pec.plan.jx.camp.dao.McdChannelExecInfoDao">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.asiainfo.biapp.pec.plan.jx.camp.vo.McdChannelExecInfo">
        <result column="CHANNEL_ID" property="channelId"/>
        <result column="CHANNEL_NAME" property="channelName"/>
        <result column="EXEC_CAPACITY" property="execCapacity"/>
        <result column="EXEC_NUM" property="execNum"/>
        <result column="NO_EXEC_NUM" property="noExecNum"/>
        <result column="UPDATE_TIME" property="updateTime"/>
    </resultMap>

    <!-- 渠道下发情况查询 -->
    <select id="queryChannelExecInfo" resultMap="BaseResultMap">

       select mcei.channel_id,
       mdc.CHANNEL_NAME,
       mcec.exec_capacity,
       mcei.exec_num,
       mcei.no_exec_num,
       mcei.update_time
       from mcd_channel_exec_info mcei
         left join mcd_channel_exec_capacity mcec on mcei.channel_id = mcec.channel_id
         left join mcd_dim_channel mdc on mcec.channel_id = mdc.CHANNEL_ID
         where mcei.channel_id = #{channelId}

    </select>


    <!-- 策略详情渠道下发情况查询 -->
    <select id="queryChannelExecList" resultMap="BaseResultMap">

       select mcei.channel_id,
       mdc.CHANNEL_NAME,
       mcec.exec_capacity,
       mcei.exec_num,
       mcei.no_exec_num,
       mcei.update_time
       from mcd_channel_exec_info mcei
         left join mcd_channel_exec_capacity mcec on mcei.channel_id = mcec.channel_id
         left join mcd_dim_channel mdc on mcec.channel_id = mdc.CHANNEL_ID
         where mcei.channel_id  in
          (
            select distinct mccl.CHANNEL_ID
            from mcd_camp_channel_list mccl
            where mccl.CAMPSEG_ROOT_ID = #{campsegId} or mccl.CAMPSEG_ID =  #{campsegId}
            )
    </select>




    <select id="queryCustNumByChannel" resultType="map">

        select chan.CHANNEL_ID,sum(cust.CUSTOM_NUM) CUSTOM_NUM
             from mcd_camp_def def
        left join mcd_camp_channel_list chan on chan.CAMPSEG_PID = def.CAMPSEG_ID
        left join mcd_custgroup_def cust on cust.CUSTOM_GROUP_ID = chan.CUSTGROUP_ID
             where chan.CHANNEL_ID in ( '801','960','964')
              and def.CAMPSEG_STAT_ID = '54' group by chan.CHANNEL_ID

    </select>




</mapper>
