<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.asiainfo.biapp.pec.plan.jx.hmh5.dao.McdHmh5BlacklistTaskMapper">

    <select id="qryApprRecord" resultType="com.asiainfo.biapp.pec.plan.jx.hmh5.vo.BlacklistApprRecord">
        select mhbt.TASK_ID taskId, mhbt.TASK_NAME taskName, mhbt.CREATE_TIME createTime, uu.USERID createUserId, uu.USERNAME userName
                from MCD_HMH5_BLACKLIST_TASK mhbt
                left join user_user uu on mhbt.CREATE_USER_ID = uu.USERID
        <where>
            <if test="taskIds.size()>0">
                and mhbt.TASK_ID in
                <foreach collection="taskIds" item="taskId" open="(" close=")" separator=",">
                    #{taskId,jdbcType=VARCHAR}
                </foreach>
            </if>
            <if test="query.userName != '' and query.userName != null">
                and uu.USERNAME like '%'||#{query.userName}||'%'
            </if>
        </where>
        order by mhbt.CREATE_TIME DESC
    </select>

</mapper>
