<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.asiainfo.biapp.pec.plan.jx.camp.dao.McdMarketingHistoryDao">

    <resultMap id="planMHMap" type="com.asiainfo.biapp.pec.plan.jx.camp.vo.McdPlanMarketingHistoryInfo">
        <result column="campsegId" property="campsegId" />
        <result column="campsegName" property="campsegName" />
        <result column="successNum" property="successNum" />
        <result column="successRate" property="successRate" />

    </resultMap>


    <select id="queryPlanMarketingHistory"   resultMap="planMHMap">
        SELECT
        CAMPSEG_PID                                                   campsegId,
        CAMPSEG_NAME                                                   campsegName,
        SUM(CHENGGONG)                                                 AS successNum,
        CASE
        WHEN SUM(JIECHU) = 0 THEN '0'
        ELSE (ROUND(SUM(CHENGGONG) * 100.0 / SUM(JIECHU), 2)) END     AS successRate

        FROM MTL_CAMPSEG_EVAULATE_DAY mce

        WHERE 1 = 1
        and mce.PLAN_NAME = #{req.planName}
          AND DATA_DATE between str_to_date(#{req.startDate}, '%Y-%m-%d') AND   str_to_date(#{req.endDate}, '%Y-%m-%d')
        GROUP BY  CAMPSEG_PID, CAMPSEG_NAME
        ORDER BY successRate desc
        limit 0,5
    </select>



    <resultMap id="chanPlanMHMap" type="com.asiainfo.biapp.pec.plan.jx.camp.vo.McdChanPlanSuccessMarketingHistoryInfo">
        <result column="successLevel" property="successLevel" />
        <result column="successRate" property="successRate" />
        <result column="campsegNum" property="campsegNum" />

    </resultMap>


    <select id="queryChanAndPlanMarketingHistory" resultMap="chanPlanMHMap">

        select a.successLevel, count(*) campsegNum
        from (

        Select distinct CAMPSEG_PID,
        case
        when ROUND(SUM(CHENGGONG) / SUM(JIECHU), 2) > 0.8 then '5'
        when ROUND(SUM(CHENGGONG) / SUM(JIECHU), 2) > 0.6 then '4'
        when ROUND(SUM(CHENGGONG) / SUM(JIECHU), 2) > 0.4 then '3'
        when ROUND(SUM(CHENGGONG) / SUM(JIECHU), 2) > 0.2 then '2'
        when ROUND(SUM(CHENGGONG) / SUM(JIECHU), 2) > 0  then '1'
        else '0' End as successLevel
        from MTL_CAMPSEG_EVAULATE_DAY
        WHERE 1 = 1
        <if test="req.planName != null and req.planName != ''" >
            and PLAN_NAME = #{req.planName}

        </if>
        <if test="req.channelId != null and req.channelId != ''" >
            and CHANNEL = #{req.channelId}

        </if>
        <if test="req.startDate != null and req.startDate != ''" >
            AND DATA_DATE between str_to_date(#{req.startDate}, '%Y-%m-%d') AND   str_to_date(#{req.endDate}, '%Y-%m-%d')
        </if>

        group by CAMPSEG_PID

        ) a  group by a.successLevel

    </select>



</mapper>
