<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.asiainfo.biapp.pec.plan.jx.camp.dao.SingleUserQueryDao">


    <resultMap id="resultDetailMap" type="com.asiainfo.biapp.pec.plan.jx.camp.vo.MarketResultDetail">
        <result column="log_time" property="logTime"></result>
        <result column="status" property="status"></result>
        <result column="description" property="campsegChannelDescription"></result>


    </resultMap>

    <select id="queryMarketingResultDetail"  resultMap="resultDetailMap">
        select
            mcel.status,
            mcel.log_time,
            mcel.description
        from     ${req.tableName}  mcel
        where mcel.product_no = #{req.phoneNo}
        and mcel.channel_id =  #{req.channelId}
        and mcel.campseg_id =  #{req.campsegId}

        <choose>
            <when test="req.marketResult != null and req.marketResult != '-1'.toString()">
                and mcel.STATUS =  #{req.marketResult}
            </when>
            <otherwise>
                and mcel.STATUS in  ( 0,1,2)
            </otherwise>
        </choose>

        order by log_time desc

    </select>

    <resultMap id="resultChannelDetailMap" type="com.asiainfo.biapp.pec.plan.jx.camp.vo.SingleUserMarketResultDetail">
        <result column="channel_id" property="channelId"></result>
        <result column="channel_name" property="channelName"></result>

    </resultMap>

    <select id="queryChannelInfo" resultMap="resultChannelDetailMap">

        select distinct
                 mdc.channel_id,
                 mdc.channel_name
         from   mcd_dim_channel mdc
         inner join   mcd_camp_channel_list mccl  on mdc.channel_id = mccl.channel_id
         inner join   ${req.tableName} mcel on mcel.campseg_id = mccl.CAMPSEG_ID
         where mcel.product_no =  #{req.phoneNo} and mcel.campseg_id =  #{req.campsegId}

    </select>


    <resultMap id="campsegSyncInfoMap" type="com.asiainfo.biapp.pec.common.jx.model.CampsegSyncInfo">
        <result column="CAMPSEG_ID" property="campsegId"></result>
        <result column="campseg_name" property="campsegName"></result>
        <result column="CAMPSEG_ROOT_ID" property="campsegRootId"></result>
        <result column="CAMPSEG_DESC" property="campsegDesc"></result>
        <result column="start_date" property="startDate"></result>
        <result column="end_date" property="endDate"></result>
        <result column="plan_id" property="planId"></result>
        <result column="plan_name" property="planName"></result>
        <result column="CHANNEL_ID" property="channelId"></result>

    </resultMap>

    <select id="queryChannelExeLogInfo" resultMap="campsegSyncInfoMap">

         select distinct
             mcd.campseg_name,
             ch.CAMPSEG_ID,
             mcd.CAMPSEG_ROOT_ID,
             mcd.CAMPSEG_DESC,
             mcd.start_date,
             mcd.end_date,
             mpd.plan_id,
             mpd.plan_name,
             ch.CHANNEL_ID
         from  ${req.tableName}  mcel
        left join mcd_camp_channel_list ch on ch.CAMPSEG_ID = mcel.CAMPSEG_ID
        inner join mcd_camp_def mcd on ch.CAMPSEG_PID = mcd.campseg_id
         inner join mcd_plan_def mpd on ch.PLAN_ID= mpd.plan_id

          where mcel.product_no = #{req.phoneNo}

        <choose>
            <when test="req.marketResult != null  and req.marketResult != '-1'.toString()">
                and mcel.STATUS =  #{req.marketResult}
            </when>
            <otherwise>
                and mcel.STATUS in  ( 0,1,2)
            </otherwise>
        </choose>

         <if test="req.campsegStatus != null  and req.campsegStatus != '-1'.toString()">
             and mcd.campseg_stat_id =  #{req.campsegStatus}
         </if>

    </select>

</mapper>
