<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.asiainfo.biapp.pec.plan.jx.hmh5.dao.ScenarioDao">
    <insert id="saveScenarioRule" parameterType="com.asiainfo.biapp.pec.plan.jx.hmh5.model.ScenarioRuleAdd">
        insert into MCD_RULES(RULES_ID,RULES_NAME,RULES_TYPE,CREATE_RULES_USER,CREATE_RULES_DATE,FREQUENCY,CYCLE_ID)
        values(#{param.ruleId,jdbcType=VARCHAR},#{param.ruleName,jdbcType=VARCHAR},#{param.scenarioType,jdbcType=VARCHAR},
               #{param.userId,jdbcType=VARCHAR},to_char(sysdate,'YYYY-MM-DD'),#{param.frequency,jdbcType=VARCHAR},#{param.unit,jdbcType=VARCHAR})
    </insert>
    <insert id="saveScenarioRuleBatch" parameterType="java.util.List">
        insert into
        MCD_SCENARIO_RULES(SCENARIO_RULES_ID,SCENARIO_ID,CITY_ID,RULES_ID,MY_RULES_NO,MY_RULES_YES,MY_RULES,APPROVAL_TYPE,
        CREATE_SCENARIO_RULES_USER,DELECT_SCENARIO_RULES_TYPE,CREATE_SCENARIO_RULES_DATA)
        values
        <foreach collection="list" item="item" separator=",">
            (
            #{item.scenarioRulesId,jdbcType=VARCHAR},
            #{item.scenarioId,jdbcType=VARCHAR},
            #{item.cityId,jdbcType=VARCHAR},
            #{item.rulesId,jdbcType=VARCHAR},
            #{item.myRulesNo,jdbcType=VARCHAR},
            #{item.myRulesYes,jdbcType=VARCHAR},
            #{item.myRules,jdbcType=VARCHAR},
            #{item.approvalType,jdbcType=VARCHAR},
            #{item.createScenarioRulesUser,jdbcType=VARCHAR},
            #{item.delectScenarioRulesType,jdbcType=VARCHAR},
            to_char(sysdate,'YYYY-MM-DD')
            )
        </foreach>
    </insert>
    <update id="updateScenarioRule" parameterType="com.asiainfo.biapp.pec.plan.jx.hmh5.model.McdSenarioRule">
        UPDATE MCD_SCENARIO_RULES
        SET APPROVAL_TYPE='3'
        <if test="param.scenarioId != null and param.scenarioId != ''">
            ,SCENARIO_ID = #{param.scenarioId}
        </if>
        <if test="param.cityId != null and param.cityId != ''">
            ,CITY_ID = #{param.cityId}
        </if>
        <if test="param.rulesId != null and param.rulesId != ''">
            ,RULES_ID = #{param.rulesId}
        </if>
        <if test="param.myRulesNo != null and param.myRulesNo != ''">
            ,MY_RULES_NO = #{param.myRulesNo}
        </if>
        <if test="param.myRulesYes != null and param.myRulesYes != ''">
            ,MY_RULES_YES = #{param.myRulesYes}
        </if>
        <if test="param.createScenarioRulesUser != null and param.createScenarioRulesUser != ''">
            ,UPDATE_SCENARIO_RULES_USER = #{param.createScenarioRulesUser}
        </if>
            ,UPDATE_SCENARIO_RULES_DATA = concat('已接通:',#{param.myRulesYes}) || concat('未接通:',#{param.myRulesNo})
        where SCENARIO_RULES_ID = #{param.scenarioRulesId}
    </update>
    <update id="updateScenarioRuleApproveStatus" parameterType="java.lang.String">
        UPDATE MCD_SCENARIO_RULES
        SET APPROVAL_TYPE = #{approvalType},INSTANCE_ID=#{instanceId},APPROVER_NAME=#{approveUserName}
        where SCENARIO_ID = #{scenarioId}
    </update>
    <update id="udpateCalloutRuleStatus" parameterType="com.asiainfo.biapp.pec.plan.jx.hmh5.vo.ModifyCalloutRuleStatusParam">
        UPDATE MCD_SCENARIO_RULES
        SET APPROVAL_TYPE = #{param.approvalStatus}
        where SCENARIO_ID = #{param.scenarioId}
    </update>

    <delete id="delectScenarioRulesByCityId" parameterType="java.lang.String">
        DELETE FROM MCD_SCENARIO_RULES WHERE CITY_ID = #{cityId} and SCENARIO_ID = #{scenarioId}
    </delete>
    <delete id="delectScenarioRulesByRuleId" parameterType="java.lang.String">
        DELETE FROM MCD_SCENARIO_RULES WHERE SCENARIO_RULES_ID = #{ruleId}
    </delete>
    <delete id="deleteFqcRulesByCityId" parameterType="java.lang.String">
        delete from MCD_FQC_RULE where CITY_ID=#{cityId} and CHANNEL_ID in
        <foreach collection="list" item="code" open="(" close=")" separator=",">
            #{code}
        </foreach>
    </delete>

    <select id="queryAllScenarioData" resultType="java.util.Map">
        SELECT * FROM MCD_SCENARIO_RULES WHERE SCENARIO_ID = '1'
    </select>
    <select id="queryScenarioList" parameterType="com.asiainfo.biapp.pec.plan.jx.hmh5.request.CalloutScenarioQuery" resultType="com.asiainfo.biapp.pec.plan.jx.hmh5.model.ScenarioRule">
    select
        A.SCENARIO_RULES_ID as scenarioRulesId,
        A.SCENARIO_ID as scenarioId,
        B.SCENARIO_NAME as scenarioName,
        A.CITY_ID as cityId,
        C.CITY_NAME as cityName,
        APPROVAL_TYPE as approvalType,
        A.APPROVAL_TYPE as approvalId,
        A.MY_RULES as myRules,
        A.MY_RULES_YES as myRulesYes,
        A.MY_RULES_NO as myRulesNo
    FROM MCD_SCENARIO_RULES A
             LEFT JOIN MCD_SCENARIO B ON  A.SCENARIO_ID = B.SCENARIO_ID
             LEFT JOIN MCD_DIM_CITY C ON A.CITY_ID = C.CITY_ID WHERE 1=1
        <if test="query.scenarioCode != null and query.scenarioCode != ''">
            and A.SCENARIO_ID = #{query.scenarioCode}
        </if>
        <if test="query.cityId != null and query.cityId != ''">
            and A.CITY_ID = #{query.cityId}
        </if>
        <if test="query.frequencyNumberOne != null and query.frequencyNumberOne != ''">
            and A.MY_RULES_YES like '%' || #{query.frequencyNumberOne} || '%'
        </if>
        <if test="query.frequencyNumberTwo != null and query.frequencyNumberTwo != ''">
            and A.MY_RULES_YES like '%' || #{query.frequencyNumberTwo} || '%'
        </if>
        <if test="query.frequencyNumberOneNo != null and query.frequencyNumberOneNo != ''">
            and A.MY_RULES_NO like '%' || #{query.frequencyNumberOneNo} || '%'
        </if>
        <if test="query.frequencyNumberTwoNo != null and query.frequencyNumberTwoNo != ''">
            and A.MY_RULES_NO like '%' || #{query.frequencyNumberTwoNo} || '%'
        </if>
        <if test="query.approvalType != null and query.approvalType != ''">
            and A.APPROVAL_TYPE = #{query.approvalType}
        </if>
        order by A.CREATE_SCENARIO_RULES_DATA desc,A.SCENARIO_RULES_ID desc

    </select>
    <select id="queryScenario" resultType="java.util.Map">
        SELECT * FROM MCD_SCENARIO where 1=1
    </select>
    <select id="queryRulesListYes" resultType="java.util.Map">
        SELECT * FROM MCD_RULES WHERE RULES_TYPE ='0' order by RULES_ID desc
    </select>
    <select id="queryRulesListNo" resultType="java.util.Map">
        SELECT * FROM MCD_RULES WHERE RULES_TYPE ='1' order by RULES_ID desc
    </select>
    <select id="queryGeneralRules" resultType="java.util.Map">
        SELECT * FROM MCD_RULES WHERE RULES_TYPE ='2'
    </select>
    <select id="getRulesExist" parameterType="com.asiainfo.biapp.pec.plan.jx.hmh5.request.ScenarioRuleQuery" resultType="java.lang.String">
        SELECT RULES_ID FROM MCD_RULES
        <where>
            <if test="query.frequency != null and query.frequency != ''">
                FREQUENCY = #{query.frequency}
            </if>
            <if test="query.unit != null and query.unit != ''">
                and CYCLE_ID = #{query.unit}
            </if>
            <if test="query.scenarioType != null and query.scenarioType != ''">
                and RULES_TYPE = #{query.scenarioType}
            </if>
        </where>
    </select>
    <select id="queryScenrioConfig" resultType="com.asiainfo.biapp.pec.plan.jx.hmh5.model.SceneConfig">
        select concat(SCENE_CODE,RULES_TYPE) sceneRule, SCENE_CODE as sceneCode, RULES_TYPE as rulesType,CHANNEL_CODE as channelCode from MCD_WAIHU_SCENE_CONFIGURE
    </select>
    <select id="queryRulesByScenaiorId" resultType="java.lang.Integer">
        select count(1) from MCD_SCENARIO_RULES where SCENARIO_ID = #{scenarioId}
    </select>
    <select id="qryApprRecord" resultType="com.asiainfo.biapp.pec.plan.jx.hmh5.vo.ScenarioRuleApprRecord">
        select
            msr.SCENARIO_ID scenarioId, sce.SCENARIO_NAME as scenarioName, uu.USERID createUserId, uu.USERNAME userName
        from MCD_SCENARIO_RULES msr
                 left join MCD_SCENARIO sce on msr.SCENARIO_ID=sce.SCENARIO_ID
                 left join user_user uu on msr.CREATE_SCENARIO_RULES_USER = uu.USERID
        <where>
            msr.APPROVAL_TYPE='1'
            <if test="scenarioIds.size()>0">
                and msr.SCENARIO_ID in
                <foreach collection="scenarioIds" item="code" open="(" close=")" separator=",">
                    #{code,jdbcType=VARCHAR}
                </foreach>
            </if>
            <if test="query.userName != '' and query.userName != null">
                and uu.USERNAME like '%'||#{query.userName}||'%'
            </if>
        </where>
        group by msr.SCENARIO_ID, sce.SCENARIO_NAME, uu.USERID, uu.USERNAME
    </select>
    <select id="queryCalloutRuleApprFlowId" resultType="java.lang.String">
        select INSTANCE_ID
        from MCD_SCENARIO_RULES
        where SCENARIO_ID=#{scenarioId} and APPROVAL_TYPE = '1' limit 1
    </select>
</mapper>
