<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.asiainfo.biapp.pec.preview.jx.mapper.ChnPreDao">

    <!-- 通用查询映射结果 -->
    <select id="queryChannelIds" resultType="String">
        select distinct  t.channel_id from mcd_user_chn_pre_1st t
    </select>

    <select id="queryUserListByChnId" resultType="String">
        select t.PRODUCT_NO   from mcd_user_chn_pre_1st t where  t.CHANNEL_ID = #{channelId}
    </select>

</mapper>
