<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.asiainfo.biapp.pec.preview.jx.mapper.McdCampPreviewMapper">

    <select id="queryCampPreviewInfoList" resultType="com.asiainfo.biapp.pec.preview.jx.entity.McdPreviewInfo">

              SELECT MCCL.CAMPSEG_ID              campsegId,
                     MCCL.CAMPSEG_PID             campsegPid,
                     MCCL.CAMPSEG_ROOT_ID         campsegRootId,
                     MCD.CAMPSEG_NAME             campsegName,
                     MCD.START_DATE               startDate,
                     MCD.END_DATE                 endDate,
                     MCD.CITY_ID                  cityId,
                     MCD.SENSITIVE_CUST_IDS       sensitiveCustIds,
                     MCCL.CHANNEL_ID              channelId,
                     MCCL.CHANNEL_ADIV_ID         channelAdivId,
                     MCCL.EXEC_CONTENT            execContent,
                     MCCL.PLAN_ID                 planId,
                     MPD.PLAN_NAME                planName,
                     MPD.PLAN_TYPE                planType,
                     MPD.PLAN_SRV_TYPE            planSrvType,
                     MPD.PLAN_DESC                planDesc,
                     MCCL.CUSTGROUP_ID            customGroupId,
                     MCD.MARKETING_TYPE           marketingType,
                     MCCL.SMS_CONTENT             smsContent,
                     MCCL.HANDLE_URL              handleUrl,
                     MCCL.MATERIAL_DISPLAY_URL    materialDisplayUrl,
                     MCCL.MATERIAL_CLICK_URL      materialClickUrl,
                     MCCL.IS_CHANNEL_PREDILECTION isChannelPredilection,
                     MCCL.IF_HAVE_VAR             ifHaveVar,
                     MCD.ACTIVITY_TYPE            activityType,
                     MCD.CAMPSEG_TYPE_ID          campsegTypeId,
                     MCCL.CAMP_CLASS              campClass,
                     MPD.PARENT_ID                parentId,
                     MPD.PLAN_DESC                planDesc,
                     MPD.PLAN_COMMENT             planComment,
                     MPD.PLAN_START_DATE          planStartDate,
                     MPD.PLAN_END_DATE            planEndDate,
                     MPD.STATUS                   status,
                     MPD.CREATE_USER_ID           createUserId,
                     MPD.CREATE_DATE              createDate,
                     MCO.PRI_ORDER_NUM            priorityOrder,
                     MCCL.CUSTGROUP_ID            custgroupId,
                     MCCE.COLUMN_EXT1             ext1,
                     MCCE.COLUMN_EXT2             ext2,
                     MCCE.COLUMN_EXT3             ext3,
                     MCCE.COLUMN_EXT4             ext4,
                     MCCE.COLUMN_EXT5             ext5,
                     MCCE.COLUMN_EXT6             ext6,
                     MCCE.COLUMN_EXT7             ext7,
                     MCCE.COLUMN_EXT8             ext8,
                     MCCE.COLUMN_EXT9             ext9,
                     MCCE.COLUMN_EXT10            ext10,
                     MCCE.COLUMN_EXT11            ext11,
                     MCCE.COLUMN_EXT12            ext12,
                     MCCE.COLUMN_EXT13            ext13,
                     MCCE.COLUMN_EXT14            ext14,
                     MCCE.COLUMN_EXT15            ext15,
                     MCCE.COLUMN_EXT16            ext16,
                     MCCE.COLUMN_EXT17            ext17,
                     MCCE.COLUMN_EXT18            ext18,
                     MCCE.COLUMN_EXT19            ext19,
                     MCCE.COLUMN_EXT20            ext20,
                     CUST.CUSTOM_NUM        targetUserNum
              FROM MCD_CAMP_PREVIEW MCP
                       LEFT JOIN MCD_CAMP_CHANNEL_LIST MCCL ON MCCL.CAMPSEG_ID = MCP.CAMPSEG_ID AND MCP.CHANNEL_ID = MCCL.CHANNEL_ID
                       LEFT JOIN MCD_CAMP_DEF MCD ON MCD.CAMPSEG_ID = MCCL.CAMPSEG_PID
                       LEFT JOIN MCD_CAMP_CHANNEL_EXT MCCE ON MCCE.CAMPSEG_ID = MCCL.CAMPSEG_ID
                       LEFT JOIN MCD_PLAN_DEF MPD ON MPD.PLAN_ID = MCCL.PLAN_ID
                       LEFT JOIN MCD_CAMP_ORDER MCO ON MCO.CAMPSEG_ID = MCCL.CAMPSEG_ID
                       LEFT JOIN MCD_DIM_ADIV_INFO MDAI ON MDAI.ADIV_ID = MCCL.CHANNEL_ADIV_ID
                       LEFT JOIN MCD_CUSTGROUP_DEF CUST ON MCCL.CUSTGROUP_ID = CUST.CUSTOM_GROUP_ID

              WHERE MCP.PREVIEW_STATUS = 0  and  MCCL.CAMPSEG_ID is not  null
    </select>

    <update id="updateCampsegStatus">
            update mcd_camp_def t set t.CAMPSEG_STAT_ID = #{campsegStatId} where t.CAMPSEG_STAT_ID = #{curStatId} AND ( t.CAMPSEG_ID = #{campsegRootId} or t.CAMPSEG_ROOT_ID = #{campsegRootId} )
       </update>

    <update id="updateCampChannelListStatus">
                update mcd_camp_channel_list t set t.STATUS = #{campsegStatId} where t.CAMPSEG_ID = #{campsegId} AND t.STATUS =  #{curStatId}
       </update>

    <select id="queryPreviewLog" resultType="com.asiainfo.biapp.pec.preview.jx.model.McdCampPreviewResult">
        select mcpl.CAMPSEG_ID campsegId,
               mcpl.CAMPSEG_ROOT_ID campsegRootId,
               mcpl.STATUS status,
               mcpl.TARGET_CUSTOM_NUM targetCustomNum,
               mcpl.PREVIEW_CUSTOM_NUM  previewCustomNum,
               mcpl.CREATE_USER createUser,
               mcpl.START_TIME startTime,
               mcpl.DESCRIPTION  description,
               mcpl.CHANNEL_ID channelId,
               mcpl.CUSTGROUP_ID custgroupId,
               mcpl.END_TIME endTime,
               mcpl.FILTER_COUNT_1 filterCount1,
               mcpl.FILTER_COUNT_2 filterCount2,
               mcpl.FILTER_COUNT_3 filterCount3,
               mcpl.FILTER_COUNT_4 filterCount4,
               mcpl.FILTER_COUNT_5 filterCount5,
               mcpl.CHANNEL_SUCCESS_RATE channelSuccessRate,
               mcpl.PLAN_SUCCESS_RATE planSuccessRate,
               mcpl.SUCCESS_RATE successRate,
               mcpl.OTHER_FILTER_COUNT  otherFilterCount,
               (mcpl.FILTER_COUNT_1+mcpl.FILTER_COUNT_2 +mcpl.FILTER_COUNT_3+mcpl.FILTER_COUNT_4+mcpl.FILTER_COUNT_5+mcpl.OTHER_FILTER_COUNT ) filterTotal,
               mcpl.ORIGIN_CUST_NUM  originCustNum,
               mdc.CHANNEL_NAME channelName,
               mcd.CUSTOM_GROUP_NAME custgroupName,
               mpd.PLAN_NAME planName,
               mccl.PLAN_ID planId
        from mcd_camp_preview_log mcpl
                 join mcd_camp_channel_list mccl on mcpl.CAMPSEG_ID = mccl.CAMPSEG_ID and mcpl.CHANNEL_ID = mccl.CHANNEL_ID
                 left join mcd_dim_channel mdc on mcpl.CHANNEL_ID = mdc.CHANNEL_ID
                 left join mcd_custgroup_def mcd on mccl.CUSTGROUP_ID = mcd.CUSTOM_GROUP_ID
                 left join mcd_plan_def mpd on mccl.PLAN_ID = mpd.PLAN_ID
        where mccl.CAMPSEG_ROOT_ID = #{campsegRootId}
        <if test="campsegId != null and  campsegId != '' ">
           and  mccl.CAMPSEG_ID = #{campsegId}
        </if>

    </select>

    <select id="queryPreviewExecLog" resultType="com.asiainfo.biapp.pec.preview.jx.model.McdCampPreviewExecResult">
        select mccl.CAMPSEG_ID  campsegId,
               mccl.CHANNEL_ID  channelId,
               mdc.CHANNEL_NAME channelName,
               mccl.PLAN_ID     planId,
               mpd.PLAN_NAME    planName,
               mccl.WAVES_NO    waveNo,
               mccl.CUSTGROUP_ID,
               mcd.CUSTOM_NUM   previewUserNum
        from mcd_camp_channel_list mccl
                 left join mcd_dim_channel mdc on mccl.CHANNEL_ID = mdc.CHANNEL_ID
                 left join mcd_custgroup_def mcd on mccl.CUSTGROUP_ID = mcd.CUSTOM_GROUP_ID
                 left join mcd_plan_def mpd on mccl.PLAN_ID = mpd.PLAN_ID
        where mccl.CAMPSEG_ROOT_ID = #{campsegRootId}
        <if test="campsegId != null and  campsegId != '' ">
            and mccl.CAMPSEG_ID = #{campsegId}
        </if>

    </select>
</mapper>
