<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.asiainfo.biapp.pec.preview.jx.mapper.McdCampUserCountTaskMapper">

    <resultMap id="BaseResultMap" type="com.asiainfo.biapp.pec.preview.jx.model.McdCampUserCountTask">
            <id property="id" column="ID" jdbcType="INTEGER"/>
            <result property="campsegId" column="CAMPSEG_ID" jdbcType="VARCHAR"/>
            <result property="campsegRootId" column="CAMPSEG_ROOT_ID" jdbcType="VARCHAR"/>
            <result property="channelId" column="CHANNEL_ID" jdbcType="VARCHAR"/>
            <result property="custgroupId" column="CUSTGROUP_ID" jdbcType="VARCHAR"/>
            <result property="custgroupFile" column="CUSTGROUP_FILE" jdbcType="VARCHAR"/>
            <result property="createTime" column="CREATE_TIME" jdbcType="TIMESTAMP"/>
            <result property="updateTime" column="update_TIME" jdbcType="TIMESTAMP"/>
            <result property="status" column="STATUS" jdbcType="INTEGER"/>
    </resultMap>

    <sql id="Base_Column_List">
        ID,CAMPSEG_ID,CAMPSEG_ROOT_ID,
        CHANNEL_ID,CUSTGROUP_ID,CUSTGROUP_FILE,
        CREATE_TIME,update_TIME,STATUS
    </sql>
    <insert id="insertUserCountTask">
        insert into MCD_CAMP_USER_COUNT_TASK (CAMPSEG_ID, CAMPSEG_ROOT_ID, CHANNEL_ID, CUSTGROUP_ID)
        select t.CAMPSEG_ID, t.CAMPSEG_ROOT_ID, t.CHANNEL_ID, t.CUSTGROUP_ID
        from mcd_camp_channel_list t
        where t.STATUS = 54
    </insert>
</mapper>
