<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.asiainfo.biapp.pec.plan.jx.hmh5.transplant.warnReport.mapper.ReportYjDetailInfoMapper">

    <select id="selectDetailWarnReport"
            resultType="com.asiainfo.biapp.pec.plan.jx.hmh5.transplant.warnReport.service.impl.resultInfo.ReportYjDetailResultInfo">
        select PRODUCT_NO_1, ALARM_NAME, ALARM_CREATE_BY, CITY_ID,
        CITY_NAME, COUNTY_ID, COUNTY_NAME, CHANNEL_ID, CHANNEL_NAME, GRID_CODE, GRID_NAME, STAFF_ID, STAFF_NAME,
        RETURN_VISIT_TIME, JC_STATU, JC_RESULT, RETURN_VISIT_NOTES, CREATE_TIME, YBL, CAMPSEG_ID, CAMPSEG_NAME
        from mcd_report.report_yj_detail_info rydi
        where 1 = 1
        <if test="param.cityId != null and param.cityId != ''">
            and rydi.CITY_ID = #{param.cityId}
        </if>
        <if test="param.countyId != null and param.countyId != ''">
            and rydi.COUNTY_ID = #{param.countyId}
        </if>
        <if test="param.staffId != null and param.staffId != ''">
            and rydi.STAFF_ID = #{param.staffId}
        </if>
        <if test="param.warnType != null and param.warnType != ''">
            and rydi.ALARM_NAME = #{param.warnType}
        </if>
        <choose>
            <when test="param.statDate != null">
                and  to_date(rydi.STAT_DATE, 'yyyy/mm/dd') = to_date(#{param.statDateStr}, 'yyyy/mm/dd')
            </when>
            <otherwise>
                order by rydi.STAT_DATE desc
            </otherwise>
        </choose>

    </select>

    <select id="exportDetailWarnReport"
            resultType="java.util.LinkedHashMap">
        select PRODUCT_NO_1 客户号码, ALARM_NAME 预警类型, ALARM_CREATE_BY 创建人ID,
        CITY_ID 地市编号, CITY_NAME 地市名称, COUNTY_ID 区县编号, COUNTY_NAME 区县名称,
        CHANNEL_ID 渠道ID, CHANNEL_NAME 渠道名称, GRID_CODE 网格编号, GRID_NAME 网格名称, STAFF_ID 员工ID,
        STAFF_NAME 员工姓名, RETURN_VISIT_TIME 接触时间, JC_STATU 接触情况, JC_RESULT 接触结果,
        RETURN_VISIT_NOTES 接触反馈, CREATE_TIME 任务下发时间, YBL 是否办理业务, CAMPSEG_ID 活动ID, CAMPSEG_NAME 活动名称,
        to_date(STAT_DATE, 'yyyy/mm/dd') 导出日期
        from mcd_report.report_yj_detail_info rydi
        where 1 = 1
        <if test="param.cityId != null and param.cityId != ''">
            and rydi.CITY_ID = #{param.cityId}
        </if>
        <if test="param.countyId != null and param.countyId != ''">
            and rydi.COUNTY_ID = #{param.countyId}
        </if>
        <if test="param.staffId != null and param.staffId != ''">
            and rydi.STAFF_ID = #{param.staffId}
        </if>
        <if test="param.warnType != null and param.warnType != ''">
            and rydi.ALARM_NAME = #{param.warnType}
        </if>
        <choose>
            <when test="param.statDate != null">
                and to_date(rydi.STAT_DATE, 'yyyy/mm/dd') = to_date(#{param.statDateStr}, 'yyyy/mm/dd')
            </when>
            <otherwise>
                order by rydi.STAT_DATE desc
            </otherwise>
        </choose>
    </select>


</mapper>
