<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.asiainfo.biapp.pec.plan.jx.cep.dao.ICepSysEventDao" >
    <insert id="insertCepRule" parameterType="com.asiainfo.biapp.pec.plan.jx.cep.req.EventSyncRequestBO">
        INSERT INTO CEP_RULE (ID, EVENT_INSTANCE_ID , NAME, FIRST_CLASS, CREATE_USER,CREATE_TIME,APPROVAL_ID)
        VALUES  (#{eventCode},#{eventCode},#{eventName},
        <choose>
            <when test="eventTypeId != null and eventTypeId != '' ">
                #{eventTypeId}
            </when>
            <otherwise>
                999
            </otherwise>
        </choose>
        ,#{createUserId},#{createTime},#{createUserId})
    </insert>

    <insert id="insertCepRuleAuthority" parameterType="com.asiainfo.biapp.pec.plan.jx.cep.req.EventSyncRequestBO">
        INSERT INTO CEP_RULE_AUTHORITY(RULE_ID,USER_ID)
        VALUES  (#{eventCode},#{createUserId})
    </insert>

    <select id="selectCepDimEvent" parameterType="com.asiainfo.biapp.pec.plan.jx.cep.req.EventSyncRequestBO" resultType="Map">
        SELECT * FROM CEP_DIM_EVENT_CLASS 
        where ID =
        <choose>
            <when test="eventTypeId != null and eventTypeId != '' ">
                #{eventTypeId}
            </when>
            <otherwise>
                999
            </otherwise>
        </choose>
    </select>

    <insert id="insertCepDimEvent" parameterType="com.asiainfo.biapp.pec.plan.jx.cep.req.EventSyncRequestBO">
        INSERT INTO CEP_DIM_EVENT_CLASS (ID
        <if test="eventTypeName !='' and eventTypeName !=null ">
            , name
        </if>
        )
        VALUES (
        <choose>
            <when test="eventTypeId != null and eventTypeId != '' ">
                #{eventTypeId}
            </when>
            <otherwise>
                999
            </otherwise>
        </choose>

        <if test="eventTypeName !='' and eventTypeName !=null ">
            ,#{eventTypeName}
        </if>
        )
    </insert>

</mapper>
