<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.asiainfo.biapp.pec.plan.jx.hmh5.dao.IMcdTouchTraceMapper">

    <!-- 外呼轨迹查询 -->
    <select id="queryTouchTraceList" resultType="com.asiainfo.biapp.pec.plan.jx.hmh5.vo.McdTouchTraceDetailsVo">
        select rydr.*, dcity.CITY_NAME, dcounty.COUNTY_NAME from report_yj_detail_recording rydr
        left join DIM_PUB_COUNTY dcounty on rydr.COUNTY_ID = dcounty.COUNTY_ID
        left join DIM_PUB_CITY dcity on rydr.CITY_ID = dcity.CITY_ID
        <where>
            <if test = "query.city != null and query.city !='' and query.city !='999' ">
                and rydr.CITY_ID = #{query.city}
            </if>

            <if test = "query.county != null and query.county !='' and query.county !='9999' ">
                and rydr.COUNTY_ID = #{query.county}
            </if>

            <if test = "query.managerId != null and query.managerId !=''">
                and rydr.STAFF_ID = #{query.managerId}
            </if>

            <if test = "query.productNo != null and query.productNo !=''">
                and rydr.PRODUCT_NO = #{query.productNo}
            </if>

            <if test = "query.alarmName != null and query.alarmName !=''">
                and rydr.ALARM_ID = #{query.alarmName}
            </if>

            <if test = "query.alarmType != null and query.alarmType !=''">
                and rydr.ALARM_TYPE = #{query.alarmType}
            </if>

            <if test = "query.managerName != null and query.managerName !=''">
                and rydr.STAFF_NAME = #{query.managerName}
            </if>

            <!-- 闭环状态 -->
            <if test = "query.closedStatus != null and query.closedStatus !=''">
                and rydr.LATEST_RETURE_VISIT_DESC = #{query.closedStatus}
            </if>

            <!-- 修复状态 -->
            <if test = "query.repairStatus = null and query.repairStatus !=''">
                and rydr.XF = #{query.repairStatus}
            </if>

            <!-- 任务状态 -->
            <if test="query.taskStatus != null and query.taskStatus != '' and query.taskStatus != '过滤'">
                and rydr.DATA_STATUS = #{query.taskStatus}
            </if>

            <!-- 任务状态为过滤+ -->
            <if test="query.taskStatus == '过滤'">
                and rydr.DATA_STATUS is null
            </if>

            <!-- 接触状态 -->
            <if test = "query.touchStatus != null and query.touchStatus !=''">
                and rydr.JC_STATUS = #{query.touchStatus}
            </if>

            <if test = "query.grid != null and query.grid !=''  and query.grid !='9999'">
                and  rydr.GRID_NAME LIKE '%'||#{query.grid}||'%'
            </if>

            <if test="query.startTime != null and query.startTime !='' ">
               and to_date(rydr.STAT_DATE , 'yyyy/MM/dd') <![CDATA[ >= ]]> to_date(#{query.startTime},'yyyy/MM/dd')
            </if>

            <if test="query.endTime != null and query.endTime !='' ">
                 and to_date(rydr.STAT_DATE, 'yyyy/MM/dd') <![CDATA[ <= ]]> to_date(#{query.endTime},'yyyy/MM/dd')
            </if>
        </where>
        order by rydr.CREATE_TIME desc
    </select>
</mapper>