<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.asiainfo.biapp.pec.plan.jx.camp.dao.IopUniteStrategyGrantDJxDao">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.asiainfo.biapp.pec.plan.model.IopUniteStrategyGrantD">
        <id column="STRATEGY_ID" property="strategyId" />
        <result column="RECORD_NO" property="recordNo" />
        <result column="STRATEGY_NAME" property="strategyName" />
        <result column="STRATEGY_DESC" property="strategyDesc" />
        <result column="STRATEGY_RANGE" property="strategyRange" />
        <result column="STRATEGY_TYPE" property="strategyType" />
        <result column="STRATEGY_CREATE_USER" property="strategyCreateUser" />
        <result column="STRATEGY_STARTTIME" property="strategyStarttime" />
        <result column="STRATEGY_ENDTIME" property="strategyEndtime" />
        <result column="PRODUCT_CODE" property="productCode" />
        <result column="PRODUCT_NAME" property="productName" />
        <result column="PRODUCT_TYPE" property="productType" />
        <result column="SGMT_NAME" property="sgmtName" />
        <result column="SGMT_RULE" property="sgmtRule" />
        <result column="SGMT_NUM" property="sgmtNum" />
        <result column="MARKET_INFO" property="marketInfo" />
        <result column="MARKET_DISCOURSE" property="marketDiscourse" />
        <result column="HADNL_CHANNEL" property="hadnlChannel" />
        <result column="PRIORITY" property="priority" />
        <result column="STRATEGY_SOURCE" property="strategySource" />
        <result column="ATTRMAP2" property="attrmap2" />
        <result column="ATTRMAP3" property="attrmap3" />
        <result column="ATTRMAP4" property="attrmap4" />
        <result column="ATTRMAP5" property="attrmap5" />
        <result column="CUSTOM_GROUP_ID" property="customGroupId" />
        <result column="STRATEGY_BEL" property="strategyBel" />
    </resultMap>
    <resultMap id="queResultMap" type="com.asiainfo.biapp.pec.plan.vo.IopUnite">
        <result column="STRATEGY_ID" property="strategyId" />
        <result column="RECORD_NO" property="recordNo" />
        <result column="STRATEGY_NAME" property="strategyName" />
        <result column="STRATEGY_DESC" property="strategyDesc" />
        <result column="STRATEGY_RANGE" property="strategyRange" />
        <result column="STRATEGY_TYPE" property="strategyType" />
        <result column="STRATEGY_CREATE_USER" property="strategyCreateUser" />
        <result column="STRATEGY_STARTTIME" property="strategyStarttime" />
        <result column="STRATEGY_ENDTIME" property="strategyEndtime" />
        <result column="PRODUCT_CODE" property="productCode" />
        <result column="PRODUCT_NAME" property="productName" />
        <result column="PRODUCT_TYPE" property="productType" />
        <result column="SGMT_NAME" property="sgmtName" />
        <result column="SGMT_RULE" property="sgmtRule" />
        <result column="SGMT_NUM" property="sgmtNum" />
        <result column="MARKET_INFO" property="marketInfo" />
        <result column="MARKET_DISCOURSE" property="marketDiscourse" />
        <result column="HADNL_CHANNEL" property="hadnlChannel" />
        <result column="PRIORITY" property="priority" />
        <result column="STRATEGY_SOURCE" property="strategySource" />
        <result column="ATTRMAP2" property="attrmap2" />
        <result column="ATTRMAP3" property="attrmap3" />
        <result column="ATTRMAP4" property="attrmap4" />
        <result column="ATTRMAP5" property="attrmap5" />
        <result column="CUSTOM_GROUP_ID" property="customGroupId" />
        <result column="STRATEGY_BEL" property="strategyBel" />
        <result column="ENUM_VALUE" property="strategyTypeName" />
    </resultMap>
    <select id="searchIopUnityTacticsInfo" resultMap="queResultMap">
        select iu.*,mse.ENUM_VALUE
        from iop_unite_strategy_grant_d iu
        left join (select * from mcd_sys_enum WHERE ENUM_TYPE = 'activity_type') mse on iu.STRATEGY_TYPE = mse.ENUM_KEY
        where 1=1
        <if test="param.strategyId != null and param.strategyId  != ''  " >
            and iu.STRATEGY_ID = #{param.strategyId}
        </if>
        <if test="param.strategyName != null and param.strategyName != '' ">
            and iu.STRATEGY_NAME like concat('%',#{param.strategyName},'%')
        </if>
        <if test=" param.strategyType != 0 "  >
            and iu.STRATEGY_TYPE = #{param.strategyType}
        </if>
        <choose>
            <when test="param.strategyBel == '1' ">
                and iu.STRATEGY_BEL = #{param.strategyBel}
            </when>
            <when test="param.strategyBel == '2' ">
                and iu.STRATEGY_BEL is null
            </when>
        </choose>
        <if test="param.productCode != null and param.productCode != '' " >
            and (iu.PRODUCT_CODE like concat('%',#{param.productCode},'%') or iu.PRODUCT_NAME like concat('%',#{param.productCode},'%') )
        </if>
        <if test="param.strategyStarttime != 0 " >
            <![CDATA[   AND iu.STRATEGY_STARTTIME >=  #{param.strategyStarttime} ]]>
        </if>
        <if test="param.strategyEndtime != 0 " >
            <![CDATA[   AND iu.STRATEGY_ENDTIME <=  #{param.strategyEndtime} ]]>
        </if>
        order by iu.STRATEGY_STARTTIME desc
    </select>


</mapper>
