<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.asiainfo.biapp.pec.plan.jx.camp.dao.McdCampDefJxDao">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.asiainfo.biapp.pec.plan.model.McdCampDef">
        <id column="CAMPSEG_ID" property="campsegId"/>
        <result column="CAMPSEG_ROOT_ID" property="campsegRootId"/>
        <result column="CAMPSEG_NAME" property="campsegName"/>
        <result column="CAMPSEG_DESC" property="campsegDesc"/>
        <result column="START_DATE" property="startDate"/>
        <result column="END_DATE" property="endDate"/>
        <result column="CAMPSEG_STAT_ID" property="campsegStatId"/>
        <result column="CAMPSEG_TYPE_ID" property="campsegTypeId"/>
        <result column="MARKETING_TYPE" property="marketingType"/>
        <result column="ACTIVITY_TEMPLATE_ID" property="activityTemplateId"/>
        <result column="ACTIVITY_TYPE" property="activityType"/>
        <result column="ACTIVITY_OBJECTIVE" property="activityObjective"/>
        <result column="CREATE_USER_ID" property="createUserId"/>
        <result column="CREATE_TIME" property="createTime"/>
        <result column="APPROVE_FLOW_ID" property="approveFlowId"/>
        <result column="APPROVE_RESULT" property="approveResult"/>
        <result column="APPROVE_REMIND_TIME" property="approveRemindTime"/>
        <result column="CITY_ID" property="cityId"/>
        <result column="TOPIC_ID" property="topicId"/>
        <result column="ACTIVITY_SERVICE_TYPE" property="activityServiceType"/>
        <result column="CAMP_BUSINESS_TYPE" property="campBusinessType"/>
        <result column="UNITY_CAMPSEG_ID" property="unityCampsegId"/>
        <result column="OPTION_SIGN" property="optionSign"/>
        <result column="CAMP_DEF_TYPE" property="campDefType"/>
        <result column="PREVIEW_CAMP" property="previewCamp"/>
        <result column="TACTICS_MAP" property="tacticsMap"/>
        <result column="CAMP_CREATE_TYPE" property="campCreateType"/>
    </resultMap>

    <!-- 江西首页我的营销案 -->
    <select id="listMyMCD" resultType="com.asiainfo.biapp.pec.plan.jx.camp.vo.MyMCDJxVO">
        select
            pmcd.CAMPSEG_ID  as campsegId,
            pmcd.CAMPSEG_NAME  as campsegName,
            ct.CAMPSEG_STAT_NAME  as campsegStatId,
            pmcd.CREATE_TIME ,
            cast(sum(ifnull(d.dsum,0))as decimal(65,0)) yesterdaySuccess,
            cast(sum(ifnull(m.msum,0))as decimal(65,0)) MonthlySuccess
        from
            mcd_camp_def pmcd
             left join mcd_dim_camp_status ct on ct.CAMPSEG_STAT_ID = pmcd.CAMPSEG_STAT_ID
                left join mcd_camp_def mcd
                          on
                              pmcd.CAMPSEG_ID = mcd.CAMPSEG_ROOT_ID
                left join (
                select
                    CAMPSEG_ID,
                    ifnull(sum(GENERIC_INDEX4), 0)as msum
                from
                    mcd_evaluate_campseg_d
                where
                    STATISTIC_TIME >= DATE_ADD(curdate(),interval -day(curdate())+1 day)
                group by
                    CAMPSEG_ID)m
                          on
                              m.CAMPSEG_ID = mcd.CAMPSEG_ID
                left join (
                select
                    CAMPSEG_ID,
                    ifnull(sum(GENERIC_INDEX4), 0)as dsum
                from
                    mcd_evaluate_campseg_d
                where
                    datediff(now(),STATISTIC_TIME)=1
                group by
                    CAMPSEG_ID)d
                          on
                              d.CAMPSEG_ID = mcd.CAMPSEG_ID
        where
            mcd.CAMPSEG_ROOT_ID != '0'
	and mcd.CREATE_USER_ID = #{userId}
	and mcd.CAMP_DEF_TYPE = 1
        group by
            pmcd.CAMPSEG_ID
        order by
            pmcd.CREATE_TIME desc,
            yesterdaySuccess desc
            limit 5
    </select>

    <select id="qryApprRecord" resultType="com.asiainfo.biapp.pec.plan.jx.camp.vo.ApprRecordJx">
        select distinct mcd.CAMPSEG_ID,mcd.CAMPSEG_NAME,mcd.CREATE_USER_ID,mcd.CAMP_SCENE,mcd.CREATE_TIME, '营销活动' TYPE
        from mcd_camp_def mcd
        left join mcd_sys_user msu  on mcd.CREATE_USER_ID = msu.user_id
        left join mcd_camp_channel_list chan  on mcd.CAMPSEG_ID = chan.CAMPSEG_ROOT_ID
        where 1=1
        <if test="camps.size()>0">
            and mcd.CAMPSEG_ID in
            <foreach collection="camps" item="campId" open="(" close=")" separator=",">
                #{campId, jdbcType=VARCHAR}
            </foreach>
        </if>

        <if test="param.campsegName != null and param.campsegName != ''">

            and  (mcd.CAMPSEG_NAME like concat('%',#{param.campsegName},'%') or mcd.CAMPSEG_ID like concat('%',#{param.campsegName},'%'))
        </if>

        <if test="param.channelId != null and param.channelId != ''">

            and chan.CHANNEL_ID = #{param.channelId}
        </if>

        <if test="param.creator != null and param.creator != ''">
            and mcd.CREATE_USER_ID = #{param.creator}
        </if>

        order by mcd.CREATE_TIME DESC
    </select>

    <select id="queryPreviewChannelIds" resultType="java.lang.String">
         select distinct t.CHANNEL_ID from mcd_dim_channel t where t.PREVIEW_STATUS != 2
    </select>


    <select id="pageCampDefJx" resultType="com.asiainfo.biapp.pec.plan.jx.camp.model.CampManageJx">
        select distinct msi.campseg_id, msi.create_time, msi.campseg_name,  msi.preview_camp, msi.start_date ,
        msi.end_date , uu.USER_NAME create_username ,msi.campseg_stat_id, msi.city_id,
         (CASE msi.CREATE_USER_ID WHEN #{param.loginUserId} THEN '0' ELSE '1' END) as is_my ,
        (CASE WHEN msi.campseg_stat_id = '54' AND CAST((msi.end_date - CURRENT_DATE) AS SIGNED) * 24 <![CDATA[<=]]> 72
        and msi.CREATE_USER_ID = #{param.loginUserId}  THEN '1' ELSE '0' END) AS DQ_1,
        (CASE WHEN msi.campseg_stat_id = '40' AND CAST((msi.start_date - CURRENT_DATE) AS SIGNED) * 24 <![CDATA[<=]]>
        24 and msi.CREATE_USER_ID = #{param.loginUserId}  THEN '1' ELSE '0' END) AS DQ_2,
        (CASE WHEN msi.campseg_stat_id IN ('40', '54', '59', '71') and msi.CREATE_USER_ID = #{param.loginUserId} 
        THEN '1'   ELSE  '0' END) AS DQ_3,
        (CASE WHEN msi.campseg_stat_id = '54' and msi.CREATE_USER_ID = #{param.loginUserId}  THEN
        concat(datediff(msi.end_date,now()),'') ELSE '0' END) AS DQ_D_1,
         (CASE WHEN msi.campseg_stat_id = '40' and msi.CREATE_USER_ID = #{param.loginUserId}  THEN
        concat(datediff(msi.start_date,now()),'') ELSE '0' END) AS DQ_D_2,
         (CASE WHEN msi.campseg_stat_id IN ('40', '54', '59', '71') and msi.CREATE_USER_ID = #{param.loginUserId} 
        THEN '1' ELSE '0' END) AS DQ_D_3, msi.APPROVE_FLOW_ID ,
        (CASE  WHEN emisTask.TASK_TYPE = 0 THEN '审批'
        WHEN emisTask.TASK_TYPE = 1 THEN '阅知' else '审批' END)       TASK_TYPE
        from mcd_camp_def msi
        left join mcd_sys_user uu on uu.USER_ID = msi.CREATE_USER_ID
        left join mcd_camp_channel_list mccl on  msi.CAMPSEG_ID = mccl.CAMPSEG_ROOT_ID
        join mcd_emis_task emisTask on msi.CAMPSEG_ID = emisTask.CAMPSEG_ID
        <where>
            msi.COMMON_OR_PRISM_CREATE = 0
            <if test="param.campsegIdOrName != null and param.campsegIdOrName != ''">
                and concat(msi.campseg_name, msi.campseg_id) like concat('%', #{param.campsegIdOrName}, '%')
            </if>
            <if test="param.createUserId != null and param.createUserId != ''">
                and (uu.USER_NAME = #{param.createUserId} or msi.CREATE_USER_ID = #{param.createUserId})
            </if>
            <if test="param.channelId != null and param.channelId != ''">

                and mccl.CHANNEL_ID = #{param.channelId}

            </if>

            <if test="param.campsegStatId != null and param.campsegStatId != ''">
                and msi.campseg_stat_id = #{param.campsegStatId}
            </if>

            <if test="param.taskType != null and param.taskType != ''">
                and emisTask.TASK_TYPE = #{param.taskType}
            </if>

            <if test="param.eventId != null and param.eventId != ''">
                and mccl.CEP_EVENT_ID = #{param.eventId}
            </if>
            <if test="param.campStartDay != null and param.campStartDay != ''">
                and msi.START_DATE<![CDATA[>=]]>#{param.campStartDay}
            </if>
            <if test="param.campEndDay != null and param.campEndDay != ''">
                and msi.END_DATE<![CDATA[<=]]>#{param.campEndDay}
            </if>

            <if test="param.operateStartDay != null and param.operateStartDay != ''">
                and emisTask.APPROVAL_TIME<![CDATA[>=]]>#{param.operateStartDay}
            </if>
            <if test="param.operateEndDay != null and param.operateEndDay != ''">
                and emisTask.APPROVAL_TIME<![CDATA[<=]]>#{param.operateEndDay}
            </if>

            <if test="param.isSelectMy != null and param.isSelectMy == 2">
                and  emisTask.APPROVAL_USER = #{param.loginUserId}
            </if>

        </where>
        and (msi.OPTION_SIGN is null or msi.OPTION_SIGN != '3' )
        order by msi.create_time desc
    </select>



    <select id="exportCampDefJxList" resultType="com.asiainfo.biapp.pec.plan.jx.camp.model.CampManageJx">
        select distinct msi.campseg_id, msi.create_time, msi.campseg_name,  msi.preview_camp, msi.start_date ,
        msi.end_date , uu.USER_NAME create_username ,msi.campseg_stat_id, msi.city_id,
        (CASE msi.CREATE_USER_ID WHEN  #{param.loginUserId}  THEN '0' ELSE '1' END) as is_my ,
        (CASE WHEN msi.campseg_stat_id = '54' AND CAST((msi.end_date - CURRENT_DATE) AS SIGNED) * 24 <![CDATA[<=]]> 72
        and msi.CREATE_USER_ID = #{param.loginUserId}  THEN '1' ELSE '0' END) AS DQ_1,
        (CASE WHEN msi.campseg_stat_id = '40' AND CAST((msi.start_date - CURRENT_DATE) AS SIGNED) * 24 <![CDATA[<=]]>
        24 and msi.CREATE_USER_ID = #{param.loginUserId}  THEN '1' ELSE '0' END) AS DQ_2,
        (CASE WHEN msi.campseg_stat_id IN ('40', '54', '59', '71') and msi.CREATE_USER_ID = #{param.loginUserId} 
        THEN '1'   ELSE  '0' END) AS DQ_3,
        (CASE WHEN msi.campseg_stat_id = '54' and msi.CREATE_USER_ID = #{param.loginUserId}  THEN
        concat(datediff(msi.end_date,now()),'') ELSE '0' END) AS DQ_D_1,
        (CASE WHEN msi.campseg_stat_id = '40' and msi.CREATE_USER_ID = #{param.loginUserId}  THEN
        concat(datediff(msi.start_date,now()),'') ELSE '0' END) AS DQ_D_2,
        (CASE WHEN msi.campseg_stat_id IN ('40', '54', '59', '71') and msi.CREATE_USER_ID = #{param.loginUserId} 
        THEN '1' ELSE '0' END) AS DQ_D_3, msi.APPROVE_FLOW_ID ,
        (CASE  WHEN emisTask.TASK_TYPE = 0 THEN '审批'
        WHEN emisTask.TASK_TYPE = 1 THEN '阅知' else '审批' END)       TASK_TYPE
        from mcd_camp_def msi
        left join mcd_sys_user uu on uu.USER_ID = msi.CREATE_USER_ID
        left join mcd_camp_channel_list mccl on  msi.CAMPSEG_ID = mccl.CAMPSEG_ROOT_ID
        join mcd_emis_task emisTask on msi.CAMPSEG_ID = emisTask.CAMPSEG_ID
        <where>
            msi.COMMON_OR_PRISM_CREATE = 0
            <if test="param.campsegIdOrName != null and param.campsegIdOrName != ''">
                and concat(msi.campseg_name, msi.campseg_id) like concat('%', #{param.campsegIdOrName}, '%')
            </if>
            <if test="param.createUserId != null and param.createUserId != ''">
                and (uu.USER_NAME = #{param.createUserId} or msi.CREATE_USER_ID = #{param.createUserId})
            </if>
            <if test="param.channelId != null and param.channelId != ''">

                and mccl.CHANNEL_ID = #{param.channelId}

            </if>

            <if test="param.campsegStatId != null and param.campsegStatId != ''">
                and msi.campseg_stat_id = #{param.campsegStatId}
            </if>

            <if test="param.taskType != null and param.taskType != ''">
                and emisTask.TASK_TYPE = #{param.taskType}
            </if>

            <if test="param.eventId != null and param.eventId != ''">
                and mccl.CEP_EVENT_ID = #{param.eventId}
            </if>
            <if test="param.campStartDay != null and param.campStartDay != ''">
                and msi.START_DATE<![CDATA[>=]]>#{param.campStartDay}
            </if>
            <if test="param.campEndDay != null and param.campEndDay != ''">
                and msi.END_DATE<![CDATA[<=]]>#{param.campEndDay}
            </if>

            <if test="param.operateStartDay != null and param.operateStartDay != ''">
                and emisTask.APPROVAL_TIME<![CDATA[>=]]>#{param.operateStartDay}
            </if>
            <if test="param.operateEndDay != null and param.operateEndDay != ''">
                and emisTask.APPROVAL_TIME<![CDATA[<=]]>#{param.operateEndDay}
            </if>

            <if test="param.isSelectMy != null and param.isSelectMy == 2">
                and  emisTask.APPROVAL_USER = #{param.loginUserId}
            </if>

        </where>
        and (msi.OPTION_SIGN is null or msi.OPTION_SIGN != '3' )
        order by msi.create_time desc
    </select>

    <select id="jxPageCampDef" resultType="com.asiainfo.biapp.pec.plan.vo.CampManage">
        select msi.create_time, msi.campseg_name, msi.campseg_id,
        msi.preview_camp,
        msi.start_date , msi.end_date , uu.USER_NAME create_username ,msi.campseg_stat_id, msi.city_id
        ,(CASE msi.CREATE_USER_ID WHEN '${param.userId}' THEN '0' ELSE '1' END) as is_my
        ,(CASE WHEN msi.campseg_stat_id = '54' AND CAST((msi.end_date - CURRENT_DATE) AS SIGNED) * 24 <![CDATA[<=]]> 72
        and msi.CREATE_USER_ID ='${param.userId}' THEN '1' ELSE '0' END) AS DQ_1
        ,(CASE WHEN msi.campseg_stat_id = '40' AND CAST((msi.start_date - CURRENT_DATE) AS SIGNED) * 24 <![CDATA[<=]]>
        24 and msi.CREATE_USER_ID ='${param.userId}' THEN '1' ELSE '0' END) AS DQ_2
        ,(CASE WHEN msi.campseg_stat_id IN ('40', '54', '59', '71') and msi.CREATE_USER_ID ='${param.userId}' THEN '1'
        ELSE
        '0' END) AS DQ_3
        ,(CASE WHEN msi.campseg_stat_id = '54' and msi.CREATE_USER_ID ='${param.userId}' THEN
        concat(datediff(msi.end_date,now()),'') ELSE '0' END) AS DQ_D_1
        ,(CASE WHEN msi.campseg_stat_id = '40' and msi.CREATE_USER_ID ='${param.userId}' THEN
        concat(datediff(msi.start_date,now()),'') ELSE '0' END) AS DQ_D_2
        ,(CASE WHEN msi.campseg_stat_id IN ('40', '54', '59', '71') and msi.CREATE_USER_ID ='${param.userId}' THEN '1'
        ELSE
        '0' END) AS DQ_D_3,
        msi.APPROVE_FLOW_ID
        from mcd_camp_def msi
        left join mcd_sys_user uu on uu.USER_ID = msi.CREATE_USER_ID
        <where>
        msi.COMMON_OR_PRISM_CREATE = 0
            <choose>
                <when test="param.pid != null and param.pid != ''">
                    and msi.campseg_root_id = #{param.pid}
                </when>
                <otherwise>
                    and msi.campseg_root_id = '0'
                </otherwise>
            </choose>
            <choose>
                <when test="param.campClass != null and param.campClass == 4">
                    and msi.CAMP_DEF_TYPE != 1
                </when>
                <otherwise>
                    and msi.CAMP_DEF_TYPE = 1
                </otherwise>
            </choose>
             <if test="param.creator != null and param.creator != ''">
                and uu.USER_NAME like concat('%', #{param.creator}, '%')
            </if>
            <if test="param.keyWords != null and param.keyWords != ''">
                and concat(msi.campseg_name, msi.campseg_id) like concat('%', #{param.keyWords}, '%')
            </if>
            <if test="param.campStartDay != null and param.campStartDay != ''">
                and (msi.START_DATE<![CDATA[>=]]>#{param.campStartDayStart} and msi.START_DATE<![CDATA[<=]]>#{param.campStartDayEnd})
            </if>
            <if test="param.campEndDay != null and param.campEndDay != ''">
                and (msi.END_DATE<![CDATA[>=]]>#{param.campEndDayStart} and msi.END_DATE<![CDATA[<=]]>#{param.campEndDayEnd})
            </if>
            <if test="param.isSelectMy != null and param.isSelectMy == 1">
                and msi.CREATE_USER_ID= #{param.userId}
            </if>
            <if test="param.userCity != null and param.userCity != ''">
                and msi.city_id= #{param.userCity}
            </if>
            <if test="param.campsegStatId != null and param.campsegStatId != ''">
                and msi.campseg_stat_id = #{param.campsegStatId}
            </if>
            <if test="param.channelId != null and param.channelId != ''">
                and msi.CAMPSEG_ID in (select
                <choose>
                    <when test="param.pid != null and param.pid != ''">
                        CAMPSEG_PID
                    </when>
                    <otherwise>
                        CAMPSEG_ROOT_ID
                    </otherwise>
                </choose>
                from mcd_camp_channel_list mccl where
                <if test="param.pid != null and param.pid != ''">
                    msi.CAMPSEG_ID=mccl.CAMPSEG_PID
                </if>
                <if test="param.pid == null or param.pid == ''">
                    msi.CAMPSEG_ID=mccl.CAMPSEG_ROOT_ID
                </if>
                and mccl.CHANNEL_ID=#{param.channelId}
                <if test="param.adivId != null and param.adivId != ''">
                    and mccl.CHANNEL_ADIV_ID=#{param.adivId}
                </if>
                )
            </if>

            <if test="param.campCreateType != null and param.campCreateType != ''">
                and msi.CAMP_CREATE_TYPE = #{param.campCreateType}
            </if>
            <if test="param.keyWords != null and param.keyWords != ''">
                and ( msi.CAMPSEG_ID like concat('%',#{param.keyWords},'%') or msi.CAMPSEG_NAME like  concat('%',#{param.keyWords},'%')   )
            </if>
            <if test="param.unityCampsegId != null and param.unityCampsegId != '' and param.unityCampsegId == '1'.toString() ">
                and  msi.UNITY_CAMPSEG_ID   is not null
            </if>
            <if test="param.cepEventId != null and param.cepEventId != ''">
                and exists(select 1
                from mcd_camp_channel_list mccl
                where mccl.CAMPSEG_ROOT_ID = msi.CAMPSEG_ID
                and mccl.CEP_EVENT_ID =  #{param.cepEventId})
            </if>
            order by msi.create_time desc
        </where>
    </select>

    <select id="queryMcdSubCampList" resultType="com.asiainfo.biapp.pec.plan.vo.CampManage">
        select msi.create_time, msi.campseg_name, mccl.campseg_id,
        msi.preview_camp,
        msi.start_date , msi.end_date , uu.USER_NAME create_username ,msi.campseg_stat_id, msi.city_id
        ,(CASE msi.CREATE_USER_ID WHEN '${userId}' THEN '0' ELSE '1' END) as is_my
        ,(CASE WHEN msi.campseg_stat_id = '54' AND CAST((msi.end_date - CURRENT_DATE) AS SIGNED) * 24 <![CDATA[<=]]> 72
        and msi.CREATE_USER_ID ='${userId}' THEN '1' ELSE '0' END) AS DQ_1
        ,(CASE WHEN msi.campseg_stat_id = '40' AND CAST((msi.start_date - CURRENT_DATE) AS SIGNED) * 24 <![CDATA[<=]]>
        24 and msi.CREATE_USER_ID ='${userId}' THEN '1' ELSE '0' END) AS DQ_2
        ,(CASE WHEN msi.campseg_stat_id IN ('40', '54', '59', '71') and msi.CREATE_USER_ID ='${userId}' THEN '1'
        ELSE
        '0' END) AS DQ_3
        ,(CASE WHEN msi.campseg_stat_id = '54' and msi.CREATE_USER_ID ='${userId}' THEN
        concat(datediff(msi.end_date,now()),'') ELSE '0' END) AS DQ_D_1
        ,(CASE WHEN msi.campseg_stat_id = '40' and msi.CREATE_USER_ID ='${userId}' THEN
        concat(datediff(msi.start_date,now()),'') ELSE '0' END) AS DQ_D_2
        ,(CASE WHEN msi.campseg_stat_id IN ('40', '54', '59', '71') and msi.CREATE_USER_ID ='${userId}' THEN '1'
        ELSE
        '0' END) AS DQ_D_3,
        msi.APPROVE_FLOW_ID
        from mcd_camp_def msi
        left join mcd_sys_user uu on uu.USER_ID = msi.CREATE_USER_ID
        left join mcd_camp_channel_list mccl  on msi.CAMPSEG_ID=mccl.CAMPSEG_ROOT_ID
        where   msi.campseg_root_id = '0' and mccl.CAMPSEG_ROOT_ID = #{campsegRootId} and msi.COMMON_OR_PRISM_CREATE = 0
        order by msi.create_time desc

    </select>

    <select id="exportJxPageCampDef" resultType="com.asiainfo.biapp.pec.plan.jx.camp.vo.CampExportVO">
        select msi.create_time, msi.campseg_name, msi.campseg_id,
        msi.preview_camp,
        msi.city_id,
        mdc.city_name ,
        evt.CAMPSEG_IDs SUB_CAMPSEG_IDs,
        evt.CHANNEL_NAMEs,
        evt.ADIV_NAMEs,
        evt.WAVE_NO,
        evt.EVENT_IDS,
        evt.EVENT_NAMES,
        msi.start_date , msi.end_date , uu.USER_NAME create_username ,msi.campseg_stat_id,
        msi.APPROVE_FLOW_ID
        from mcd_camp_def msi
        left join mcd_sys_user uu on uu.USER_ID = msi.CREATE_USER_ID
        left join mcd_sys_city mdc on mdc.city_id = msi.city_id
        left join
            ( select CAMPSEG_ROOT_ID,
                group_concat(CAMPSEG_ID)     CAMPSEG_IDs,
                group_concat(CHANNEL_NAME)   CHANNEL_NAMEs,
                group_concat(ADIV_NAME)     ADIV_NAMEs,
                group_concat(CAMP_CLASS)     WAVE_NO,
                group_concat(CEP_EVENT_ID)   EVENT_IDS,
                group_concat(CEP_SCENE_NAME) EVENT_NAMES
                from (
                    select mccl.CAMPSEG_ROOT_ID,
                    mccl.CAMPSEG_ID,
                    mccl.CEP_EVENT_ID,
                    mccl.CEP_SCENE_NAME,
                    mdai.ADIV_NAME,
                    IF(mccl.CAMP_CLASS = 1, 1, 2) CAMP_CLASS,
                    mdc.CHANNEL_NAME
                    from mcd_camp_channel_list mccl
                    left join mcd_dim_channel mdc on mccl.CHANNEL_ID = mdc.CHANNEL_ID
                    left join mcd_dim_adiv_info mdai on mccl.CHANNEL_ADIV_ID = mdai.ADIV_ID
                    where 1 = 1
                    <if test="param.channelId != null and param.channelId != ''">
                        and mccl.CHANNEL_ID = #{param.channelId}
                    </if>
                ) t
                group by CAMPSEG_ROOT_ID ) evt on evt.CAMPSEG_ROOT_ID = msi.CAMPSEG_ID
        <where>
        msi.COMMON_OR_PRISM_CREATE = 0
            <choose>
                <when test="param.pid != null and param.pid != ''">
                    and msi.campseg_root_id = #{param.pid}
                </when>
                <otherwise>
                    and msi.campseg_root_id = '0'
                </otherwise>
            </choose>
            <choose>
                <when test="param.campClass != null and param.campClass == 4">
                    and msi.CAMP_DEF_TYPE != 1
                </when>
                <otherwise>
                    and msi.CAMP_DEF_TYPE = 1
                </otherwise>
            </choose>
            <if test="param.creator != null and param.creator != ''">
                and uu.USER_NAME like concat('%', #{param.creator}, '%')
            </if>
            <if test="param.keyWords != null and param.keyWords != ''">
                and concat(msi.campseg_name, msi.campseg_id) like concat('%', #{param.keyWords}, '%')
            </if>
            <if test="param.campStartDay != null and param.campStartDay != ''">
                and (msi.START_DATE<![CDATA[>=]]>#{param.campStartDayStart} and msi.START_DATE<![CDATA[<=]]>#{param.campStartDayEnd})
            </if>
            <if test="param.campEndDay != null and param.campEndDay != ''">
                and (msi.END_DATE<![CDATA[>=]]>#{param.campEndDayStart} and msi.END_DATE<![CDATA[<=]]>#{param.campEndDayEnd})
            </if>
            <if test="param.isSelectMy != null and param.isSelectMy == 1">
                and msi.CREATE_USER_ID= #{param.userId}
            </if>
            <if test="param.userCity != null and param.userCity != ''">
                and msi.city_id= #{param.userCity}
            </if>
            <if test="param.campsegStatId != null and param.campsegStatId != ''">
                and msi.campseg_stat_id = #{param.campsegStatId}
            </if>
            <if test="param.channelId != null and param.channelId != ''">
                and msi.CAMPSEG_ID in (select
                <choose>
                    <when test="param.pid != null and param.pid != ''">
                        CAMPSEG_PID
                    </when>
                    <otherwise>
                        CAMPSEG_ROOT_ID
                    </otherwise>
                </choose>
                from mcd_camp_channel_list mccl where
                <if test="param.pid != null and param.pid != ''">
                    msi.CAMPSEG_ID=mccl.CAMPSEG_PID
                </if>
                <if test="param.pid == null or param.pid == ''">
                    msi.CAMPSEG_ID=mccl.CAMPSEG_ROOT_ID
                </if>
                and mccl.CHANNEL_ID=#{param.channelId}
                <if test="param.adivId != null and param.adivId != ''">
                    and mccl.CHANNEL_ADIV_ID=#{param.adivId}
                </if>
                )
            </if>

            <if test="param.campCreateType != null and param.campCreateType != ''">
                and msi.CAMP_CREATE_TYPE = #{param.campCreateType}
            </if>
            <if test="param.keyWords != null and param.keyWords != ''">
                and ( msi.CAMPSEG_ID like concat('%',#{param.keyWords},'%') or msi.CAMPSEG_NAME like  concat('%',#{param.keyWords},'%')   )
            </if>
            <if test="param.unityCampsegId != null and param.unityCampsegId != '' and param.unityCampsegId == '1'.toString() ">
                and  msi.UNITY_CAMPSEG_ID   is not null
            </if>
            <if test="param.cepEventId != null and param.cepEventId != ''">
                and exists(select 1
                from mcd_camp_channel_list mccl
                where mccl.CAMPSEG_ROOT_ID = msi.CAMPSEG_ID
                and mccl.CEP_EVENT_ID =  #{param.cepEventId})
            </if>
            order by msi.create_time desc
        </where>
    </select>

    <select id="listChannelIdByCampsegId" resultType="java.lang.String">
        select CHANNEL_ID
        from mcd_camp_channel_list
        where campseg_root_id = #{campsegId,jdbcType=VARCHAR}
        group by CHANNEL_ID
    </select>
</mapper>
