<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.asiainfo.biapp.pec.plan.jx.camp.dao.McdCampChannelListJxDao">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.asiainfo.biapp.pec.plan.model.McdCampChannelList">
        <id column="CAMPSEG_ID" property="campsegId"/>
        <result column="CAMPSEG_PID" property="campsegPid"/>
        <result column="CAMPSEG_ROOT_ID" property="campsegRootId"/>
        <result column="P_CUSTGROUP_ID" property="pCustgroupId"/>
        <result column="CUSTGROUP_ID" property="custgroupId"/>
        <result column="PLAN_ID" property="planId"/>
        <result column="CHANNEL_ID" property="channelId"/>
        <result column="CHANNEL_ADIV_ID" property="channelAdivId"/>
        <result column="CAMP_CLASS" property="campClass"/>
        <result column="WAVES_CAMP_PID" property="wavesCampPid"/>
        <result column="WAVES_CHANNEL_PID" property="wavesChannelPid"/>
        <result column="WAVES_RULE_ID" property="wavesRuleId"/>
        <result column="WAVES_NO" property="wavesNo"/>
        <result column="BOX_NO" property="boxNo"/>
        <result column="BOX_RULE_EXP" property="boxRuleExp"/>
        <result column="CUSTGROUP_EXP" property="custgroupExp"/>
        <result column="IS_SEPARATE_BOX" property="isSeparateBox"/>
        <result column="IS_OUT_CALL_PLANS" property="isOutCallPlans"/>
        <result column="IS_CHANNEL_PREDILECTION" property="isChannelPredilection"/>
        <result column="STATUS" property="status"/>
        <result column="REASON" property="reason"/>
        <result column="IF_HAVE_VAR" property="ifHaveVar"/>
        <result column="EXEC_CONTENT" property="execContent"/>
        <result column="HANDLE_URL" property="handleUrl"/>
        <result column="CEP_EVENT_ID" property="cepEventId"/>
        <result column="EVENT_PARAM_JSON" property="eventParamJson"/>
        <result column="CEP_SCENE_NAME" property="cepSceneName"/>
        <result column="MARKETING_TERM" property="marketingTerm"/>
        <result column="PCC_ID" property="pccId"/>
        <result column="TIME_ID" property="timeId"/>
        <result column="TIME_DISTINDES" property="timeDistindes"/>
        <result column="FREQUENCY" property="frequency"/>
        <result column="UPDATE_CYCLE" property="updateCycle"/>
        <result column="SMS_CONTENT" property="smsContent"/>
        <result column="STREAM_EVENT_ID" property="streamEventId"/>
        <result column="MATERIAL_DISPLAY_URL" property="materialDisplayUrl"/>
        <result column="MATERIAL_CLICK_URL" property="materialClickUrl"/>
        <result column="PRIORITY_ORDER" property="priorityOrder"/>
        <result column="EXECUTE_TIME_MONTH" property="executeTimeMonth"/>
        <result column="EXECUTE_TIME_WEEK" property="executeTimeWeek"/>
        <result column="EXECUTE_TIME_DAY" property="executeTimeDay"/>
        <result column="START_DATE" property="startDate"/>
        <result column="END_DATE" property="endDate"/>
    </resultMap>

    <resultMap id="channelMap" type="com.asiainfo.biapp.pec.plan.vo.PriorityChannel">
        <result column="CHANNEL_ID" property="channelId"/>
        <result column="CHANNEL_NAME" property="channelName"/>
        <collection property="priorityAdivs" ofType="com.asiainfo.biapp.pec.plan.vo.PriorityAdiv">
            <result column="CHANNEL_ADIV_ID" property="adivId"/>
            <result column="ADIV_NAME" property="adivName"/>
            <result column="CAMP_NUM" property="campNum"/>
        </collection>
    </resultMap>

    <select id="queryPriorityChannel" parameterType="String" resultMap="channelMap">
        select list.CHANNEL_ID,
               mdc.CHANNEL_NAME,
               list.CHANNEL_ADIV_ID,
               mdai.ADIV_NAME,
               count(distinct list.CAMPSEG_ID) CAMP_NUM
        from mcd_camp_channel_list list
                 left join mcd_dim_channel mdc on
            list.CHANNEL_ID = mdc.CHANNEL_ID
                 left join mcd_dim_adiv_info mdai on
            list.CHANNEL_ADIV_ID = mdai.ADIV_ID
        where mdc.CHANNEL_ID is not null
          and mdai.ADIV_ID is not null
          <if test="channelType != null and channelType != ''">
             and mdc.CHANNEL_TYPE = #{channelType}
          </if>
        group by list.CHANNEL_ID, mdc.CHANNEL_NAME, list.CHANNEL_ADIV_ID, mdai.ADIV_NAME
    </select>



    <select id="pagePriorityOrderJx" resultType="com.asiainfo.biapp.pec.plan.jx.camp.model.CampPriorityOrderJx">
        select
        mcd.CAMPSEG_NAME ,
        mccl.CAMPSEG_ID ,
        mccl.CAMPSEG_PID ,
        mccl.CHANNEL_ID ,
        mccl.CHANNEL_ADIV_ID,
        mccl.PRIORITY_ORDER ,
        mcd.CREATE_TIME ,
        mcd2.CUSTOM_NUM
        from mcd_camp_channel_list mccl
        left join mcd_camp_def mcd on
        mcd.CAMPSEG_ID = mccl.CAMPSEG_PID
        left join mcd_custgroup_def mcd2 on
        mccl.CUSTGROUP_ID = mcd2.CUSTOM_GROUP_ID
         where mcd.CAMPSEG_STAT_ID = 54
        <if test="channelId != null and channelId != ''">
            and mccl.channel_id = #{channelId,jdbcType=VARCHAR}
        </if>
        <if test="adivId != null and adivId != ''">
            and mccl.channel_adiv_id = #{adivId,jdbcType=VARCHAR}
        </if>

        order by mccl.PRIORITY_ORDER desc, mcd.CREATE_TIME desc
    </select>

</mapper>
