<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.asiainfo.biapp.pec.plan.jx.user.dao.UserEmisDao">


    <resultMap id="userOrgMap" type="com.asiainfo.biapp.pec.plan.jx.user.vo.UserOrg">
        <result column="DEPT_ID" property="orgId" ></result>
        <result column="TITLE" property="orgName" ></result>
        <result column="PARENT_ID" property="parentOrgId" ></result>

    </resultMap>


    <select id="queryOrgInfo" resultMap="userOrgMap" >

        select DEPT_ID,TITLE,PARENT_ID from mcd_sys_department  where DEL_FLAG =0

    </select>



    <resultMap id="roleInfoMap" type="com.asiainfo.biapp.pec.plan.jx.user.vo.UserRole">
        <result column="ROLE_ID" property="id" ></result>
        <result column="ROLE_NAME" property="name" ></result>
        <result column="ROLE_DESC" property="desc" ></result>

    </resultMap>


    <select id="queryRoleInfo" resultMap="roleInfoMap" >

        select ROLE_ID,ROLE_NAME,ROLE_DESC from mcd_sys_role where DEL_FLAG = 0

    </select>


</mapper>
