<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.asiainfo.biapp.pec.plan.jx.camp.dao.McdSmsSendMonitorDao">
    
    <select id="querySmsSendBasicInfo" resultType="map" >
 
    SELECT
       A.CAMPSEG_ID,
       A.CAMPSEG_NAME,
       A.CAMPSEG_ROOT_ID,
       B.TASK_ID,
       A.CITY_ID,
       Y.CITY_NAME,
       A.CREATE_USER_ID,
       U.USER_NAME,
       A.START_DATE,
       A.END_DATE,
       IFNULL(C.CUST_LIST_COUNT, 0) CUST_LIST_COUNT,
       G.EXEC_CONTENT,
       C.DATA_DATE,
       B.EXEC_STATUS,
       G.CHANNEL_ID,
       IFNULL(CTRL_STATUS, 0) CTRL_STATUS

FROM MCD_CAMP_DEF A
       LEFT JOIN     MCD_CAMP_CHANNEL_LIST G   ON G.CAMPSEG_PID = A.CAMPSEG_ID
       LEFT JOIN MCD_CAMP_TASK B ON G.CAMPSEG_ID = B.CAMPSEG_ID
       left join mcd_sys_user U ON U.USER_ID = A.CREATE_USER_ID
       LEFT JOIN mcd_sys_city Y ON Y.CITY_ID = A.CITY_ID
       LEFT JOIN (select O.TASK_ID, O.DATA_DATE, O.CUST_LIST_COUNT
                  from MCD_CAMP_TASK_DATE O
                         JOIN (SELECT distinct TASK_ID, MAX(DATA_DATE) DATA_DATE
                               FROM MCD_CAMP_TASK_DATE
                               group by TASK_ID) M ON O.TASK_ID = M.TASK_ID AND O.DATA_DATE = M.DATA_DATE ) C
         ON B.TASK_ID = C.TASK_ID
WHERE   B.CHANNEL_ID in ( '801','901')

  AND B.EXEC_STATUS IN (50, 51, 59, 70, 71)

  AND C.TASK_ID IS NOT NULL
    </select>

    <select id="querySmsSendHistoryBasicInfo"  resultType="map" >

   SELECT
       A.CAMPSEG_ID,
       A.CAMPSEG_NAME,
       A.CAMPSEG_ROOT_ID,
       B.TASK_ID,
       A.CITY_ID,
       Y.CITY_NAME,
       A.CREATE_USER_ID,
       U.USER_NAME,
       A.START_DATE,
       A.END_DATE,
       IFNULL(C.CUST_LIST_COUNT, 0) CUST_LIST_COUNT,
       D.EXEC_CONTENT,
       D.CHANNEL_ID
    FROM MCD_CAMP_DEF A
       LEFT JOIN  MCD_CAMP_CHANNEL_LIST  D ON D.CAMPSEG_PID = A.CAMPSEG_ID
       LEFT JOIN MCD_CAMP_TASK B ON D.CAMPSEG_ID = B.CAMPSEG_ID
       left join mcd_sys_user U ON U.USER_ID = A.CREATE_USER_ID
       LEFT JOIN mcd_sys_city Y ON Y.CITY_ID = A.CITY_ID
       LEFT JOIN (SELECT TASK_ID, SUM(CUST_LIST_COUNT) CUST_LIST_COUNT FROM MCD_CAMP_TASK_DATE GROUP BY TASK_ID) C
         ON B.TASK_ID = C.TASK_ID

      WHERE B.TASK_ID IS NOT NULL
      AND B.EXEC_STATUS IN (90,91)
      and A.END_DATE >= #{endDate}
      AND B.CHANNEL_ID in ( '801','901')

    </select>


</mapper>
