<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.asiainfo.biapp.pec.plan.jx.hmh5.transplant.customLabel.mapper.McdFrontCareSmsLabelMapper">
    <select id="selectCareSmsLabels"
            resultType="com.asiainfo.biapp.pec.plan.jx.hmh5.transplant.customLabel.service.impl.resultInfo.SelectCareSmsLabelResultInfo">
        select SERIAL_NUM,
        LABEL_NAME,
        LABEL_CODE,
        LABEL_DESC,
        CITY_CODE,
        DATA_STATE,
        DATA_TABLE_NAME,
        LABEL_CONDITION,
        CREATE_BY,
        CREATE_TIME
        from mcd_front_care_sms_label
        <where>
            <if test="smsLabelParam.labelName != null and smsLabelParam.labelName != ''">
                AND LABEL_NAME LIKE '%'||#{smsLabelParam.labelName}||'%'
            </if>
            <if test="smsLabelParam.labelCode != null and smsLabelParam.labelCode != ''">
                AND LABEL_CODE LIKE '%'||#{smsLabelParam.labelCode}||'%'
            </if>
            <if test="smsLabelParam.cityCode != null and smsLabelParam.cityCode != ''">
                AND CITY_CODE = #{smsLabelParam.cityCode}
            </if>
            <if test="smsLabelParam.dataTableName != null and smsLabelParam.dataTableName != ''">
                AND DATA_TABLE_NAME = #{smsLabelParam.dataTableName}
            </if>
        </where>
        order by CREATE_TIME desc
    </select>
</mapper>
