<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.asiainfo.biapp.pec.element.jx.mapper.McdDimContactJxDao">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.asiainfo.biapp.pec.element.jx.entity.McdDimContactJx">
        <id column="CONTACT_ID" property="contactId" />
        <result column="CHANNEL_ID" property="channelId" />
        <result column="CONTACT_SOURCE" property="contactSource" />
        <result column="CONTACT_TYPE" property="contactType" />
        <result column="CONTACT_NAME" property="contactName" />
        <result column="CONTACT_CODE" property="contactCode" />
        <result column="CONTACT_CUST_TYPE" property="contactCustType" />
        <result column="CONTACT_EXEC_FLOW" property="contactExecFlow" />
        <result column="CONTACT_AVOID_TIME" property="contactAvoidTime" />
        <result column="CONTACT_STATUS" property="contactStatus" />
        <result column="IS_SCHEDULED" property="isScheduled" />
        <result column="CREATE_TIME" property="createTime" />
        <result column="DESCRIPTION" property="description" />
    </resultMap>

    <insert id="saveContactInfo" parameterType="com.asiainfo.biapp.pec.element.jx.entity.McdDimContactJx">
    insert into mcd_dim_contact
        <trim prefix="(" suffix=")" suffixOverrides=",">
                CONTACT_ID,
                CHANNEL_ID,
                CONTACT_SOURCE,
                CONTACT_TYPE,
                CONTACT_NAME,
                CONTACT_CODE,
                CONTACT_CUST_TYPE,
                CONTACT_EXEC_FLOW,
                CONTACT_AVOID_TIME,
                IS_SCHEDULED
            <if test="mcdDimContact.description != null and mcdDimContact.description != ''">
                ,DESCRIPTION
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
                #{mcdDimContact.contactId,jdbcType=VARCHAR},
                #{mcdDimContact.channelId,jdbcType=VARCHAR},
                #{mcdDimContact.contactSource,jdbcType=INTEGER},
                #{mcdDimContact.contactType,jdbcType=INTEGER},
                #{mcdDimContact.contactName,jdbcType=VARCHAR},
                #{mcdDimContact.contactId,jdbcType=VARCHAR},
                #{mcdDimContact.contactCustType,jdbcType=INTEGER},
                #{mcdDimContact.contactExecFlow,jdbcType=INTEGER},
                #{mcdDimContact.contactAvoidTime,jdbcType=VARCHAR},
                #{mcdDimContact.isScheduled,jdbcType=INTEGER}
            <if test="mcdDimContact.description != null and mcdDimContact.description != ''">
                ,#{mcdDimContact.description,jdbcType=VARCHAR}
            </if>
        </trim>
    </insert>

    <update id="updateContactInfo" parameterType="com.asiainfo.biapp.pec.element.jx.entity.McdDimContactJx">
        update mcd_dim_contact set
                CHANNEL_ID = #{mcdDimContact.channelId,jdbcType=VARCHAR},
                CONTACT_SOURCE = #{param1.contactSource,jdbcType=INTEGER},
                CONTACT_TYPE = #{mcdDimContact.contactType,jdbcType=INTEGER},
                CONTACT_NAME = #{mcdDimContact.contactName,jdbcType=VARCHAR},
                CONTACT_CODE = #{mcdDimContact.contactCode,jdbcType=VARCHAR},
                CONTACT_CUST_TYPE = #{mcdDimContact.contactCustType,jdbcType=INTEGER},
                CONTACT_EXEC_FLOW = #{mcdDimContact.contactExecFlow,jdbcType=INTEGER},
                CONTACT_AVOID_TIME = #{mcdDimContact.contactAvoidTime,jdbcType=VARCHAR},
                IS_SCHEDULED = #{mcdDimContact.isScheduled,jdbcType=INTEGER},
                DESCRIPTION = #{mcdDimContact.description,jdbcType=VARCHAR}
        where contact_id = #{mcdDimContact.contactId,jdbcType=VARCHAR}
    </update>

    <!--渠道id关联触点-->
    <select id="queryChannelContactByChannelId" parameterType="java.lang.String"
            resultType="com.asiainfo.biapp.pec.element.dto.response.DimContactDetailResponse">
        SELECT IDC.CONTACT_NAME,  IDC.CHANNEL_ID
                      FROM MCD_DIM_CHANNEL CH INNER JOIN MCD_DIM_CONTACT IDC
                       ON   CH.CHANNEL_ID = IDC.CHANNEL_ID WHERE 1=1
                      AND CH.CHANNEL_ID = #{channelId,jdbcType=VARCHAR}
    </select>
</mapper>
