<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.asiainfo.biapp.pec.element.jx.mapper.McdDimChannelJxDao">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.asiainfo.biapp.pec.element.jx.entity.McdDimChannelJx">
        <id column="CHANNEL_ID" property="channelId" />
        <result column="PARENT_ID" property="parentId" />
        <result column="CHANNEL_NAME" property="channelName" />
        <result column="CHANNEL_CODE" property="channelCode" />
        <result column="CHANNEL_TYPE" property="channelType" />
        <result column="CREATE_USER" property="createUser" />
        <result column="CREATE_TIME" property="createTime" />
        <result column="DISPLAY_ORDER" property="displayOrder" />
        <result column="ONLINE_STATUS" property="onlineStatus" />
        <result column="IOP_PREFIX_CODE" property="iopPrefixCode" />
        <result column="IOP_CHANNEL_NAME" property="iopChannelName" />
        <result column="IOP_CHANNEL_TYPE" property="iopChannelType" />
        <result column="IOP_DESCRIPTION" property="iopDescription" />
        <result column="IOP_OPERATOR" property="iopOperator" />
        <result column="IOP_CHANNEL_CODE" property="iopChannelCode" />
        <result column="CHANNEL_PREDILECTION_NAME" property="channelPredilectionName" />
        <result column="MARKETING_FORM" property="marketingForm"/>
    </resultMap>

    <insert id="saveChannelInfo" parameterType="com.asiainfo.biapp.pec.element.jx.entity.McdDimChannelJx">
        insert into mcd_dim_channel (
                CHANNEL_ID,
                CHANNEL_TYPE,
                CHANNEL_NAME,
                ONLINE_STATUS,
                IOP_OPERATOR,
                IOP_DESCRIPTION,
        CHANNEL_CODE,
        MARKETING_FORM,
        ADIV_TYPE,
        CHANNEL_TACTICS_SWITCH
        ) values
        <trim prefix="(" suffix=")" suffixOverrides=",">
            #{mcdDimChannel.channelId,jdbcType=VARCHAR,jdbcType=VARCHAR},
            #{mcdDimChannel.channelType,jdbcType=INTEGER},
            #{mcdDimChannel.channelName,jdbcType=VARCHAR},
            #{mcdDimChannel.onlineStatus,jdbcType=VARCHAR},
            #{mcdDimChannel.iopOperator,jdbcType=VARCHAR},
            #{mcdDimChannel.iopDescription,jdbcType=VARCHAR},
            #{mcdDimChannel.channelId,jdbcType=VARCHAR},
            #{mcdDimChannel.marketingForm,jdbcType=VARCHAR},
            #{mcdDimChannel.adivType,jdbcType=VARCHAR},
            #{mcdDimChannel.channelTacticsSwitch,jdbcType=INTEGER}
        </trim>
    </insert>

    <update id="updateChannel" parameterType="map">
        update mcd_dim_channel set
                                   CHANNEL_NAME    = #{mcdDimChannel.channelName,jdbcType=VARCHAR},
                                   CHANNEL_TYPE    = #{mcdDimChannel.channelType,jdbcType=VARCHAR},
                                   ONLINE_STATUS   = #{mcdDimChannel.onlineStatus,jdbcType=VARCHAR},
                                   IOP_OPERATOR    = #{mcdDimChannel.iopOperator,jdbcType=VARCHAR},
                                   IOP_DESCRIPTION = #{mcdDimChannel.iopDescription,jdbcType=VARCHAR},
                                   MARKETING_FORM  = #{mcdDimChannel.marketingForm,jdbcType=VARCHAR},
                                   ADIV_TYPE       = #{mcdDimChannel.adivType,jdbcType=VARCHAR},
                                   CHANNEL_TACTICS_SWITCH = #{mcdDimChannel.channelTacticsSwitch,jdbcType=INTEGER}
        where CHANNEL_ID = #{mcdDimChannel.channelId,jdbcType=VARCHAR}
    </update>

    <select id="listChannelByUserId" resultType="String">
        select mcrr.channel_id
        from mcd_channel_role_rel mcrr
                 join mcd_sys_user_role_relation msurr on mcrr.role_id = msurr.ROLE_ID
        where msurr.USER_ID = #{userId}
    </select>
</mapper>
