<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.asiainfo.biapp.pec.element.jx.mapper.McdPlanDefMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.asiainfo.biapp.pec.element.jx.model.McdPlanDef">
        <id column="PLAN_ID" property="planId" />
        <result column="ID" property="id" />
        <result column="PLAN_NAME" property="planName" />
        <result column="PLAN_TYPE" property="planType" />
        <result column="PLAN_SRV_TYPE" property="planSrvType" />
        <result column="STATUS" property="status" />
        <result column="PLAN_START_DATE" property="planStartDate" />
        <result column="PLAN_END_DATE" property="planEndDate" />
        <result column="PLAN_COMMENT" property="planComment" />
        <result column="PLAN_DESC" property="planDesc" />
        <result column="CREATE_USER_ID" property="createUserId" />
        <result column="CREATE_DATE" property="createDate" />
        <result column="DATA_SOURCE" property="dataSource" />
        <result column="fee_model" property="feeModel" />
        <result column="FEE_DESC" property="feeDesc" />
        <result column="IOP_PLAN_TYPE" property="iopPlanType" />
        <result column="IOP_PREFIX_CODE" property="iopPrefixCode" />
        <result column="PARENT_ID" property="parentId" />
        <result column="ADMIN_USER_ID" property="adminUserId" />
        <result column="AUTHORIZED_USER_ID" property="authorizedUserId" />
        <result column="PRO_STATUS" property="proStatus" />
        <result column="PRODUCT_CHARGES" property="productCharges" />
        <result column="PRODUCT_PRIORITY" property="productPriority" />
        <result column="IS_OPTIMIZATION" property="isOptimization" />
        <result column="OUT_SYSTEM_ID" property="outSystemId" />
        <result column="PROVINCE_CODE" property="provinceCode" />

    </resultMap>
    <resultMap id="queryMcdPlanPageListMap" type="com.asiainfo.biapp.pec.element.jx.model.McdPlanDefInfo" extends="BaseResultMap">
        <result column="IS_USED" property="isUsed" />
        <result column="IS_FLAG" property="isFlag" />
    </resultMap>


    <select id="queryPlanDefList"   resultMap="queryMcdPlanPageListMap">

        SELECT  A.*,
        if(isnull(CAMP.PLAN_ID),'是','否') IS_USED,
        if(isnull(excl.PLAN_ID),'1','0') IS_FLAG

        FROM MCD_PLAN_DEF A
        LEFT  JOIN (SELECT distinct PLAN_ID FROM mcd_camp_channel_list) CAMP ON A.PLAN_ID = CAMP.PLAN_ID
        left join mcd_plan_exclusivity excl on excl.PLAN_ID = A.PLAN_ID AND  excl.SOURCE_TYPE =0 and excl.TYPE =1

        WHERE    A.STATUS = '1' and A.PLAN_SRV_TYPE != '4'
        and A.PLAN_END_DATE &gt; sysdate()

        <if test="param.planTypeId != null and param.planTypeId !='' ">

            AND A.PLAN_TYPE = #{param.planTypeId}

        </if>
        <if test="param.planSrvType != null and param.planSrvType !='' ">

            AND A.PLAN_SRV_TYPE = #{param.planSrvType}

        </if>

        <if test="param.keyWords != null and param.keyWords !='' ">

            AND (A.PLAN_ID LIKE  concat( '%',#{param.keyWords},'%') OR A.PLAN_NAME LIKE  concat( '%',#{param.keyWords},'%'))

        </if>

        ORDER BY A.PLAN_START_DATE DESC, A.PLAN_ID DESC


    </select>
</mapper>
